body {
  background-color: #000;
  color: #ffffff;
  margin: 0;
  font-family: times;

  scrollbar-face-color: #58BC60;
  scrollbar-shadow-color: #267626;
  scrollbar-3dlight-color: #58AA58;
  scrollbar-highlight-color: #58AA58;
  scrollbar-darkshadow-color: #267626;
  scrollbar-track-color: #C0FFC0;
  scrollbar-arrow-color: #267626;
}

a {
  text-decoration:none;
  color: red;
}

a:hover {
  text-decoration:none;
  color: #c7b297;
}

/* downsized for proper accessibility, might need to limit to just homepage (investigate subpages) */
h1 {
  font-size: 1.5em;
}

h2 {
  font-size: medium;
  font-weight: normal;
  font-style: italic;
}

li.spaced {
  margin: 8px 0;
}

p {
  font-size: 14px;
}

table  {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border-spacing: 0;
  display: inline-block;
}

div.condensed {
  & > div {
    margin: 8px 0;
  }
  & p {
    margin: 0;
  }
}

div#sidenav {
  display: grid;
}

div.navitem {
  margin: 0;
  padding: 0;
  height: 28px;
}

div.popnav {
  border:1px solid #333;
  border-collapse:collapse;
  background:#222;
  width:185px;
  display: none;
  line-height: 12px;
  & a {
    font-family: arial;
    font-size: 12px;
    color: #fff;
    &:hover {
      color: #c7b297;
    }
  }
}

.bruce {
  color: green;

  &:hover {
    color: lightgreen;
  }
}

.center {
  text-align: center;
}

.container {
  display: flex;

  &.bio {
    margin: 8px 0;
  }
}

.item {
  margin: auto;

  &.bio {
    margin: 6px;

    & > p:first-child {
      margin: 0;
    }
  }
}
