<table border="0" cellpadding="0" cellspacing="0" width="900px" height="700px">

    <tr>
        <td rowspan="1" colspan="2" width="262px" height="160px">
            <img name="splitter0" src="/assets/splitter_1x1.jpg">
        </td>
        <td width="638px" height="160px">
            <img name="splitter1" src="/assets/splitter_1x2.jpg">
        </td>
    </tr>

    <tr>
        <td rowspan="1" colspan="2" width="262px" height="72px">
            <img name="splitter2" src="/assets/splitter_2x1.jpg" border="0"></td>
        <td width="638px" height="72px">
            <img name="splitter3" src="/assets/splitter_2x2.jpg" border="0"></td>
    </tr>

    <tr>
        <td valign="top">
            <div id="sidenav" name="menuDiv" class="menudiv">
                <img src="/assets/buttontop.jpg">
                <div id="menu0" class="navitem"><img id="image0" src="/assets/introbutton.jpg" onmouseover="if(menuActive==true){showMenu(0);MouseOver(this, 0);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 0);}else{menuActive=true;showMenu(0);MouseOver(this, 0);}" onmouseout="if(menuActive==true){MouseOut(this, 0);}"></div>
                <img src="/assets/spacer.jpg">
                <div id="menu1" class="navitem"><img id="image1" src="/assets/storybutton.jpg" onmouseover="if(menuActive==true){showMenu(1);MouseOver(this, 1);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 1);}else{menuActive=true;showMenu(1);MouseOver(this, 1);}" onmouseout="if(menuActive==true){MouseOut(this, 1);}"></div>
                <img src="/assets/spacer.jpg">
                <div id="menu2" class="navitem"><img id="image2" src="/assets/charactersbutton.jpg" onmouseover="if(menuActive==true){showMenu(2);MouseOver(this, 2);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 2);}else{menuActive=true;showMenu(2);MouseOver(this, 2);}" onmouseout="if(menuActive==true){MouseOut(this, 2);}"></div>
                <img src="/assets/spacer.jpg">
                <div id="menu3" class="navitem"><img id="image3" src="/assets/gamehelpbutton.jpg" onmouseover="if(menuActive==true){showMenu(3);MouseOver(this, 3);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 3);}else{menuActive=true;showMenu(3);MouseOver(this, 3);}" onmouseout="if(menuActive==true){MouseOut(this, 3);}"></div>
                <img src="/assets/spacer.jpg">
                <div id="menu4" class="navitem"><img id="image4" src="/assets/printablesbutton.jpg" onmouseover="if(menuActive==true){showMenu(4);MouseOver(this, 4);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 4);}else{menuActive=true;showMenu(4);MouseOver(this, 4);}" onmouseout="if(menuActive==true){MouseOut(this, 4);}"></div>
                <img src="/assets/spacer.jpg">
                <div id="menu5" class="navitem"><img id="image5" src="/assets/mediabutton.jpg" onmouseover="if(menuActive==true){showMenu(5);MouseOver(this, 5);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 5);}else{menuActive=true;showMenu(5);MouseOver(this, 5);}" onmouseout="if(menuActive==true){MouseOut(this, 5);}"></div>
                <img src="/assets/spacer.jpg">
                <div id="menu6" class="navitem"><img id="image6" src="/assets/etcbutton.jpg" onmouseover="if(menuActive==true){showMenu(6);MouseOver(this, 6);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 6);}else{menuActive=true;showMenu(6);MouseOver(this, 6);}" onmouseout="if(menuActive==true){MouseOut(this, 6);}"></div>
                <div id="popNav" class="popnav" border="60" style="position:absolute"></div>
                <img src="/assets/buttonbottom.jpg">
            </div>
        </td>
        <td rowspan="1" colspan="1" width="82" height="468" valign="top">
            <img name="splitter5" src="/assets/splitter_3x2.jpg" width="82" height="468" border="0"></td>
        <td rowspan="1" colspan="1" width="638" height="468" background="/web/20150224163944im_/http://www.thelegendofdragoon.net:80/bg.jpg" valign="top">