<div class="container">
    <table border="0" cellpadding="0" cellspacing="0" width="900" height="700">

        <tr>
            <td rowspan="1" colspan="2" width="262" height="160">
                <img name="splitter0" src="/assets/splitter_1x1.jpg">
            </td>
            <td width="638" height="160">
                <img name="splitter1" src="/assets/splitter_1x2.jpg">
            </td>
        </tr>

        <tr>
            <td rowspan="1" colspan="2" width="262px" height="72px">
                <img name="splitter2" src="/assets/splitter_2x1.jpg" border="0"></td>
            <td width="638px" height="72px">
                <img name="splitter3" src="/assets/splitter_2x2.jpg" border="0"></td>
        </tr>

        <tr>
            <td valign="top">
                <div id="sidenav"> <!-- TODO: Actual nav w/ hover, with alternate images for color highlighting -->
                    <img src="/assets/buttontop.jpg">
                    <div><a id="myIMG" href=""><img src="/assets/introbutton2.jpg"></a></div>
                    <img src="/assets/spacer.jpg">
                    <div><a href=""><img src="/assets/storybutton2.jpg"></a></div>
                    <img src="/assets/spacer.jpg">
                    <div><a href=""><img src="/assets/charactersbutton2.jpg"></a></div>
                    <img src="/assets/spacer.jpg">
                    <div><a href=""><img src="/assets/gamehelpbutton2.jpg"></a></div>
                    <img src="/assets/spacer.jpg">
                    <div><a href=""><img src="/assets/printablesbutton2.jpg"></a></div>
                    <img src="/assets/spacer.jpg">
                    <div><a href=""><img src="/assets/mediabutton2.jpg"></a></div>
                    <img src="/assets/spacer.jpg">
                    <div style="border-bottom: 1px black solid"><a href=""><img src="/assets/etcbutton2.jpg"></a></div>
                    <img src="/assets/buttonbottom.jpg">
                </div>
            </td>
            <td width="82px" valign="top">
                <img name="splitter5" src="/assets/splitter_3x2.jpg" border="0">
            </td>
            <td width="638px" valign="top">