<!DOCTYPE html>
<html>
<head>
  <!-- This site was ripped and slightly modified from thelegendofdragoon.net on
    the Wayback Machine (https://web.archive.org/web/*/thelegendofdragoon.net).

    I love The Legend of Dragoon and wish to keep this content alive. I am also
    planning on a complete rework, making it modern and adding much more.
    Rehosted by BitBruce (https://github.com/BitBruce/)

    ***

    Here is a post from the original website saying she will no longer maintain the website:
    Updates: 2-5-09

    All right peeps, here's the throw down:

    I will no longer be updating this website.

    Fact of the matter is, I've moved on with my life. I have BIGGER GOALS I've set my sights on and frankly speaking there is no longer any time for me to freely devote to this website or the game.

    Endiness the Land of Dragoons will still be around, but I will be doing other things. Thanks to all who gave support and content through the years (this will be EtLoD's eighth year!) and I wish you all happy adventuring in your life!

    Take care,
    Malk

   -->
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
<div class="container">
  <table border="0" cellpadding="0" cellspacing="0" width="900" height="700">

    <!--<tr>-->
      <!--<td rowspan="1" colspan="2" width="262" height="160">-->
        <!--<img name="splitter0" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/splitter_1x1.jpg" width="262" height="160" border="0"></td>-->
      <!--<td rowspan="1" colspan="1" width="638" height="160">-->
        <!--<img name="splitter1" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/splitter_1x2.jpg" width="638" height="160" border="0"></td>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<td rowspan="1" colspan="2" width="262" height="72">-->
        <!--<img name="splitter2" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/splitter_2x1.jpg" width="262" height="72" border="0"></td>-->
      <!--<td rowspan="1" colspan="1" width="638" height="72">-->
        <!--<img name="splitter3" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/splitter_2x2.jpg" width="638" height="72" border="0"></td>-->
    <!--</tr>-->

    <!--<tr>-->
      <!--<td rowspan="1" colspan="1" width="180" height="468" background="/web/20090321054458im_/http://www.thelegendofdragoon.net:80/bg.jpg" valign="top">-->
        <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/buttontop.jpg">-->
        <!--<div name="menuDiv" class="menudiv" style="position:relative">-->
          <!--<div id="menu0" style="position:relative"><img id="image0" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/introbutton.jpg" onmouseover="if(menuActive==true){showMenu(0);MouseOver(this, 0);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 0);}else{menuActive=true;showMenu(0);MouseOver(this, 0);}" onmouseout="if(menuActive==true){MouseOut(this, 0);}"></div>-->
          <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/spacer.jpg">-->
          <!--<div id="menu1" style="position:relative"><img id="image1" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/storybutton.jpg" onmouseover="if(menuActive==true){showMenu(1);MouseOver(this, 1);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 1);}else{menuActive=true;showMenu(1);MouseOver(this, 1);}" onmouseout="if(menuActive==true){MouseOut(this, 1);}"></div>-->
          <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/spacer.jpg">-->
          <!--<div id="menu2" style="position:relative"><img id="image2" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/charactersbutton.jpg" onmouseover="if(menuActive==true){showMenu(2);MouseOver(this, 2);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 2);}else{menuActive=true;showMenu(2);MouseOver(this, 2);}" onmouseout="if(menuActive==true){MouseOut(this, 2);}"></div>-->
          <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/spacer.jpg">-->
          <!--<div id="menu3" style="position:relative"><img id="image3" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/gamehelpbutton.jpg" onmouseover="if(menuActive==true){showMenu(3);MouseOver(this, 3);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 3);}else{menuActive=true;showMenu(3);MouseOver(this, 3);}" onmouseout="if(menuActive==true){MouseOut(this, 3);}"></div>-->
          <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/spacer.jpg">-->
          <!--<div id="menu4" style="position:relative"><img id="image4" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/printablesbutton.jpg" onmouseover="if(menuActive==true){showMenu(4);MouseOver(this, 4);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 4);}else{menuActive=true;showMenu(4);MouseOver(this, 4);}" onmouseout="if(menuActive==true){MouseOut(this, 4);}"></div>-->
          <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/spacer.jpg">-->
          <!--<div id="menu5" style="position:relative"><img id="image5" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/mediabutton.jpg" onmouseover="if(menuActive==true){showMenu(5);MouseOver(this, 5);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 5);}else{menuActive=true;showMenu(5);MouseOver(this, 5);}" onmouseout="if(menuActive==true){MouseOut(this, 5);}"></div>-->
          <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/spacer.jpg">-->
          <!--<div id="menu6" style="position:relative"><img id="image6" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/etcbutton.jpg" onmouseover="if(menuActive==true){showMenu(6);MouseOver(this, 6);}" onclick="if(menuActive==true){menuActive=false;hideMenu();MouseOut(this, 6);}else{menuActive=true;showMenu(6);MouseOver(this, 6);}" onmouseout="if(menuActive==true){MouseOut(this, 6);}"></div>-->
          <!--<div id="popDiv" class="popdiv" border="60" style="position:absolute"></div></div>-->
        <!--<img src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/buttonbottom.jpg">-->
      <!--</td>-->
      <!--<td rowspan="1" colspan="1" width="82" height="468" valign="top">-->
        <!--<img name="splitter5" src="https://web.archive.org/web/20090321054458im_/http://www.thelegendofdragoon.net/splitter_3x2.jpg" width="82" height="468" border="0"></td>-->
      <!--<td rowspan="1" colspan="1" width="638" height="468" background="/web/20090321054458im_/http://www.thelegendofdragoon.net:80/bg.jpg" valign="top">-->

        <p><h2><u>Welcome to Endiness, the Land of Dragoons!</u></h2>

        <p><u>Update: 05-18-18</u>

        <p>Hey all,</p>

        <p><a>thelegendofdragoon.net</a> is no longer being maintained so I, a fan of The Legend of Dragoon who's thankful for the site's helpful content, decided to copy the site over to a new host.</p>

        <p>All credit is due to the original creator (Malk?). The html and images were copied over into a Node + Express app. I would like to remake this site and add much more content, archiving everything related to this wonderful game. I will keep this classic site available as a section of the new site. I may add social features (forums possibly), and any good suggestions!</p>

        <p>I want to help the community maintain this legendary game. If you have any suggestions please email me at <a href="mailto:bruce@bitbruce.com">bruce@bitbruce.com</a>.</p>

        <p>Enjoy,<br/>Bruce</p>

        <p><u>Site Map</u>
        <ul>
          <li>Introduction - About the game and this site, also gets you back to the front page
          <li>Story - A brief synopsis of the prologue and all four chapters.  Includes script
          <li>Characters - Bios and information about the characters in Legend of Dragoon
          <li>Game Help - Everything you need for a quick hint or two...or an entire walkthrough
          <li>Printables - Contains the same information as Game Help, only in printer-friendly format
          <li>Media - Music, videos, and voice clips
          <li>Etc. - Stuff that doesn't fit in the other categories
        </ul>

      </td>
    </tr>
  </table>
</div>

</body>
</html>
