<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <% try { %>

    <script>window.location.replace("/");</script>

    <!--<% include ../partials/layout-start.ejs %>-->
    <!--<div class="center">-->
        <!--<h1>Error 404</h1>-->
        <!--<h2>Not Found</h2>-->
    <!--</div>-->
    <!--<% include ../partials/layout-end.ejs %>-->

    <% } catch(error) { %>

    <% } %>

</body>
</html>