<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <% try { %>

    <%- include(page) %>

    <% } catch(error) { %>
    
    <% } %>

    <!-- <script>window.location.replace("/example");</script> -->

</body>
</html>
