<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

<% include ../partials/layout-start.ejs %>

<% try { %>
<%- include(page) %>
<% } catch(error) { %>
<script>window.location.replace("/");</script>
<% } %>

<% include ../partials/layout-end.ejs %>
<% include ../partials/footer.ejs %>

</body>
</html>
