<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

    <% try { %>

    <% include ../partials/layout-start.ejs %>
    <%- include(page) %>
    <% include ../partials/layout-end.ejs %>

    <% } catch(error) { %>

    <div class="center">
        <h1>Error 404</h1>
        <h2>Not Found</h2>
    </div>
    <% include ../partials/layout-end.ejs %>

    <% } %>

</body>
</html>
