<h1>Abnormalities</h1>

<p>Abnormalities are caused by attacks from enemies and causes your character to
    lose HP, SP, attack power or even total control of his/her body.  Also, some Abnormalities
    are cured when the battle is over, or when a certain enemy is defeated.  Going into Dragoon
    Mode can cure all Abnormalities (except Unconciousness) and prevents abnormalites
    (again, except Unconciousness).</p>

<table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">
    <tr><td colspan="3"><p align="center"><font size="4">Abnormalities</font></td></tr>
    <tr><td><p align="center"><font size="3">Name</font></td>
    <td><p align="center"><font size="3">Description</font></td>
    <td><p align="center"><font size="3">Cure</font></td></tr>

    <tr><td><p align="center"><font size="2">Bewitched</font></td>
    <td><p align="center"><font size="2">Enemy controls character for three turns or until enemy dies or battle is over</font></td>
    <td><p align="center"><font size="2">Mind Purifier</font></td></tr>

    <tr><td><p align="center"><font size="2">Confused</font></td>
    <td><p align="center"><font size="2">The character will either run away or attack his/her allies for three turns or until battle is over</font></td>
    <td><p align="center"><font size="2">Mind Purifier</font></td></tr>

    <tr><td><p align="center"><font size="2">Dispirited</font></td>
    <td><p align="center"><font size="2">The character cannot gain SP</font></td>
    <td><p align="center"><font size="2">Body Purifier</font></td></tr>

    <tr><td><p align="center"><font size="2">Fear</font></td>
    <td><p align="center"><font size="2">Attacking power, Defense power, and Guarding power is cut in half</font></td>
    <td><p align="center"><font size="2">Mind Purifier</font></td></tr>

    <tr><td><p align="center"><font size="2">Petrified</font></td>
    <td><p align="center"><font size="2">The character is still alive but cannot make any action</font></td>
    <td><p align="center"><font size="2">Depetrifier</font></td></tr>

    <tr><td><p align="center"><font size="2">Poison</font></td>
    <td><p align="center"><font size="2">The character loses 10% HP every turn</font></td>
    <td><p align="center"><font size="2">Body Purifier</font></td></tr>

    <tr><td><p align="center"><font size="2">Stunned</font></td>
    <td><p align="center"><font size="2">The character cannot take any actions for three turns or until battle is over or character is attacked</font></td>
    <td><p align="center"><font size="2">Body Purifier</font></td></tr>

    <tr><td><p align="center"><font size="2">Unconsciousness</font></td>
    <td><p align="center"><font size="2">When HP is 0, the character is Unconscious and cannot make any move until revived</font></td>
    <td><p align="center"><font size="2">Angel's Prayer</font></td></tr>

    <tr><td><p align="center"><font size="2">Weapon Block</font></td>
    <td><p align="center"><font size="2">Character cannot use his/her weapon for three turns or until battle is over</font></td>
    <td><p align="center"><font size="2">Body Purifier</font></td></tr>
</table>