<h1 id="title">Accessories</h1>
<p>There are many Accessories in the world of Endiness, each one containing a special power to aid your characters.  Most can be bought in Stores for some gold or found in treasure chests, but a few are very rare and only given as Prizes.  Here is a complete list of Accessories in alphabetical order:

<table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">
    <tr><td colspan="2"><p align="center"><font size="4">Accessories</font></td></tr>
    <td><p align="center"><font size="3">Name</font></td>
    <td><p align="center"><font size="3">Description</font></td></tr>
    <tr><td><p align="center"><font size="2">Active Ring</td>
    <td><p align="center"><font size="2">Protects character from "Dispirit" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Amulet</font></td>
    <td><p align="center"><font size="2">Doubles maximum MP</font></td></tr>
    <tr><td><p align="center"><font size="2">Angel Scarf</font></td>
    <td><p align="center"><font size="2">Reduces damage from magic by 1/2</font></td></tr>
    <tr><td><p align="center"><font size="2">Attack Badge</font></td>
    <td><p align="center"><font size="2">Raises Physical and Magical Powers</font></td></tr>
    <tr><td><p align="center"><font size="2">Bandit's Ring</font></td>
    <td><p align="center"><font size="2">Increases agility by 20 points</font></td></tr>
    <tr><td><p align="center"><font size="2">Blue Sea Stone</font></td>
    <td><p align="center"><font size="2">Damage from water-based attacks is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Bracelet</font></td>
    <td><p align="center"><font size="2">Initial Accessory for all characters</font></td></tr>
    <tr><td><p align="center"><font size="2">Bravery Amulet</font></td>
    <td><p align="center"><font size="2">Protects character from "Fear" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Dancer's Ring</font></td>
    <td><p align="center"><font size="2">Increases agility by 20%</font></td></tr>
    <tr><td><p align="center"><font size="2">Darkness Stone</font></td>
    <td><p align="center"><font size="2">Damage from darkness-based attacks is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Destone Amulet</font></td>
    <td><p align="center"><font size="2">Protects character from "Petrified" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Dragon Shield</font></td>
    <td><p align="center"><font size="2">Damage from all physical attacks is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Elude Cloak</font></td>
    <td><p align="center"><font size="2">Increases A-AV by 20 points</font></td></tr>
    <tr><td><p align="center"><font size="2">Emerald Earrings</font></td>
    <td><p align="center"><font size="2">SP is gained when physically attacked</font></td></tr>
    <tr><td><p align="center"><font size="2">Giganto Ring</font></td>
    <td><p align="center"><font size="2">Raises physical attack and defense power</font></td></tr>
    <tr><td><p align="center"><font size="2">Golden Stone</font></td>
    <td><p align="center"><font size="2">Damage from earth-based attacks is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Guard Badge</font></td>
    <td><p align="center"><font size="2">Raises physical and magical defense power</font></td></tr>
    <tr><td><p align="center"><font size="2">Holy Ankh</font></td>
    <td><p align="center"><font size="2">Revives from dead with given probability</font></td></tr>
    <tr><td><p align="center"><font size="2">Jade Stone</font></td>
    <td><p align="center"><font size="2">Damage from wind-based attacks are cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Knight Shield</font></td>
    <td><p align="center"><font size="2">Raises defense power slightly</font></td></tr>
    <tr><td><p align="center"><font size="2">Magic Ego Bell</font></td>
    <td><p align="center"><font size="2">Protects character from "Bewitchment" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Magic Ring</font></td>
    <td><p align="center"><font size="2">MP is gained with each turn</font></td></tr>
    <tr><td><p align="center"><font size="2">Magical Ring</font></td>
    <td><p align="center"><font size="2">Raises magical attacking power</font></td></tr>
    <tr><td><p align="center"><font size="2">Panic Guard</font></td>
    <td><p align="center"><font size="2">Protects character from "Confusion" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Phantom Shield</font></td>
    <td><p align="center"><font size="2">Reduces damage from all attacks by 50% for all party members</font></td></tr>
    <tr><td><p align="center"><font size="2">Physical Ring</font></td>
    <td><p align="center"><font size="2">Raises max HP by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Platinum Collar</font></td>
    <td><p align="center"><font size="2">SP is gained when physically attacked</font></td></tr>
    <tr><td><p align="center"><font size="2">Poison Guard</font></td>
    <td><p align="center"><font size="2">Protects character from "Poison" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Power Wrist</font></td>
    <td><p align="center"><font size="2">Raises attack power slightly</font></td></tr>
    <tr><td><p align="center"><font size="2">Protector</font></td>
    <td><p align="center"><font size="2">Protects character from "Weapon Blocked" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Rainbow Earrings</font></td>
    <td><p align="center"><font size="2">Protects character from all abnormalities</font></td></tr>
    <tr><td><p align="center"><font size="2">Red Eye Stone</font></td>
    <td><p align="center"><font size="2">Damage from fire-based attacks is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Ruby Ring</font></td>
    <td><p align="center"><font size="2">SP is gained when magically attacked</font></td></tr>
    <tr><td><p align="center"><font size="2">Sage's Cloak</font></td>
    <td><p align="center"><font size="2">Increases M-AV and A-AV by 20 points</font></td></tr>
    <tr><td><p align="center"><font size="2">Sapphire Pin</font></td>
    <td><p align="center"><font size="2">MP is gained when magically attacked</font></td></tr>
    <tr><td><p align="center"><font size="2">Silver Stone</font></td>
    <td><p align="center"><font size="2">Damage from light-based attacks is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Spirit Cloak</font></td>
    <td><p align="center"><font size="2">Increases M-AV by 20 points</font></td></tr>
    <tr><td><p align="center"><font size="2">Spirit Ring</font></td>
    <td><p align="center"><font size="2">SP is gained with each turn</font></td></tr>
    <tr><td><p align="center"><font size="2">Spiritual Ring</font></td>
    <td><p align="center"><font size="2">Raises Magic Defense</font></td></tr>
    <tr><td><p align="center"><font size="2">Stun Guard</font></td>
    <td><p align="center"><font size="2">Protects character from "Stun" abnormality</font></td></tr>
    <tr><td><p align="center"><font size="2">Talisman</font></td>
    <td><p align="center"><font size="2">Protects character from instant death</font></td></tr>
    <tr><td><p align="center"><font size="2">Therapy Ring</font></td>
    <td><p align="center"><font size="2">HP is recovered with each turn</font></td></tr>
    <tr><td><p align="center"><font size="2">Ultimate Wargod</font></td>
    <td><p align="center"><font size="2">Additions are 100% completed automatically </font></td></tr>
    <tr><td><p align="center"><font size="2">Vanishing Stone</font></td>
    <td><p align="center"><font size="2">Gives access to Faust</font></td></tr>
    <tr><td><p align="center"><font size="2">Violet Stone</font></td>
    <td><p align="center"><font size="2">Damage from thunder-based attacks is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Wargod's Amulet</font></td>
    <td><p align="center"><font size="2">Increases hit rate for attacking all by 20%</font></td></tr>
    <tr><td><p align="center"><font size="2">Wargod Calling</font></td>
    <td><p align="center"><font size="2">Additions are 100% completed automatically, but SP gained is cut by 50%</font></td></tr>
    <tr><td><p align="center"><font size="2">Wargod's Sash</font></td>
    <td><p align="center"><font size="2">Raises SP by 50%</font></td></tr>
</table>