<h1 id="title">Additions</h1>
<p>Here you will find a list of everyone's additions at each level.  This way, you'll know which Additions give you more SP, which give you more Power, or which do both.  Keep in mind that the only way to get the FINAL Addition is to get to Level 5 (80+ complete Additions) on all of that character's previous Additions.</p>

<p>For everyone, here are the levels for Additions:
    <br>Level 1: 0-19
    <br>Level 2: 20-39

    <br>Level 3: 40-59
    <br>Level 4: 60-79
    <br>Level 5: 80-99
</p>

<table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
    <tr><td colspan="3"><p align="center"><font size="4"><b>DART</font></b></td></tr>
    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Double Slash</font></u>
    <br>Level Earned: Initial</font>
    <br>Number of Strikes: 1</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">35</font></td>

    <td><p align="center"><font size="2">157</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">165</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">180</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">35</font></td>

    <td><p align="center"><font size="2">202</font></td></tr>
    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Volcano</font></u>
    <br>Level Earned: 2</font>
    <br>Number of Strikes: 3</font></td></tr>
    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">20</font></td>

    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">24</font></td>
    <td><p align="center"><font size="2">210</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">28</font></td>
    <td><p align="center"><font size="2">220</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">32</font></td>

    <td><p align="center"><font size="2">230</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">36</font></td>
    <td><p align="center"><font size="2">250</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Burning Rush</font></u>
    <br>Level Earned: 8</font>
    <br>Number of Strikes: 2</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">30</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">45</font></td>

    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">60</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">75</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">102</font></td>

    <td><p align="center"><font size="2">150</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Crush Dance</font></u>
    <br>Level Earned: 15</font>
    <br>Number of Strikes: 4</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>

    <td><p align="center"><font size="2">50</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">60</font></td>
    <td><p align="center"><font size="2">172</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">75</font></td>
    <td><p align="center"><font size="2">195</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>

    <td><p align="center"><font size="2">85</font></td>
    <td><p align="center"><font size="2">217</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">250</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Madness Hero</font></u>
    <br>Level Earned: 22</font>
    <br>Number of Strikes: 5</font></td></tr>


    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">60</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">90</font></td>

    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">120</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">150</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">204</font></td>

    <td><p align="center"><font size="2">250</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Moon Strike</font></u>
    <br>Level Earned: 29</font>
    <br>Number of Strikes: 6</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>

    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">240</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">280</font></td></tr>

    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">320</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">350</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Blazing Dynamo</font></u>
    <br>Level Earned: FINAL</font>

    <br>Number of Strikes: 7</font></td></tr>


    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">250</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>

    <td><p align="center"><font size="2">110</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">120</font></td>
    <td><p align="center"><font size="2">350</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">130</font></td>
    <td><p align="center"><font size="2">450</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>

    <td><p align="center"><font size="2">140</font></td>
    <td><p align="center"><font size="2">450</font></td></tr>
    </table>



<hr="5">
<p>&nbsp;</p>



<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr><td colspan="3"><p align="center"><font size="4"><b>LAVITZ/ALBERT</font></b></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Harpoon</font></u>
    <br>Level Earned: Initial</font>
    <br>Number of Strikes: 1</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>

    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">38</font></td>
    <td><p align="center"><font size="2">110</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">42</font></td>
    <td><p align="center"><font size="2">120</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">45</font></td>

    <td><p align="center"><font size="2">130</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">50</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Spinning Cane</font></u>
    <br>Level Earned: 5</font>
    <br>Number of Strikes: 2</font></td></tr>


    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">125</font></td></tr>

    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">175</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Rod Typhoon</font></u>
    <br>Level Earned: 7</font>
    <br>Number of Strikes: 4</font></td></tr>


    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>

    <td><p align="center"><font size="2">30</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">45</font></td>
    <td><p align="center"><font size="2">162</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">60</font></td>
    <td><p align="center"><font size="2">174</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>

    <td><p align="center"><font size="2">75</font></td>
    <td><p align="center"><font size="2">186</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">202</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Gust of Wind Dance</font></u>
    <br>Level Earned: 11</font>
    <br>Number of Strikes: 6</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">35</font></td>

    <td><p align="center"><font size="2">240</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">280</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">320</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">350</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Flower/Blossom Storm</font></u>
    <br>Level Earned: FINAL</font>
    <br>Number of Strikes: 7</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>

    <td><p align="center"><font size="2">60</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">90</font></td>
    <td><p align="center"><font size="2">324</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">120</font></td>
    <td><p align="center"><font size="2">348</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>

    <td><p align="center"><font size="2">150</font></td>
    <td><p align="center"><font size="2">372</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">202</font></td>
    <td><p align="center"><font size="2">405</font></td></tr>
    </table>


<hr="5">
<p>&nbsp;</p>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr><td colspan="3"><p align="center"><font size="4"><b>ROSE</font></b></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Whip Smack</font></u>
    <br>Level Earned: Initial</font>
    <br>Number of Strikes: 1</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">125</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>

    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">175</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: More and More</font></u>
    <br>Level Earned: 14</font>
    <br>Number of Strikes: 2</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">30</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">45</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">60</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">75</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">102</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Hard Blade</font></u>
    <br>Level Earned: 19</font>
    <br>Number of Strikes: 5</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>

    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">250</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Demon's Dance</font></u>
    <br>Level Earned: FINAL</font>
    <br>Number of Strikes: 7</font></td></tr>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>

    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">280</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">360</font></td></tr>

    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">440</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">500</font></td></tr>
    </table>


<hr="5">
<p>&nbsp;</p>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr><td colspan="3"><p align="center"><font size="4"><b>HASCHEL</font></b></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Double Punch</font></u>
    <br>Level Earned: Initial</font>
    <br>Number of Strikes: 1</font></td></tr>



    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">38</font></td>
    <td><p align="center"><font size="2">110</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>

    <td><p align="center"><font size="2">42</font></td>
    <td><p align="center"><font size="2">120</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">45</font></td>
    <td><p align="center"><font size="2">130</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Flurry of Styx</font></u>
    <br>Level Earned: 14</font>
    <br>Number of Strikes: 2</font></td></tr>



    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>

    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">162</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">174</font></td></tr>

    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">186</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">202</font></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Summon 4 Gods</font></u>
    <br>Level Earned: 18</font>
    <br>Number of Strikes: 3</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">50</font></td>

    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">61</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">75</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">86</font></td>

    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>



    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Five-Ring Shattering</font></u>
    <br>Level Earned: 22</font>
    <br>Number of Strikes: 4</font></td></tr>



    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>

    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">187</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">40</font></td>
    <td><p align="center"><font size="2">225</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">45</font></td>
    <td><p align="center"><font size="2">262</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>

    <td><p align="center"><font size="2">50</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>




    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Hex Hammer</font></u>
    <br>Level Earned: 26</font>
    <br>Number of Strikes: 6</font></td></tr>




    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">15</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">15</font></td>

    <td><p align="center"><font size="2">250</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">15</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">14</font></td>
    <td><p align="center"><font size="2">350</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">15</font></td>

    <td><p align="center"><font size="2">400</font></td></tr>



    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Omni Sweep</font></u>
    <br>Level Earned: FINAL</font>
    <br>Number of Strikes: 7</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>

    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">50</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">75</font></td>
    <td><p align="center"><font size="2">345</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>

    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">390</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">125</font></td>
    <td><p align="center"><font size="2">435</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">150</font></td>
    <td><p align="center"><font size="2">501</font></td></tr>
    </table>

<hr="5">
<p>&nbsp;</p>



<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr><td colspan="3"><p align="center"><font size="4"><b>MERU</font></b></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Double Smack</font></u>
    <br>Level Earned: Initial</font>
    <br>Number of Strikes: 1</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">24</font></td>
    <td><p align="center"><font size="2">110</font></td></tr>

    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">28</font></td>
    <td><p align="center"><font size="2">120</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">32</font></td>
    <td><p align="center"><font size="2">130</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">34</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Hammer Spin</font></u>
    <br>Level Earned: 21</font>
    <br>Number of Strikes: 3</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>

    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">43</font></td>
    <td><p align="center"><font size="2">162</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">51</font></td>

    <td><p align="center"><font size="2">174</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">59</font></td>
    <td><p align="center"><font size="2">186</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">70</font></td>
    <td><p align="center"><font size="2">202</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Cool Boogie</font></u>
    <br>Level Earned: 26</font>
    <br>Number of Strikes: 4</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>

    <td><p align="center"><font size="2">60</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">90</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">120</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>

    <td><p align="center"><font size="2">150</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">200</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Cat's Cradle</font></u>
    <br>Level Earned: 30</font>
    <br>Number of Strikes: 6</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">20</font></td>

    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">195</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">240</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">20</font></td>

    <td><p align="center"><font size="2">285</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">351</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Perky Step</font></u>
    <br>Level Earned: FINAL</font>
    <br>Number of Strikes: 7</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>

    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">500</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>

    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">600</font></td></tr>
    </table>


<hr="5">


<p>&nbsp;</p>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr><td colspan="3"><p align="center"><font size="4"><b>KONGOL</font></b></td></tr>


    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Pursuit</font></u>
    <br>Level Earned: Initial</font>
    <br>Number of Strikes: 1</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">35</font></td>

    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">38</font></td>
    <td><p align="center"><font size="2">110</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">42</font></td>
    <td><p align="center"><font size="2">120</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">45</font></td>

    <td><p align="center"><font size="2">130</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">50</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Inferno</font></u>
    <br>Level Earned: 23</font>
    <br>Number of Strikes: 3</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">100</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>

    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">125</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">150</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">175</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>

    <td><p align="center"><font size="2">20</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>

    <tr><td colspan="3"><p align="center"><font size="3"><u>Name: Bone Crush</font></u>
    <br>Level Earned: FINAL</font>
    <br>Number of Strikes: 7</font></td></tr>

    <tr><td><p align="center"><font size="2">Level</font></td>
    <td><p align="center"><font size="2">Spirit Points</font></td>
    <td><p align="center"><font size="2">Damage %</font></td></tr>
    <tr><td><p align="center"><font size="2">1</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">200</font></td></tr>
    <tr><td><p align="center"><font size="2">2</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">220</font></td></tr>
    <tr><td><p align="center"><font size="2">3</font></td>

    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">240</font></td></tr>
    <tr><td><p align="center"><font size="2">4</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">260</font></td></tr>
    <tr><td><p align="center"><font size="2">5</font></td>
    <td><p align="center"><font size="2">100</font></td>
    <td><p align="center"><font size="2">300</font></td></tr>
</table>