<h1 id="title">Chapter Two: The Platinum Shadow</h1>
<p><b>READ WITH CAUTION: MAY CONTAIN SPOILERS</b></p>

<p>The group arrives in Fletz, a town where the stars are the center of attraction...and Lloyd is somewhere lurking. The
    team decides to explore the town a little, and they come across an interesting site...a bridge that has the name
    "Claire" engraved in it. Claire is Haschel's missing daughter's name, and is also Dart's mother's name....</p>
<p>While exploring the town, our group comes across a scene with the fair Princess Emille. She may be beautiful,
    but her attitude is anything but, so it seems. Albert in particular is shocked. They townspeople talk about how nice
    and sweet she used to be...wonder what happened...?</p>
<p>The group enters the bar where they meet Kaffie, a
    loud, talkitive girl who's in on all the gossip. When the group asks about Lloyd, she recommends they see Fester,
    the town's leading astronomer. He'll be a little tied up at first, but Shana will get his attention. Although he
    doesn't know much about Lloyd, he'll tell you about the Black Monster, the creature whom Dart wishes to bring to
    justice.</p>
<p>Soon after, Fester is off to see Princess Lisa, Emille's younger sister and a student of his.
    The group, needing a place to stay, visit Nello. Nello is a garderner whose dream is to fill the land of Fletz with
    greenery. Nello and Albert will talk long into the night...</p>
<p>In the morning, the group decides to go to
    the Barrens in the north in search of Lloyd. Along the way, the group is attacked by Mappi. He is defeated...sort
    of. After Dart lets down his guard, Mappi will attack him, and steal his Dragoon Spirit! Angry, Dart and the others
    follow him, finding themselves in Donau.</p>
<p>Donau is a beautiful city filled with flowers...however, there
    are many things wrong. Kate's fiance, Lynn, has left to find the Bandits who are raiding the streets of this town,
    and he only left Kate a letter before he left. The group visits Lynn's father, the Mayor of Donau, with the letter
    from Kate in hand.</p>
<p>Meanwhile, a young lady named Wink is exploring Donau, and she is attacked by
    bandits. However, she is saved by....Lloyd?! What's up with that?!</p>
<p>Back to our heroes, the mayor
    explains that the bandits are located in the Valley of Corrupted Gravity, and that they need King Zior's permission
    to go there. The Dragoons agree to help find Lynn.</p>
<p>While exiting the mayor's house, the group finds a
    young girl being bullied by some bandits. After a short moment, it's clear she can take care of herself. The girl
    introduces herself as Meru, the (self-proclaimed) most famous dancer in Donau. When the group starts to leave, she
    asks them if she can go with them to give them a "tour" of the Valley of Corrupted Gravity. In other words, she
    recruits herself as part of the team, bringing along her gigantic hammer.</p>
<p>Because they need the King's
    permission to enter the Valley, the group journeys back to Fletz. Somehow, Princess Lisa found out about KING Albert
    being there, and she wishes to see him. She explains to him what happened to Princess Emille. It seems that while
    out horseback riding six months ago, she fell off and must have hit her head. It was then the drastic change in her
    attitude developed. While in the castle, King Zior gives them permission to go to the Valley of Corrupted Gravity,
    and also invites them to dinner. At dinner, Princess Emille eats like a...pig. When she hears they are going to the
    Valley of Corrupted Gravity, however, she is stunned for a few seconds. (Hmmm...)</p>
<p>The next morning,
    it's off to the Valley. It's a bit confusing and seasickening, but somehow our heroes make it through...not without
    another freaky episode with Shana though. It seems there is a Virage in the Valley, and once again the team is
    forced to fight it. As its last strike, the Virage attempts to attack Shana. She shines with her blue light again,
    confusing everyone on the team, including Rose.</p>
<p>Finally, our team comes to the Land of the Gigantos.
    They must be careful, however, because not only are there bandits (whom do similar moves Haschel does...) but there
    are a lot of arrows too! The team makes it up to the top, where Haschel is forced to break down a door with his
    special move (this is awesome!). After awhile, however, he complains that his hand hurts. While the team goes into a
    nearby cave, Haschel and Meru wait outside. However, it seems Haschel was faking it, and knocks Meru out while the
    others are in the cave, and runs off.</p>
<p>When the team comes back outside, they ask Meru what happened and
    where Haschel went to. They search for awhlie, and find him inside a different cave at the end of a staircase. They
    go inside to find Gehrich, the leader of the Gehrich Gang who has been attacking Donau! It seems that Gehrich was
    once a student of Haschel's. They fight it out, with Haschel knocking Gehrich into a statue as the final blow.
    However, the weak statue begins to collapse, and everyone ducks, fearing for the end...until Kongol comes and
    catches the pillar, saving the team! Kongol wishes to join Dart, saying that he is a great leader. Dart and the
    others accept him as part of the team now.</p>
<p>While Haschel goes outside to bury his friend, the others
    look around to find Lynn and Dart's Red-Eye Dragoon Spirit. They find them downstairs, and Lynn then tells them that
    the Princess Emille is not the real Princess Emille!! It's once again back to Fletz for our heroes!</p>
<p>But not before Kate and Lynn's wedding in Donau. Shana, ironically, catches the boquet. Also, a Minitos in the bar
    mentions something about a Gem like Dart's being in Lohan...hmmm....</p>
<p>In Fletz, it turns out that
    Princess Emille has replaced the guards at the castle for bandits. The group must hurry before the fake Princess
    Emille gets the Moon Dagger at her Coming of Age ceremony, but first they need to find the real Princess Emille.
    Sneaking around the "guards", the group makes their way up to Princess Lisa's room. She has been waiting for them,
    and suggests they go to Princess Emille's room. When they get there, they look around for her, and discover there is
    a secret dimension in her room. They enter, and see her in a deep sleep. Albert manages to wake her up, and they
    hurry down to the Sun Chamber to stop the ceremony.</p>
<p>However, it is too late. The fake Princess Emille,
    or Lenus the Wingly, as it turns out, has already gotten her hands on the Moon Dagger and is taking it to her
    "love". This is a fight to be ready for, since Lenus knows how to use some pretty deadly Wingly magic!</p>
<p>After the fight, Lenus retreats with the Moon Dagger. The group then goes onto the massive ship, the Queen Fury, to
    find Lenus. While they are on the ship, Haschel has a flashback of why Claire left him.</p>
<p>During the
    night, the ship collides with a different ship...a ghost ship! While the crew tries to fix the repairs, Shana
    suddenly runs onto the ship, the others closely following. When they find her, they are surrounded by spirits. The
    gang searches the ship, wondering why Shana is so attracted to it (she seems to be attracted to a lot of bad things,
    huh?). After defeating the Magician Bogey several times, they are given a key to a locked door. A ghostly captain
    will speak to the group about a Black Monster (??!) who attacked the ship and killed Princess Louvia....but if she's
    dead, then why does the nursemaid call Shana "Princess Louvia"? It seems the souls of the knights of the ship cannot
    rest, so you'll have to put them to rest. Careful, they are tricky!</p>
<p>After they're defeated, the crew of
    the Queen Fury will tell you they are finished with the repairs...just in time, because the Ghost Ship is sinking!
    They all make it back...except Dart and Rose. Dart slips as he jumps, but as Rose goes to grab his arm, she slips as
    well. Both fall into a sea of blackness...</p>
<p>After a fading, you'll find Rose with Dart in a cave. Rose
    will have a flashback of the Dragon Campaign (she was alive back then!? That thing ended over 10,000 years
    ago!).</p>
<p>In the morning, a boy named Pete and his dog Pooch will find Rose and Dart, and he will take
    them back to his village in Lideria, teasing Rose about what he "saw" them doing (??). It seems Pete's mother is
    sick, and the closest doctor is in Fueno, which is beyond the Undersea Cavern, which in turn is filled with monsters
    and very dangerous. Dart and Rose agree to guide them to Fueno.</p>
<p>Also in Fueno...Meru and the others
    have been waiting for them! It's a happy reunion for all, especially Dart and Shana (with an eavesdrop from Meru,
    Haschel, and Albert, heh heh...).</p>
<p>The group goes down to where the Queen Fury is docked, and they speak
    with Commander Puler. He suspects that Lenus might be at Prison Island, a small island surrounded by rocks. To get
    there, the group must go back to Lideria and speak with the mayor, who will give them permission to open the valve
    that holds the water in the Undersea Cavern. With the water out of the way, there is another part that has yet to be
    explored.</p>
<p>Sure enough, there's Lenus, giving her "love" the Moon Dagger. Her "love" is actually Lloyd!!
    He tells Lenus to get rid of the Dragoons, and gives Lenus the Blue-Sea Dragoon Spirit, which controls the water and
    Regole the Blue Sea Dragon!</p>
<p>It's a tough fight, but our heroes manage to win. It's too bad Lloyd has
    the Moon Dagger, but it's a good thing that Meru is now the Blue Sea Dragoon! She sure is happy!</p>
<p>The group goes back to Fueno and boards the ship to Fletz. Although the group feels bad that they lost the Moon Dagger,
    King Zior is happy that his true daughter is back and that everyone is safe, and holds a tremendous ceremony for our
    heroes. Rose is concerned about the idea of being a "hero", Kongol just wants to practice with his axe, Meru and
    Haschel can't keep their noses out of the kitchen, and Albert likes to tease Emille. Dart and Shana,
    meanwhile...they have their own secrets.</p>
<p>Well, at the party, Dart goes around looking for Shana, to
    find her all dressed up in a beautiful lavender dress waiting outside the balcony. He thinks she looks especially
    beautiful tonight. They both wish on a shooting star, and the wish comes true... :*</p>

<p class="center"><a href="/story/chapter3">To Chapter Three: Fate and Soul</a></p>
<p class="center"><a href="/script/script2">Script for Chapter Two</a></p>