<h1 id="title">Chapter Four: Moon and Fate</h1>
<p><b>READ WITH CAUTION: MAY CONTAIN SPOILERS</b></p>

<p>Our heroes start off in the badlands of the Death Frontier, filled with sandtraps and a ton of enemies. They are
    looking for a place called Ulara, a secret home of ancient Winglies. Rose, however, feels that what has happened was
    her fault, and therefore refuses the help of the other Dragoons. Miranda, however, figures the situation is no
    longer "Rose's problem". Rose thinks Miranda is jumping to conclusions, explaining its not as easy as it seems. The
    two bitch back and forth until Miranda slaps Rose in the face and ends the fight.</p>
<p>Once the group
    arrives on a cliff, Rose explains that the choker she wears has special powers: It stops time for herself (making
    her an immortal) and it opens the city of Ulara. She says that Melbu Frahma's sister, Charle, gave her the
    choker.</p>
<p>The group finds themselves in the beautiful city of Ulara, where they are told by Caron, an old
    friend of Rose's, to see Charle.</p>
<p>Before the group meets Charle, they meet a young man who tells them
    the story of Faust. Faust was the right hand man of Melbu Frahma, and a master wizard and magician, so powerful he
    could create "clones" of himself. His magical powers made Melbu uneasy and he started to believe that Faust was
    being disloyal. Melbu Frahma then created the Vanishing Stone to make the clones of Faust disappear. Faust was also
    the commander of the Floating Fort Flanvel. This Fort was in charge of protecting five other Wingly cities. However,
    Faust manipulated Flanvel and used it to destroy other species. Eventually, Faust's power-hungry insanity ended
    Flanvel, and the humans attacked Flanvel from Vellweb with their "battery-powered arrow", thus bringing the
    once-mighty fortress crashing into Kashua Glacier.</p>
<p>In the city of Ulara is a bed of roses. It is there
    Miranda says that she hates roses. She believes that "they have thorns to bring out their own red by using the blood
    of those they hurt." She also explains that she sees her mother (not Queen Theresea) in the roses.</p>
<p>After exploring the town, the group meets Charle, Melbu's older sister.</p>
<p>Surprisingly sweet, the old
    Wingly has much to say. She explains that in the past, there were five Signet Spheres in five cities, but now only
    three are left. There was one destroyed in Kadessa during the Dragon Campaign, and the other was lost when the
    Divine Dragon attacked the Crystal Palace (remember?). The signets "can" be opened without the Divine Moon Objects
    (the Divine Moon Objects only hold the vast amount of energy which is needed to open the signets). In order to open
    the signets without the Divine Moon Objects, you merely need to have enough power as a Divine Moon Object.</p>
<p>The group asks how Zieg knew about the Signet Sphere and Shana. Charle says that the Moon that Never Sets, or
    the 108th fruit that is the God of Destruction that ends the world, was split into mind and soul by the Winglies.
    They sealed both the mind and soul: The soul was in the Crystal Sphere that Melbu had but was broken during the
    Dragon Campaign (which allowed the soul to transmigrate into human bodies) and the flesh was the Moon that Never
    Sets in the sky. When the Moon Child goes to the Moon that Never Sets, the Virage Embryo is born...this is why Rose
    was hired as the "Black Monster" to kill the Moon Child. Charle further says that she does not understand how Zieg
    knew and what his intentions are.</p>
<p>But why were the Divine Moon Objects even made? the group asks.
    Charle says the Melbu insisted so. He had his Crystal Sphere so he could draw unlimited magical powers and rule over
    all. However, Charle tried to stop him, saying she wanted all to live...so SHE created the SIGNET SPHERES to weaken
    the Crystal Sphere's magic power. The five signets that protect the Moon that Never Sets restrained the magic power
    that flows from there (the Moon). Charle thought her inventions were successful...until Meblu created the Divine
    Moon Objects to destroy her Signet Spheres.</p>
<p>Charle adds that the three remaining Signet Spheres are
    located in Magical City Aglis, Law City Zenebatos, and Death City Mayfil. Rose is amazed that these ancient cities
    are still alive.</p>
<p>After the long talk, Charle will dismiss the group. They will then split up. Dart
    makes his promise to find Shana. He will then go to Rose. The scene will fade to the Death Frontier, where the two
    of them fought. Dart defeated Rose, but he decided not to kill her since he considered the Black Monster to be
    already dead. Dart and Rose will go to the bar where they find Miranda and Haschel drinking and telling stories.
    Dart and Rose join them in a drink. The group finds King Albert and Kongol in the weapons store. They think that
    they will need powerful weapons for their next journey. Meru is on the outskirts of town talking with Caron. The
    next morning, all the Winglies gather to wish the Dragoons good-bye and good luck.</p>
<p>The group finds
    themselves in The Land of the Gigantos. They make their way past that, through the Valley of Corrupted Gravity, the
    Barrens, and then back to Fletz. The King informs Dart and the group that a dock for the Queen Fury has been built
    to take them wherever they need to go. On the boat, the group sails to Rogue, which is supposed to be where the
    Magic City Aglis once was.</p>
<p>Haschel is delighted to go to Rogue...it's his hometown! Everyone in the
    village is like an extended family, they know one another and are delighted to see Haschel and his friends (the
    mayor is especially grateful to see Haschel). They tell Haschel of a giant "stick" out on the sea. The group goes on
    a deck and sees the stick. Haschel explains that it was not there 20 years ago when he left Rogue to look for his
    daughter. Rose then tells you about the different ancient cities. Deningrad, which was known as the "Birth City",
    was were babies were born. However, not all babies could live. The ones with the weakest magic powers were killed.
    Kadessa, now the Forbidden Land, was the Wingly Capital dominated by Melbu Frahma. It was the center of politics and
    military. The Death City Mayfil was where the souls of the dead were sent to go to the infernal world. Winglies
    controlled Mayfil because they wanted to rule the lives of everyone...even the dead. Law City Zenebatos was where
    Wingly laws were made. Publicly, the Winglies said the laws were made for justice, but in reality they were used to
    judge other species. Trials and executions were also held in Zenebatos. Magical City Aglis was were magic was
    studied. At one time, all these cities could float.</p>
<p>After the talk, the "stick" comes out of the
    ocean...and this "stick" is really the Magical City Aglis! The group decides to go and check it out.</p>
<p>In Aglis the Dragoons meet many friendly and not-so-friendly creatures. However, it seems the friendly creatures (Ruff,
    Spino, Phewy, and Buckle) all know about Rose. Following the magical creatures, the group finds an old Wingly named
    Savan. Savan has survived the Dragon Campaign (thanks to Rose) and has waited for the Dragoons. He has continued to
    study magic. He explains he created the magical creatures to work for him and keep him company. He has been watching
    Rose and the Dragoons through a telescreen, and has figured out a way to make a weapon to help them defeat Zieg. It
    is known as the Psychadelic Bomb, and all he needs to finish it is the courage of the Dragoons. Each Dragoon takes a
    test so Savan can determine their courage. The more courage they have, the more powerful the Psychadelic Bomb will
    be.</p>
<p>Savan also explains his plan for "Moot"...the new, more powerful Signet Sphere he is creating to
    replace the old one. He also created Last Kraken to protect the Signet Sphere...at least Last Kraken WOULD protect
    the Signet Sphere if ZIEG hadn't taken over its body! It's up to the Dragoons to stop the brainwashed Last Kraken
    but even their efforts have failed. The power of the Dragoons have caused a chain reaction in the magic-sensitive
    world of Aglis, and this causes Moot to resonate and break the Signet! To make things worse, Aglis is falling apart.
    Zieg destroys the Moon Mirror since he doesn't need it to break the Signet. To save the Dragoons, Savan magically
    teleports them to safety, but it cost him his life. The Dragoons hurry back, trying to escape. The magical
    creatures, using the last of their powers, open a locked door. It is a teleporter to the Law City Zenebatos.</p>
<p>In the Law City, they meet a huge creature named Coolon. Coolon explains that he is the "Wings of Savan" and
    will take them to the major cities in Endiness. Even though he can't take you directly to the Signet Sphere, Coolon
    is very helpful. On the higher platform on Zenebatoes, Guide Lapto 00 explains that there is a law, Wingly Code
    Article 703, preventing non-Winglies from seeing the Signet. Even though Meru is a Wingly, she doesn't have enough
    magic power to be recognized. What the Dragoons need to do now is change the law, which is an annoying
    procedure.</p>
<p>First, the Dragoons head off to the Legislation Center, but while on the way, they get
    caught by a guard! They get teleported to a prison, but something is missing....."BOOM!!" In comes Kongol to save
    the team. Rose suggests that Kongol is too heavy to be teleported. Our team gets back on track and arrives at the
    Legislation Center Council. There, they are granted permission to change Law 703. The Dragoons get the Law
    Production Liscense which they need to take to the Law Factory. There, they speak with Lapto 64, to whom they give
    the Law Production License. In return, Lapto 64 gives them the Law Launching License. The group takes the Law
    Launching License to Lapto 17 in the Law Launching area. He'll launch the law, and by the time the team gets back to
    the first Lapto, the new law allowing non-Winglies going to the Signet Sphere will be underway.</p>
<p>However, in the court where the Signet Sphere is held, the Laptos have gathered and are accusing the Dragoons of
    treason to Soa. The punishment is death by the winged executioners Kubila, Vector, and Selebus! The Dragoons must
    now save their hides by battling the trio to the death.</p>
<p>After another victory for our heroes, they run
    off to save the Signet Sphere...but it is too late. Zieg has already broken the sphere with the Moon Dagger. Dart
    will try to stop his father, but to no avail.</p>
<p>Having no other choice, the Dragoons must change the
    410th Law through the same process as changing 703. This way, our heroes make it to the final Signet Sphere in
    Mayfil, the Death City.</p>
<p>According to Rose, Mayfil directs the souls to hell and is perhaps connected to
    devildom. Winglies would suck souls into a huge tower, then decide where the souls would go. Mayfil was supposedly
    destroyed during the Dragon Campaign, which is why Rose is surprised it's still around. She thinks that the souls
    that didn't die completely gather there, including those of dragons.</p>
<p>She was very right. The souls of
    Feyrbrand, Regole, and the Divine Dragon are still hanging around here. The defeat of the Winglies by the less
    powerful humans was actually a burden on the dragons' souls. Also, the souls of the Dragons still have a bond with
    their Dragoon Spirits, and the only way to free them from their bind is to kill the souls. This also sets the souls
    free so that the Dragons won't be overwhelmed by the power in Mayfil and go to hell. With the Divine Dragon,
    however, the team needs to defeat his pride which binds him to the world, and therefore making his soul extremely
    difficult to defeat.</p>
<p>While journeying in Mayfil, Rose comes to a room filled with the souls of the
    people she has killed while she was the Black Monster. The people hate the Black Monster and are glad that she (the
    Black Monster) is dead.</p>
<p>Towards the end, the group finds another surprise...it's Lavitz! However, he is
    acting very strange....Rose explains that the souls in Mayfil hang around with a variety of thoughts that attract
    them to the gates of hell. Negative thoughts ("attatchments" to the real world) are favorites of the devils from
    hell. These same devils are controlling Mayfil and one of these devils has possessed Lavitz. It seems Lavitz was
    attatched to the world because he was worried about Dart and the others. Zachwell the devil took advantage of this
    and invaded Lavitz' soul. The Dragoons now have the task of freeing Lavitz from Zachwell.</p>
<p>Though
    Zachwell possessed Lavitz' soul, Lavitz is grateful for it...because it allowed him to see his friends one last
    time, even after his death. Using the last of his strength, Lavitz opens a portal to the Signet Sphere high on
    Mayfil.</p>
<p>Even though our heroes make it to the Signet Sphere before Zieg, Zieg does come and easily
    breaks the Signet Sphere. In a rage, Dart transforms into a Dragoon, but is easily and quickly defeated by his
    father. The earth begins to quake as the Moon that Never Sets is falling and the Divine Tree is growing to catch the
    Moon.</p>
<p>When all seems lost, Coolon comes to the rescue and carries the Dragoons to the Moon that Never
    Sets. However, as they near the Moon, a swarm of Virage emerges and hits Coolon, causing him to crash land and die
    in the Moon that Never Sets. There's no turning back for our heroes now as they make it up to the Moon that Never
    Sets.</p>
<p>Along the path, Rose points out shiney objects...these are dried up fruit from the Divine Tree.
    The fruits were never born into species. She also notes that the air streams that come from the tree are signals
    that the tree is readying itself for the birth of the Virage Embryo.</p>
<p>As they progress up the path, a
    catipillar begins to follow them. Farther up the path, the Catipillar attacks. First as itself, then as a pupa, then
    as the moth known as Imago. After his defeat, our heroes enter the final stage of the Moon that Never Sets. The moon
    is pulsing, and all is white. Our heroes awaken to find themselves in...</p>
<p>Hey! This can't be the moon!
    It looks more like a valley in Mille Seseau! The scene is familiar to mainly Miranda. She seperates from the group
    for awhile and finds herself in a most familiar spot. It is a corner of the woods with the light shining on a single
    rose. Miranda experiences a flashback...it seems that Miranda's mother hated her life because she married Miranda's
    father, who is supposedly lazy and uses her hard-earned money. Therefore, right in front of Miranda's eyes,
    Miranda's mother went off with another man and abandoned Miranda and her father.</p>
<p>Suddenly, the single
    rose comes alive, and in the rose Miranda sees her mother and Miranda's anger towards her rises. The Death Rose asks
    for forgiveness, but Miranda doesn't forgive easily. She explains that her father became ill and died and she was
    left all alone until Queen Theresea adopted her. Death Rose explains that she worked hard so Miranda wouldn't
    starve. She also wanted to take Miranda back but her father wouldn't let her. After several rounds of fighting,
    Death Rose tells Miranda that she was named after the Goddess of Mille Seseau, who was pure and loved by everybody.
    After several more rounds, Miranda sees the love her mother had for her and forgives her mother. After Dart comes
    into the scene, she explains everything. She said she went to the Crystal Palace to preach love, but wound up
    fighting to soothe her uneasiness.</p>
<p>As the team continues through the moon, it just gets weirder and
    weirder. They find themselves in a Serdian Shop, and below is a little girl who looks strikingly familiar to
    Haschel...it's none other than Claire, his missing daughter! He follows her through the city of Minitos, and finally
    corners her. In a rage, she attacks her father.</p>
<p>Haschel tries to explain to his daughter that he never
    meant to hurt her. Rogue art was used to give life, not hurt people. Claire refuses to listen, and looks like she is
    possessed. Ever since she was little, she was gifted with the God of War that beckons death. She never meant to hurt
    anyone, but she couldn't help it. This War God, Nagarujuna, demonized her on the Moon, giving her strength that far
    outpasses her father. However, by awakening the Mind's Eye, Haschel heals his daughter.</p>
<p>Outside of the
    Inn, the group finds themselves just outside the gate of Emperor Doel's castle...20 years in the past, that is, for
    a little boy named Lavitz is there wishing to be a knight just like his father. Down the stairs on the left is a
    teleporter that leads our heroes to the clouds. Although the ground is transparent, Rose confirms that it is safe to
    walk on. However, after making their way north, the group is attacked by Michael the Dark Dragon. The group is
    seperated as Rose and Dart fall down one whole and the other five fall down another.</p>
<p>The scene switches
    to Albert and the others, who are in the Land of the Gigantos. Kongol experiences flashbacks here...bandits killed
    his people, but Emperor Doel came and got rid of the bandits and adopted Kongol, the only survivor. The group goes
    up the stairs and Kongol once again remembers Emperor Doel and his words of strength. Kongol goes inside a temple to
    get the strength he needs to help Dart. Inside the temple, Kongol finds his brother, Indora, whom he must defeat to
    show his strength.</p>
<p>After Indora's defeat, he gives Kongol his axe and for the first time, praise; also,
    if he doesn't have it, his Dragoon Spirit. The group goes back to the Inn and waits for Dart and Rose.</p>
<p>Meanwhile, Dart and Rose are in the mountains looking for Rose's Vassal Dragon, Michael. Along the way they see baby
    dragons, or pseudodragons. Up the mountain they go, until they find Michael. Rose explains that in order to get a
    Dragoon Spirit, a dragon must be sacrificed in some way, like death or becoming a slave to humans. Rose has a
    flashback in which she killed the Darkness Dragon, that is, Michael's mother, and took the Dragoon Spirit. She then
    adopted the Darkness Dragon's pseudodragon to be her Vassal Dragon. With the help of Zieg, she named him Michael,
    the Black Burst Dragon. However, Michael turned against Rose because he became prideful in his abilities as the
    strongest dragon next to the Divine Dragon. Although he has a strong defense and attack and agility, Michael's heart
    is weak. His armor may be high in endurance, but his core (heart) is not. After many battles Dragons became savage
    and won't listen to their Dragoon leaders, so to save themselves, Rose must kill Michael.</p>
<p>After his
    defeat, Rose and Dart head back to the Inn. Once reunited the group goes back out to where Emperor Doel's castle
    is...it seems that Emperor Doel wants to speak with Albert. Doel wishes to settle his differences with Albert. Doel
    said that he killed Carlos (Albert's father) because Carlos was imcompetant, and because only Doel had the power
    needed to bring peace. However, Doel abused his power. In reality, it seems, Carlos had faith in Doel and wanted to
    him to take the throne. Albert forgives his uncle and their differences are settled.</p>
<p>Our team now heads
    up into the clouds again, this time making their way to a Wingly fortress, where the Archangel (a Wingly guardian)
    awaits for Meru. She goes in, and the Archangel sees her as a traitor to the Winglies. He thinks she is silly and
    wants her to leave the "feebleminded" humans. Archangel wants Winglies to rule over humans, just as they did before.
    He believes Winglies can destroy any species that rebel against them. Though Archangel claims that Meru created him
    with her thoughts against humans, she quickly wins the battle by admiting full-heartedly that she loves humans.</p>
<p>The Dragoons are at the final bend when they come into the strangest place on the Moon. Geometric objects are
    everywhere, with the staticy screens showing the Moon. The team goes through the weird hallways until they hear
    Shana's whisper. They follow it, only to be confronted by a Super Virage similar to the one in the Forbidden Land,
    only this one won't kill itself.</p>
<p>After a fierce battle, the group wonders whether or not that Virage
    was Shana, but the idea quickly escapes their mind in the next scene. There they see Shana in a gel-like cell, with
    Zieg watching as she becomes the Virage Embryo. As the Dragoons attack, Zieg counterstrikes and steals Dart's
    Dragoon Spirit. The Red-Eye Dragoon Spirit still sees Zieg as its owner, allowing Zieg to become a Dragoon. The
    group must fight Zieg without the aid of Dart's Dragoon Spirit.</p>
<p>After Zieg's defeat, however, the team
    experiences a terrible surprise...Zieg was possessed by Melbu Frahma the whole time! Melbu explains that he has been
    waiting 10,000 years for the Virage Embryo. He transmigrated into Zieg's body when Zieg tried to kill Melbu Frahma,
    and this caused Zieg to become petrified. After 10,000 years, the spell wore off. Zieg married Claire and had a son
    named Dart. However, when Zieg tried to save Neet when it was attacked by the Black Monster, he attempted to become
    a Dragoon, but by doing so the burst of energy released Melbu Frahma, and from then on Melbu had been in control of
    Zieg. Now that the real Melbu Frahma is free, he wishes to take over the world once again by becoming the Virage
    Embryo himself. Just as Shana is morphing, Melbu switches places with her. Now he is the God of Destruction, and is
    ready to destroy the Dragoons when...</p>
<p>LLOYD comes into the picture! Lloyd proclaims that he cannot die
    with the wrong god around, and there is no room for the God of Destruction in Lloyd's utopia. Lloyd and Dart attempt
    to defeat Melbu Frahma. While Lloyd is doing a swift job at first, Melbu manages to stab Lloyd in the heart, causing
    the noble Wingly to fall. In his last moments, Lloyd gives Rose the Dragon Buster and Dart the Divine Dragoon
    Spirit...thus enabling Dart to become the Divine Dragoon, the most powerful of all!</p>
<p>After this, the final battle begins...</p>
<p>Melbu screams in pain and attempts to kill the Dragoons with the last of his
    strength. Zieg and Rose, knowing what they must do, take the Dragon Buster and attack Melbu Frahma. They tell the
    others to get out of the Moon, but not to worry about them. Dart flies down and picks up Shana and heads out. Melbu
    attempts to get rid of them with his electric attack, but Zieg and Rose slice through him with the Dragon Buster.
    Rose and Zieg are finally together once again, forever, and Rose thanks Dart as she and her love go into the next
    world.</p>
<p>The team makes it out and watches as the Moon that Never Sets explodes. In sadness, Dart yells
    out to Rose and his father one last time.</p>
<p>Back in Rogue, Haschel is teaching Kongol the way of Rogue
    art. Miranda is with her sisters once again, with Wink recovering quickly. Everyone in Fletz is as happy as ever,
    especially Lisa and Nello. Meru introduces her fiance, Guaraha, to the human world, and is having a "spinning" time.
    Albert and Emille are now happily married. Dart visits Lavitz' mother, who welcomes him with open arms. Back in
    Seles, the townspeople are rebuilding Seles. Everyone there is overjoyed that both Shana and Dart have returned
    safely, and it looks like the two will finally be able to settle down together and live happily ever after.</p>
<p>Then, at the end, the white and purple bird that has been following everyone lands next to a white and red
    bird. Below, the Dragoon Spirits of the Darkness Dragoon and Red-Eye Dragoon lay waiting for the next legend...</p>

<p class="center"><a href="/script/script4">Script for Chapter 4 (Donated by Brandon)</a></p>
<p class="center">THE END</p>
