<h1>Chapter Three: Fate and Soul</h1>
<p><b>READ WITH CAUTION: MAY CONTAIN SPOILERS</b></p>

<p>The third chapter starts out with the group docking in the water city, Furni. Though a beautiful city, there seems to
    be some trouble. Kamuy, the pet wolf belonging to the boy Teo, has become suddenly vicious, and attacked Fa, the
    mayor's daugther and Teo's best friend. Fa, completely shocked, hasn't spoken since she was attacked. Teo went into
    the forest after Kamuy. Resident Knight Harris has posted a reward for the healing of Kamuy, even if they have to
    kill him.</p>
<p>Before the group can get far, though, they need a boat liscense to travel the town. They'll
    find one at the inn. After they get the boat liscense, the group visits the Mayor of Furni and learn the story of
    Teo and Kamuy. Fa takes a liking to Shana, and Shana sings Fa her special lullabye that Dart taught her. Haschel is
    astounded...because his daughter, Claire, composed that lullabye! Hmm....</p>
<p>After Fa goes to sleep, Dart
    and Shana head outside and admire the moon...but Shana ruins this special moment by fainting, causing everyone to
    panic. The next morning, Shana is back to normal and the group goes to Evergreen Forest.</p>
<p>It turns out
    that Teo and Kamuy have been hiding in the Forest, and the group has the option to help heal Kamuy or to go onto
    Deningrad. On the way to Deningrad, Rose leaves because she has an "errand to run", and Meru leaves to visit her
    "parents". This leaves Dart, Albert, Shana, Kongol, and Haschel to go to Deningrad.</p>
<p>The rest of the
    group find themselves in the beautiful Crystal City Deningrad. Our heroes go to the temple and meet the High Priest
    Bishop Dille, who tells the story of Soa's Divine Tree. It appears the Tree of Life gave birth to the creatures of
    the world. In fact there was nothing in the world until Soa descended from the sky. He (she?) and his followers
    created the world. They planted a seed which became a great tree...the Divine Tree, which bore 108 fruits with
    various life forms, each filling the world. Although the Divine Tree completed its role, it is still protected by
    the Signets of Soa.</p>
<p>The legend of the Signets goes something like this: Winglies created the Signets to
    protect the Divne Tree and the last fruit. When the Signet is broken, the end of the world approaches. To prevent
    the "end of the world", people must eliminate evil in their hearts and live in honesty. It is the mission of the
    children of the Divine Tree.</p>
<p>To find out more, Bishop Dille suggests they visit Librarian Ute. Though a
    bit stuck up, the Librarian has vast knoweldge and encourages them to look through the books for more
    information.</p>
<p>Kongol finds out that the Winglies, who fly on "Wings of Light", had enough magical powers
    to create floating cities and fortresses that, after the Dragon Campaign, became extinct. Also, like the way Humans
    had Dragons, Winglies had Virages.</p>
<p>Shana finds out that Humans divided Endiness into four regions: To
    the east, Serdio; to the south, Tiberoa; to the north, Mille Seseau, and to the west, the untouched Death Frontier.
    There was made Divine Moon Objects that humans kept as symbols of peace between humans and Winglies; However, the
    humans did not know they contained magical powers.</p>
<p>Ute, Haschel and Albert make a comment about
    Dragons...Feyrbrand was the first Dragon seen since the end of the Dragon Campaign. The war started in Serdio with
    the Violet Dragoon Spirit which Lloyd brought. Their fate, as Dragoons, drags along with Lloyd's fate. Also noted is
    that after the Humans won the Dragon Campaign, the Dragoons disappeared...does this mean Dart and the others will
    disappear after their journey is over too?</p>
<p>Albert further says that Dragons are the second most
    powerful of the 108 species. However, to create balance, Soa lowered the Dragons' intelligence greatly, enabling
    humans to control them with their wisdom. During the Dragon Campaign, as Kongol noted earlier, the Winglies had
    Virages, but they couldn't avoid being defeated.</p>
<p>Ute adds some more things to this conversation. He
    says that Winglies dominated the gods and answered to Melbu Frahma, the Wingly dictator who abused his powers. The
    anger and sadness of the people fuled the power of the Dragoons and set free the gods from the Winglies. Without
    their gods, the Winglies were destroyed and the age of Humans had begun. The gods, symbolized by the Moon that Never
    Sets, now look down upon earth.</p>
<p>Ute also has some information regarding the Black Monster. The Black
    Monster devours the "Gods", that is, the Moon that Never Sets. He is a demon that appears in various legends and
    rejects peace, and abhors the idea of a purified world. The so-called "Moon Child" revives the gods on earth and
    purifies the world, but the Black Monster has always killed the Moon Child so that the world is in never ending
    chaos. Therefore, the Moon Child "stays forever in the sky".</p>
<p>Rose, in the meantime, visits the
    unfortunate town of Neet. The town, which is where Dart was born, was destroyed by the Black Monster 18 years
    ago...but why is Rose there? She goes into the town and finds the Second Sacred Sister Luanna and the Fourth Sacred
    Sister Setie. It appears that Sister Luanna, like Dart, survived the tragedy of Neet because she is blind, and
    explains that only those who saw the Moon Child perished. From her flashback, Luanna remembers the Black Monster
    saying that the Moon Child has a power to turn everyone into an evangelist for the god, a servent to help the gods
    descend. The Black Monster is not satisfied until everyone who was present at the Moon Child's "birth" is dead.
    After this, Rose, Luanna, Setie, and the guards all head off to Deningrad.</p>
<p>Meanwhile, Meru visits the
    town of...Wingly Forest? What's she doing there? Oh my god....could Meru be....*gasp*...a Wingly!? Like Lloyd and
    Lenus, Meru is indeed a Wingly...and not a very popular one. Everyone in town hates her for leaving to see the
    "humans"...everyone except her fiance, Guaraha. Even her parents don't like her anymore. But the most furious are
    the Bardel Brothers, mainly the younger one. She is told by everyone, including Ancestor Blano, the chief of the
    Winglies, to leave and never return...(poor Meru...)</p>
<p>After this, the scene will come to a mountain,
    where the Divine Dragon, the King of Dragons with seven wings and seven eyes, breaks free from his
    imprisonment...but how? One thing is for sure though...he's headed for Deningrad! He attacks the Crystal Palace, but
    thank goodness no one is hurt.</p>
<p>Our group reunites in Deningrad and goes to see Queen Theresea and her
    witty daughter, the First Sacred Sister Miranda. Everyone there talks about the Divine Dragon and what it will do.
    It seems the Winglies sealed the Divine Dragon, but now the Winglies are tense that the Dragon is free, their seal
    dissolved. It seems only two weapons, the Dragon Buster (which Lloyd has) and the Dragon Block Staff can defeat the
    Divine Dragon, as both were created by ancient Winglies for this purpose. Luanna is concerned about the Dragoons
    because another power is influencing them, anticipating it's liberation. They add that the Winglies say their magic
    draws a line between them and humans. Meru, after some persuasion, decides to show everyone her secret.</p>

<p>Shana has disappeared into the room at the right. She appears to be in one of her "episodes" that no one, not even
    Dart, can get her out of. When she comes to, she learns about what drew her here. It seems that the Crystal Palace
    was once a fort for Winglies. The chamber that Shana was in, the Chamber of the Signet, was used for a ceremony for
    sealing. This is why the Divine Dragon attacked the Crystal Palace, because it was once a home to Winglies. Shana
    then faints and is brought to the guest room, where her White Silver Dragoon Spirit leaves her body and chooses
    Miranda as the White Silver Dragoon!</p>
<p>Back to the Evergreen Forest, Meru shows everyone her powers as
    a...WINGLY!? Everyone is shocked, but the townspeople of Wingly Forest are even more surprised when Meru comes back
    with humans. However, it appears that Ancestor Blano wishes to speak with the Humans, so the villagers have no other
    choice but to accept them. In the Tree which houses some Winglies, the group is confronted by the Elder Bardel
    Brother. He is furious at Meru because she was a role model for his younger sister. When Meru went into the human's
    world, so did his siter, but humans wound up killing his little sister because she was a Wingly. Though he tries to
    kill Dart, Dart calmly protects himself with his Dragoon Spirit.</p>
<p>Ancestor Blano, who knows the Dragoons
    are pure in heart, wants to help. He decides to show the group the Forbidden Land. Also known as Royal Capital
    Kadessa, it was a palace ground for Winglies during the Dragon Campaign and was also a "Promised Land" for Winglies.
    Deep within the Forbidden Land is the Dragon Block Staff.</p>
<p>During the journey, the group comes across a
    "Virage"...it's actually a Virage hybrid that is more powerful than a regular Virage. If you remember the flashback
    from Rose while she was in the cave, you'll recognize this Virage to be the same that defeated Kanzas. However, this
    one is still alive...</p>
<p>After a tiring journey through the Forbidden Land, the group comes across the
    Dragon Block Staff...which is guarded by the Grand Jewel, a mysterious, fierce enemy.</p>
<p>After the defeat
    of the Grand Jewel, the group heads back to Ancestor Blano, who tells them that they must return to Deningrad
    immediately...the Divine Dragon is attacking the city! Meru's parents and Guaraha come and help Blano teleport them
    to Deningrad, but...</p>
<p>It is too late. The Divine Dragon reduces the town to rubble, but Shana's
    mysterious power enabled her to save the Queen. The only way to stop the Divine Dragon from taking away more lives
    is to defeat it. Our heroes bravely enter the Mountain of Mortal Dragon, where the King of Dragons resides.</p>

<p>After the winding path to the top of the mountain, our heroes find....LLOYD!!? It appears that it was Lloyd
    who set free the Divine Dragon, but he could not control it, so he decided to try and kill it. However, even the
    Dragon Buster was useless against the Divine Dragon. Lloyd leaves and let's those with the Dragon Block Staff
    fight.</p>
<p>It's a long, grueling battle, but the Dragoons overcome the Dragon...but Lloyd enters the scene
    again and takes what he wanted the Divine Dragon for...the flame of a soul that sparkles only at the last moment of
    a dragon's life...the Divine Dragoon Spirit!! It's a good thing the Spirit doesn't recognize him though, or else the
    world would be nearly doomed. Lloyd tries to escape, but while Rose and Dart attempt to stop him, he knocks them off
    a cliff. Rose bangs her head, and mutters something about the Black Monster, Moon Child, and Virage Embryo. Once
    again, the game will flashback to the night Neet was destroyed. Dart feels that Rose knows...something...about
    these...</p>
<p>When the group gets back together, the group wonders what Lloyd's next objective will be.
    Miranda then speaks about the Moon Mirror that is in the possession of Queen Miranda. The Divine Moon objects were
    brought by Winglies as a sign of peace, but they held an evil power and that is why they are only passed down by
    members of the Royal Families of Endiness. This Moon Mirror is also a Divine Moon Object, and surely Lloyd will be
    after it! It's back to Deningrad!</p>
<p>While on their way back to Deningrad, Wink, the Third Sacred Sister,
    will encounter the angry Younger Bardel. He attempts to kill Wink, but Wink is once again saved by....that's right,
    Lloyd. Lloyd crushes the Younger Bardel, but injures himself in the process. Wink, kind-hearted, takes Lloyd to the
    Crystal Palace for healing...exactly as Lloyd planned.</p>
<p>However, by the time the Dragoons get to the
    Crystal Palace, it's too late...Lloyd has already kidnapped the Queen. The group once again pursudes Lloyd in the
    Kashua Glacier.</p>
<p>The Kashua Glacier has many water-based enemies, so Dart's Heat Blade will be your
    savior here. Before the group fights Lloyd, they must battle Windigo the viscious ice monster.</p>
<p>After
    his defeat, our group comes across a weird place called Fort Flanvel, which was once a Wingly Fortress controlled by
    a man named Faust (more on him later). Flanvel Tower was a fortress during the Dragon Campaign that used to be able
    to fly as well as float. Of course, this consumed a large amount of magic. This is also where Lloyd is holding Queen
    Theresea and the Moon Mirror. Lloyd challenges you to a fight.</p>
<p>As Dart goes for the final blow, Wink
    appears and steps in at the last minute. Trying to control his momentum, Dart accidently slashes her in the back.
    Wink asks Dart to forgive Lloyd, even though he used her to get to Queen Theresea. It seems someone has a little
    crush.... ^_~ Anyway, it also appears that Shana has been kidnapped...by Emperor Diaz, Lloyd's boss! He is holding
    her in Vellweb and demands the Divine Moon Objects. At this time, Lloyd joins your party, but is not a playable
    character. Lloyd informs them that they must go to Vellweb, beyond Fort Magrad.</p>
<p>While taking a rest in
    a cave at Fort Magrad, Lloyd has some flashbacks and interesting information. The Three Divine Moon Objects he was
    after allow the world to be reborn into the utopia that he and Diaz desire. This is Soa's "plan"...to allow the
    108th species to be born and create the utopia.</p>
<p>Three years before modern time, Lloyd explains, Diaz
    believed the world was "rotten" and needed regeneration, an "overture to destruction". The great will of the creator
    Soa prepared the 108th species, the last species (the last god) to regenerate the world and create the utopia.
    Notice how it is the 108th species, and how it was said by Fester in Chapter 2 that the Moon that Never Sets wanes
    every 108 years. There is a connection...the 108th species is the Moon Child! However, as said by Ute, the Black
    Monster always kills the Moon Child. If this would happen, Lloyd goes on explaining, then the Winglies feared their
    supreme status reign would end and sealed up the 108th species with Signets. The key to dissolving these Signets are
    the Divine Moon Objects. Lloyd adds that if he didn't go and do this, someone else would, for no one, not even gods,
    can escape Soa's will.</p>
<p>Along the way to visiting Emperor Diaz, the group stumbles upon Fort Magrad.
    Rose explains that Fort Magrad once belonged to humans, and this is where Emperor Diaz declared war on the Winglies.
    Rose also remembers that her and her lover, Zieg, were supposed to be married after the Dragon Campaign. However,
    because the Dragoons had descended on Fort Magrad, the Polter Armor, representing the spirits of the soldiers,
    awakens and challenges the Dragoons.</p>
<p>The group soon arrives in the historic ruin of the human's capital
    city, Vellweb. In Vellweb there are seven towers representing seven Dragoons and the Holy Throne room where Diaz
    awaits. Rose explains that, do destroy floating cities like Flanvel, humans shot "battery-powered" arrows. To quote,
    "That the arrow would not only shear the dakness that covers the earth, but also shear their corrupted hearts which
    were accustomed to being ruled."</p>
<p>Also awaiting in Vellweb is Shirley. She explains to Rose and the
    others that the souls of the Dragoons from old are still wandering in the towers. She has come to take the souls of
    the Dragoons instead of letting them go to Mayfil (more on Mayfil later). Mayfil wants the souls, but Shirely won't
    let them go there, however she does not have enough power to free them so she anchored the spirits in Vellweb. She
    asks Rose and the others if, after their meeting with Diaz, they will come back to free the spirits.</p>
<p>At
    last the group comes to Diaz, who is holding Shana hostage. Diaz explains his only desire is the advent of the last
    species, which equals total destruction (in other words, "purification") to the whole world. This completely shocks
    Lloyd and angers him. Diaz was, the whole time, using Lloyd as a pawn to get the Divine Moon Objects, promising
    Lloyd that he'd build the "utopia" that Lloyd desired for the future of the world, not the destruction of it. Lloyd
    goes to strike at Diaz, but Diaz attacks Lloyd first, causing poor Lloyd to fall into oblivian.</p>
<p>Diaz
    explains that the beginning of the world was darkness, and that creator Soa sowed a seed to the earth. This "plan"
    of Soa, which created all beings, was the Divine Tree. The fruit of the seed ripened and fell to the ground and
    filled it with life: Gigantos the 97th fruit, Minitos the 99th fruit, Dragons the 105th fruit, humans the 106th
    fruit, and Winglies the 107th fruit. However, Soa also wanted the destruction/regeneration of the world from the
    108th fruit, the Virage Embryo.</p>
<p>However, 11,000 years ago, Winglies found out the tragedy waiting for
    them and the world, and sealed the 108th fruit by seperating its flesh from its soul. The flesh of the god, the
    Virage Embryo, was taken away from the Winglies as "The Moon That Never Sets" that glows in the sky and is not
    affected by time. The soul of the Virage Embryo was kept in a crystal sphere which was in Melbu Frahma's possession.
    He used the crystal sphere to draw unlimited magical power and used it to conquer the other species. But even with
    unlimited magic power, domination was not eternal. Humans arose with Dragoons in front. Dragoons were unbeatable
    because of their powers from the awesome Dragons. Finally, they drove Melbu Frahma into a corner. Zieg closed in on
    him, preparing for the final blow, but just as he was struck with Zieg's sword, Melbu Frahma petrified Zieg. After
    11,000 years the spell wore off. He forgot about his love for Rose, married a girl named Claire, and had a
    son....named...DART!!? Yep, Zieg is Dart's father. Zieg lived happily with his family until that tragic day in Neet
    18 years ago.</p>
<p>Zieg and Rose were considered heroes of the Dragon Campaign. However, humans had made a
    mistake. The humans destroyed the crystal sphere, which contained the soul of the Virage Embryo. This allowed the
    Virage Embryo to be born. The soul began to wander, in order to go back to the flesh left in the Moon that Never
    Sets, to be born the last god, and to destroy/regenerate the world.</p>
<p>The soul, without a body, will
    possess a human body and go to the Moon that Never Sets, and repeats the transmigration every 108 years. The soul of
    the god of destruction, the Virage Embryo, goes into a human body, and this human body is known as the Moon
    Child.</p>
<p>"Count 108 years and when the Moon that Never Sets glares red the Moon Child descends to the
    earth and shall give a holy blessing to the world."</p>
<p>The "Holy Blessing" is destruction. The destruction
    is Soa's will. This is the fate that rules the future of the world, so explains Diaz. He also adds that there was
    one Dragoon who found out about "Soa's Will". In order to deter the birth of the God of Destruction, she has had to
    kill the Moon Children by stopping her own time. She was known as the Black Monster.</p>
<p>The Black Monster,
    Diaz reveals, is none other then....ROSE!!? Dart doesn't want to believe it, but Rose admits to it.</p>
<p>The
    Moon Child has to be killed, and the people who saw the Moon Child also have to be killed because the Moon Child
    turns everyone that sees him/her into a servant for the gods. Rose explains that for 10,000 years there have been no
    exceptions.</p>
<p>Rose, 18 years ago, killed Princess Louvia (remember the Ghost Ship?), who was the Moon
    Child, or so Rose thought. But Princess Louvia was not the Moon Child...Louvia had a twin who was the real Moon
    Child. Louvia's twin is...SHANA!!? This makes Shana the soul of the Virage Embryo, the soul of the God of
    Destruction.</p>
<p>Yet there is one more surprise...Diaz reveals himself to be....ZIEG!! Zieg takes Shana
    away and promises to dissolve the Signets of the Moon That Never Sets and cross it with the Moon Child, Shana. Zieg
    says, as his final words, that this is the will of Soa, and Zieg's hands will start and end the world!!</p>

<p>What will the Dragoons do now? Find out in Chapter Four: Moon and Fate.</p>

<p class="center"><a href="/story/chapter4">To Chapter Four: Moon and Fate</a></p>
<p class="center"><a href="/script/script3">Script for Chapter Three (Donated by Brandon)</a></p>