<h1>Chapter One: Serdian War</h1>
<p><b>READ WITH CAUTION: MAY CONTAIN SPOILERS</b></p>

<p>The story begins with the rustic village of Seles being ransacked by a fierce army. The whole village is crushed by
    their oppression...and Shana is taken away by the Hooded Man...</p>
<p>Meanwhile, a female warrior in dark
    violet armor stands on a cliff, overlooking the land. She spies the Green-Tusked Dragon, Feyrbrand, and races to
    stop him...</p>
<p>In a different part of the forest, our hero, Dart, is sitting on a stump, reading a war
    bulletin and pondering about the current war. He suddenly hears a crash and races to see what it is. He comes across
    two warriors, who question Dart. They are all interupted, however, by Feyrbrand. The two warriors run away, leaving
    Dart to fend for himself. He tries to run away, but all seems hopeless...until that female warrior comes and saves
    him. After Feyrbrand leaves, she tells him about the tragic event in Seles....</p>
<p>Dart, upon hearing the
    news of his hometown, races to Seles. As he leaves, the female warrior looks at her gem, which begins to glow
    brightly...</p>
<p>When he gets there, he is informed on the recent events, and protects his village from any
    further destruction by the remaining warriors.</p>
<p>Dart then learns of Shana's kidnapping, and races
    through the nostalogical forest towards Hellena where she, his childhood friend, is being held captive.</p>
<p>Making his way through the maze-like prison, he comes across another warrior...he is Lavitz, the head of the First
    Knighthood in Serdio. After a quick fight, they discover they are on the same side, and join forces to rescue Shana
    and escape Hellena.</p>
<p>Shortly after, they come to Shana's prison and free her. Along the way out, and to
    Dart's chagrin, she grabs a bow and joins Dart and Lavitz in the fight. Before they can escape Hellena, however,
    they meet Fruegal, the vicious commander and the man responsible for the destruction of Seles.</p>
<p>After they escape, they learn that the road to Seles has been cut off by warriors from Hellena. Having no other choice,
    the trio head off to Bale, Lavitz' hometown. Along the way, Dart wishes to know why Shana was kidnapped, and this is
    his main objective now.</p>
<p>To get to Bale, the group has to go through the Prairie. Along the way, Lavitz
    is injured by Sandoran Soldiers. After a narrow escape, they find refuge in an old shack, where Dart shows his
    friends his Father's Stone. It seems to have a strange glow to it...</p>
<p>Before they reach Bale, the group
    must pass through the Limestone Cave. In the Limestone Cave, they defeat the giant snake Urobolus...and Shana
    releases a powerful, mysterious aura on the final blow. All three of them are confused, but they decide to ignore
    it...</p>
<p>Once in Bale, the trio talk with the King of Basil, Albert. They also talk with one of his top
    advisors, Minister Noish, who informs them about the Dragon Campaign. Albert and Lavitz are old friends, and Albert
    is grateful that Lavitz is alive...however, the king also has not-so-great news. The fortress of Hoax is expected to
    be attacked, and they need help. Lavitz, Dart, and Shana agree to help out in Hoax.</p>
<p>Before they leave,
    Lavitz invites Dart and Shana to visit his mother. And Lavitz learns that mothers can be embarassing! But he loves
    her anyway. ^_^</p>
<p>In Hoax, the three warriors learn of the current situation, and Dart and Lavitz agree
    to guard on night shift...only to be attacked by the Sandoran Imperial Army! Dart and Lavitz put up a fierce fight
    against Kongol, the strongest warrior in the army, but they are losing desperately...and as Kongol moves in for the
    last strike, a streak of violet light comes out from the sky...</p>
<p>The light turns into a warrior...it's
    the same warrior who saved Dart at the beginning of the game! With a shout, she awakens a spirit hidden within
    Dart's Father's Stone...the Spirit of the Dragoon! With his new power, Dart easily overcomes the massive
    Giganto...but becomes exhausted, and faints into the night...</p>
<p>In the morning, Dart awakens with a heavy
    head...the warrior, named Rose, explained to him what this power was. Dart is one of the seven Dragoons from legends
    past, given a great power over many. Rose teaches him the way of fighting among the Dragoon, then the four warriors
    are off to the Marshlands, hoping to get to the Dragon's Nest and defeat Feyrbrand before he does any more
    damage.</p>
<p>In the Marshlands, a fort of Basil is under attack...should our four warriors take away
    precious time to save it?</p>
<p>Shana, after a yelp of pain, twists her ankle. Dart will help her out, and
    the two will talk about memories from the past...</p>
<p>Beyond the Marshlands is Volcano Villude. During the
    Volcano visit, Shana loses control for a minute and runs towards a giant creature...a Virage, who emerges from the
    lava and attacks. Did Shana awaken the Virage....?</p>
<p>After fighting the Virage, the group comes across a
    man named Dabas, who is in need of help. After he is saved by Dart, he gives them a gift, and welcomes then to his
    store in Lohan.</p>
<p>The Firebird, Piton, guards the Volcano. Our heroes must defeat it in order to move
    on.</p>
<p>Once in the Dragon's Nest, Shana becomes weak from the poison. After she gets used to it,
    everything is ok. The group continues until they fall through a spider's web...</p>
<p>After they make their
    way back up, they meet Greham...the traitor who caused the death of Servi, Lavitz' father! Even worse...Greham has
    the Jade Dragoon Spirit, which holds the power of the Wind and control over Feybrand, the Green-Tusked dragon. After
    a fierce battle, Greham will be defeated, giving Lavitz the Jade Dragoon Spirit.</p>
<p>After the battle,
    Shana's condition will worsen...she must see a doctor immediatley, and the group finds one in Lohan. The doctor says
    the only cure is the Dragoni Plant..and she doesn't have much time.</p>
<p>Dart, Rose, and Lavitz ask around,
    but no one, not even Dabas, seems to know about a Dragoni Plant. The group decides to go back to the Dragon's Nest
    to see if they can find one, with a bottle of Pure Water in hand.</p>
<p>Pure Water, although it cannot cure
    Shana, opens a secret path beyond the Dragon's Nest...The Shirely Shrine. At the entrance, the Dragoon Spirits
    resonate...a sign that there is another Dragoon Spirit present! The group thoroughly explores the Shrine, including
    a wild ride on a roller coaster, finding themselves in the hands of Drake, a well-known and dangerous thief.</p>
<p>After the defeat of Drake, the spirit of Shirley comes forth. She and Rose seem to be long, close friends.
    After a test of loyalty, Shirley gives the Dragoons the White-Silver Dragoon Spirit, based on the power of Light and
    Healing.</p>
<p>Quickly going back to Lohan, the Dragoons give Shana the Spirit...and she herself is now a
    Dragoon!</p>
<p>The main event in Lohan is the Hero Competion, and Dart agrees to participate. There he meets
    his literally old friend and martial arts master Haschel, who is also in the Hero Competition. Dart will fight
    against Gorgaga, Serfius, Danton, Atlow, and a fierce, strong swordsman named Lloyd, whom he loses to.</p>
<p>After the competition, match-maker Lavitz comes into play and tries to hook up Dart with Shana while he takes a
    reluctant and stubborn Rose. This is one of the funnier parts in the story.</p>
<p>However, the fun soon ends
    as the group leaves Lohan, only to be confronted with a dying soldier....who informs Lavitz that King Albert has
    been kidnapped and taken to Hellena, and to be executed by morning!! It's back to Hellena for our heroes, and
    Haschel is sure to join them!</p>
<p>Unfortunately, the group is trapped, and forced to face Jiango, a real
    big bully. After his deafeat, they make their way to the top just as the sun comes up. They find Fruegal about to
    kill Albert, but are able to defeat Fruegal once and for all...but at a price. As they deliver the final blow, the
    group turns to Albert...and the Hooded Man, who pulls out of Albert's back a gem. Lavitz, adrenaline going into
    overdrive, turns into a Dragoon and goes to strike at the Hooded Man...who, at the last moment, pulls out a
    dangerous sword and kills Lavitz!! The hood falls out...revealing Lloyd to be the Hooded Man, and the sword to be
    the Dragon Buster. Lloyd quickly escapes...</p>
<p>...but the group is more concerned with Lavitz, who lies
    dying in Dart's arms. As Lavitz breathes his final breaths, he entrusts all to Dart, and gives Albert his Jade
    Dragoon Spirit.</p>
<p>The group goes back to Seles, mourning over the death of their friend. However, they
    are also interested in the Gem that Lloyd stole from Albert. Albert explains that he hired the Hooded Man as an
    advisor, not knowing that Lloyd was already employed by the Imperial Sandora as a spy. Albert explains the Moon Gem
    is sealed inside the body of each crowned heir (in Serdio) because of the fear of it getting into the wrong hands.
    The group decides then to go to the Black Castle in Kazas, where they hope to confront Albert's uncle, Doel, and
    learn about why he wanted Shana kidnapped.</p>
<p>Before they go into Kazas, they come into a village, where a
    young boy named Popo questions them. After learning they are against Sandora, but want to end the war more than
    anything else, Popo lets them through a secret entrance that leads to the Black Castle.</p>
<p>In the Black
    Castle, the group collects three colored balls to open the door to Doel...along with a rematch to Kongol!</p>
<p>Once they face Doel, they begin the hardest battle of late...Doel is the Violet Dragoon, based on the Element of
    Thunder!</p>
<p>After his defeat, Doel gives some interesting information....Lloyd is behind Shana's
    kidnapping, and he has gone to Tiberoa!!</p>
<p>And to everyone's surprise...Haschel becomes the next Violet
    Dragoon!</p>

<p class="center"><a href="/story/chapter2">To Chapter Two: The Platinum Shadow</a></p>
<p class="center"><a href="/script/chapter1">Script for Chapter One</a></p>