<h1 id="title">Contact</h1>

<p>Thank you for checking out this site and supporting The Legend of Dragoon! I'm happy to have restored this site and
    now aim to find more ways to contribute to this community.</p>

<p>I'd love to hear from other fans! Whether a personal story, a suggestion for the site, or whatchamacallit, email me
    at <a href="mailto:bruce@bitbruce.com" class="bruce">bruce@bitbruce.com</a>.</p>