<h1><u>Experience</u></h1>

<p><font size="2">Earning XP in this game isn't exactly easy since it splits three ways among your current party and six ways among your resting party.  But for the sake of it, I've made a list of the amount of XP needed for each character up to level 40.  You don't need that high of a level to finish the game, but it's nice to know.  I may even go higher if I play the game more.

<p>"L/A" means "Lavitz/Albert", and "S/M" means "Shana/Miranda".

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">

        <tr><td colspan="8"><p align="center"><font size="4">Experience</font></td></tr>


    <tr><td><p align="center"><font size="3">LEVEL</font></td>
    <td><p align="center"><font size="3">DART</td>
        <td><p align="center"><font size="3">L/A</td>
        <td><p align="center"><font size="3">S/M</td>
        <td><p align="center"><font size="3">ROSE</td>
        <td><p align="center"><font size="3">HASCHEL</td>
        <td><p align="center"><font size="3">MERU</td>
        <td><p align="center"><font size="3">KONGOL</td>
        </tr>


        <tr><td><p align="center"><font size="2">2</td>
        <td><p align="center"><font size="2">20</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">3</td>
        <td><p align="center"><font size="2">43</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">4</td>
        <td><p align="center"><font size="2">102</td>
        <td><p align="center"><font size="2">110</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">5</td>
        <td><p align="center"><font size="2">200</td>
        <td><p align="center"><font size="2">203</td>
        <td><p align="center"><font size="2">204</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">6</td>
        <td><p align="center"><font size="2">345</td>
        <td><p align="center"><font size="2">350</td>
        <td><p align="center"><font size="2">352</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr align="CENTER"><td><p align="center"><font size="2">7</td>
        <td><p align="center"><font size="2">548</td>
        <td><p align="center"><font size="2">557</td>
        <td><p align="center"><font size="2">559</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">8</td>
        <td><p align="center"><font size="2">819</td>
        <td><p align="center"><font size="2">831</td>
        <td><p align="center"><font size="2">835</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">9</td>
        <td><p align="center"><font size="2">1166</td>
        <td><p align="center"><font size="2">1183</td>
        <td><p align="center"><font size="2">1189</td>
        <td><p align="center"><font size="2">1193</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">10</td>
        <td><p align="center"><font size="2">1600</td>
        <td><p align="center"><font size="2">1624</td>
        <td><p align="center"><font size="2">1632</td>
        <td><p align="center"><font size="2">1636</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>


        <tr><td><p align="center"><font size="2">11</td>
        <td><p align="center"><font size="2">2129</td>
        <td><p align="center"><font size="2">2161</td>
        <td><p align="center"><font size="2">2172</td>
        <td><p align="center"><font size="2">2178</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">12</td>
        <td><p align="center"><font size="2">2764</td>
        <td><p align="center"><font size="2">2806</td>
        <td><p align="center"><font size="2">2820</td>
        <td><p align="center"><font size="2">2828</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">13</td>
        <td><p align="center"><font size="2">3515</td>
        <td><p align="center"><font size="2">3567</td>
        <td><p align="center"><font size="2">3585</td>
        <td><p align="center"><font size="2">3596</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">14</td>
        <td><p align="center"><font size="2">4390</td>
        <td><p align="center"><font size="2">4456</td>
        <td><p align="center"><font size="2">4478</td>
        <td><p align="center"><font size="2">4491</td>
        <td><p align="center"><font size="2">4434</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">15</td>
        <td><p align="center"><font size="2">5400</td>
        <td><p align="center"><font size="2">5481</td>
        <td><p align="center"><font size="2">5508</td>
        <td><p align="center"><font size="2">5524</td>
        <td><p align="center"><font size="2">5454</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">16</td>
        <td><p align="center"><font size="2">6553</td>
        <td><p align="center"><font size="2">6651</td>
        <td><p align="center"><font size="2">6684</td>
        <td><p align="center"><font size="2">6704</td>
        <td><p align="center"><font size="2">6619</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">17</td>
        <td><p align="center"><font size="2">7860</td>
        <td><p align="center"><font size="2">7978</td>
        <td><p align="center"><font size="2">8018</td>
        <td><p align="center"><font size="2">8041</td>
        <td><p align="center"><font size="2">7939</td>
        <td><p align="center"><font size="2">---</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">18</td>
        <td><p align="center"><font size="2">9331</td>
        <td><p align="center"><font size="2">9471</td>
        <td><p align="center"><font size="2">9517</td>
        <td><p align="center"><font size="2">9545</td>
        <td><p align="center"><font size="2">9424</td>
        <td><p align="center"><font size="2">9443</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">19</td>
        <td><p align="center"><font size="2">10947</td>
        <td><p align="center"><font size="2">11139</td>
        <td><p align="center"><font size="2">11193</td>
        <td><p align="center"><font size="2">11226</td>
        <td><p align="center"><font size="2">11084</td>
        <td><p align="center"><font size="2">11106</td>
        <td><p align="center"><font size="2">---</td>
        </tr>

        <tr><td><p align="center"><font size="2">20</td>
        <td><p align="center"><font size="2">12800</td>
        <td><p align="center"><font size="2">12992</td>
        <td><p align="center"><font size="2">13056</td>
        <td><p align="center"><font size="2">13094</td>
        <td><p align="center"><font size="2">12928</td>
        <td><p align="center"><font size="2">12953</td>
        <td><p align="center"><font size="2">13017</td>
        </tr>

        <tr align="CENTER"><td><p align="center"><font size="2">21</td>
        <td><p align="center"><font size="2">14817</td>
        <td><p align="center"><font size="2">15039</td>
        <td><p align="center"><font size="2">15113</td>
        <td><p align="center"><font size="2">15158</td>
        <td><p align="center"><font size="2">14965</td>
        <td><p align="center"><font size="2">14995</td>
        <td><p align="center"><font size="2">15069</td>
        </tr>

        <tr><td><p align="center"><font size="2">22</td>
        <td><p align="center"><font size="2">17036</td>
        <td><p align="center"><font size="2">17292</td>
        <td><p align="center"><font size="2">17377</td>
        <td><p align="center"><font size="2">17428</td>
        <td><p align="center"><font size="2">17207</td>
        <td><p align="center"><font size="2">17241</td>
        <td><p align="center"><font size="2">17326</td>
        </tr>

        <tr><td><p align="center"><font size="2">23</td>
        <td><p align="center"><font size="2">19467</td>
        <td><p align="center"><font size="2">19759</td>
        <td><p align="center"><font size="2">19856</td>
        <td><p align="center"><font size="2">19914</td>
        <td><p align="center"><font size="2">19661</td>
        <td><p align="center"><font size="2">19700</td>
        <td><p align="center"><font size="2">19798</td>
        </tr>


        <tr><td><p align="center"><font size="2">24</td>
        <td><p align="center"><font size="2">22118</td>
        <td><p align="center"><font size="2">22450</td>
        <td><p align="center"><font size="2">22560</td>
        <td><p align="center"><font size="2">22627</td>
        <td><p align="center"><font size="2">22339</td>
        <td><p align="center"><font size="2">22383</td>
        <td><p align="center"><font size="2">22494</td>
        </tr>

        <tr><td><p align="center"><font size="2">25</td>
        <td><p align="center"><font size="2">25000</td>
        <td><p align="center"><font size="2">25375</td>
        <td><p align="center"><font size="2">25500</td>
        <td><p align="center"><font size="2">25575</td>
        <td><p align="center"><font size="2">25250</td>
        <td><p align="center"><font size="2">25300</td>
        <td><p align="center"><font size="2">25425</td>
        </tr>

        <tr><td><p align="center"><font size="2">26</td>
        <td><p align="center"><font size="2">28121</td>
        <td><p align="center"><font size="2">28543</td>
        <td><p align="center"><font size="2">28684</td>
        <td><p align="center"><font size="2">28768</td>
        <td><p align="center"><font size="2">28402</td>
        <td><p align="center"><font size="2">28459</td>
        <td><p align="center"><font size="2">28599</td>
        </tr>

        <tr><td><p align="center"><font size="2">27</td>
        <td><p align="center"><font size="2">31492</td>
        <td><p align="center"><font size="2">31965</td>
        <td><p align="center"><font size="2">32122</td>
        <td><p align="center"><font size="2">32217</td>
        <td><p align="center"><font size="2">31807</td>
        <td><p align="center"><font size="2">31870</td>
        <td><p align="center"><font size="2">32028</td>
        </tr>

        <tr><td><p align="center"><font size="2">28</td>
        <td><p align="center"><font size="2">35123</td>
        <td><p align="center"><font size="2">35650</td>
        <td><p align="center"><font size="2">35825</td>
        <td><p align="center"><font size="2">35931</td>
        <td><p align="center"><font size="2">35474</td>
        <td><p align="center"><font size="2">35544</td>
        <td><p align="center"><font size="2">35720</td>
        </tr>

        <tr><td><p align="center"><font size="2">29</td>
        <td><p align="center"><font size="2">39022</td>
        <td><p align="center"><font size="2">39607</td>
        <td><p align="center"><font size="2">39802</td>
        <td><p align="center"><font size="2">39919</td>
        <td><p align="center"><font size="2">39412</td>
        <td><p align="center"><font size="2">39490</td>
        <td><p align="center"><font size="2">39685</td>
        </tr>

        <tr><td><p align="center"><font size="2">30</td>
        <td><p align="center"><font size="2">43200</td>
        <td><p align="center"><font size="2">43848</td>
        <td><p align="center"><font size="2">44064</td>
        <td><p align="center"><font size="2">44193</td>
        <td><p align="center"><font size="2">43632</td>
        <td><p align="center"><font size="2">43718</td>
        <td><p align="center"><font size="2">43934</td>
        </tr>

        <tr><td><p align="center"><font size="2">31</td>
        <td><p align="center"><font size="2">47665</td>
        <td><p align="center"><font size="2">48380</td>
        <td><p align="center"><font size="2">48618</td>
        <td><p align="center"><font size="2">48761</td>
        <td><p align="center"><font size="2">48142</td>
        <td><p align="center"><font size="2">48237</td>
        <td><p align="center"><font size="2">48475</td>
        </tr>

        <tr><td><p align="center"><font size="2">32</td>
        <td><p align="center"><font size="2">52428</td>
        <td><p align="center"><font size="2">53215</td>
        <td><p align="center"><font size="2">53477</td>
        <td><p align="center"><font size="2">53634</td>
        <td><p align="center"><font size="2">52953</td>
        <td><p align="center"><font size="2">53057</td>
        <td><p align="center"><font size="2">53320</td>
        </tr>

        <tr><td><p align="center"><font size="2">33</td>
        <td><p align="center"><font size="2">57499</td>
        <td><p align="center"><font size="2">58361</td>
        <td><p align="center"><font size="2">58649</td>
        <td><p align="center"><font size="2">58321</td>
        <td><p align="center"><font size="2">58074</td>
        <td><p align="center"><font size="2">58189</td>
        <td><p align="center"><font size="2">58476</td>
        </tr>

        <tr><td><p align="center"><font size="2">34</td>
        <td><p align="center"><font size="2">62886</td>
        <td><p align="center"><font size="2">63829</td>
        <td><p align="center"><font size="2">64144</td>
        <td><p align="center"><font size="2">64332</td>
        <td><p align="center"><font size="2">63515</td>
        <td><p align="center"><font size="2">63641</td>
        <td><p align="center"><font size="2">63955</td>
        </tr>

        <tr><td><p align="center"><font size="2">35</td>
        <td><p align="center"><font size="2">68600</td>
        <td><p align="center"><font size="2">69629</td>
        <td><p align="center"><font size="2">69972</td>
        <td><p align="center"><font size="2">70177</td>
        <td><p align="center"><font size="2">69286</td>
        <td><p align="center"><font size="2">69423</td>
        <td><p align="center"><font size="2">69766</td>
        </tr>

        <tr><td><p align="center"><font size="2">36</td>
        <td><p align="center"><font size="2">74649</td>
        <td><p align="center"><font size="2">75769</td>
        <td><p align="center"><font size="2">76142</td>
        <td><p align="center"><font size="2">76366</td>
        <td><p align="center"><font size="2">75396</td>
        <td><p align="center"><font size="2">75545</td>
        <td><p align="center"><font size="2">75918</td>
        </tr>

        <tr><td><p align="center"><font size="2">37</td>
        <td><p align="center"><font size="2">81044</td>
        <td><p align="center"><font size="2">82260</td>
        <td><p align="center"><font size="2">82665</td>
        <td><p align="center"><font size="2">82908</td>
        <td><p align="center"><font size="2">81855</td>
        <td><p align="center"><font size="2">82017</td>
        <td><p align="center"><font size="2">82422</td>
        </tr>

        <tr><td><p align="center"><font size="2">38</td>
        <td><p align="center"><font size="2">87795</td>
        <td><p align="center"><font size="2">89112</td>
        <td><p align="center"><font size="2">89551</td>
        <td><p align="center"><font size="2">89814</td>
        <td><p align="center"><font size="2">88673</td>
        <td><p align="center"><font size="2">88848</td>
        <td><p align="center"><font size="2">89287</td>
        </tr>

        <tr><td><p align="center"><font size="2">39</td>
        <td><p align="center"><font size="2">94910</td>
        <td><p align="center"><font size="2">96334</td>
        <td><p align="center"><font size="2">96808</td>
        <td><p align="center"><font size="2">97093</td>
        <td><p align="center"><font size="2">95859</td>
        <td><p align="center"><font size="2">96049</td>
        <td><p align="center"><font size="2">96523</td>
        </tr>

        <tr><td><p align="center"><font size="2">40</td>
        <td><p align="center"><font size="2">102400</td>
        <td><p align="center"><font size="2">103936</td>
        <td><p align="center"><font size="2">104448</td>
        <td><p align="center"><font size="2">104755</td>
        <td><p align="center"><font size="2">103424</td>
        <td><p align="center"><font size="2">103628</td>
        <td><p align="center"><font size="2">104140</td>
        </tr>
</table>