<h1><u>The Art of Fighting</u></h1>

<p><font size="2">All right then. Now, if you want to survive out there in the Land of
        Endiness, you're gonna have to learn how to fight, and I don't mean a low kick
        to the groin. I mean sword slashing, rapier rushing, javelin jabbing, arrow
        assaulting, fist flying, hammer hacking, and axe annihilating types of
        fighting. Yeah, that was snazzy huh? Well, on with the lessons!  There are two types of fighting in
        Legend of Dragoon: Standard
        Fighting and Dragoon Fighting! Let
        us begin!

<h2><u>Round 1: Standard Fighting</u></h2>

<p><img src="/assets/charamenu.jpg" title="Sample of bar at bottom of screen">

<p>This menu includes your character's HP (Health Points), MP (Magic Points), Spirit Meter and Dragoon Levels (when
    applicable, more on that later), and a small list of pictures above this, which
    I will call the "Standard Icon Menu".

<img src="/assets/sic.jpg" title="Standard Icon Menu">
<p><img src="/assets/lilsword.jpg" title="Attack Icon">The first Icon is in the shape of a sword, and this indicates,
    "Attack". Now, you cannot just simply press a button and let your
    character do the rest. In Legend of Dragoon, you use a unique combat system
    called the "Additions System". Basically you're attacking your enemy
    by pressing the "X" button at different times. But not just ANY time,
    mind you, but at specific intervals that vary depending on the Addition you are
    using for a specific character. When your character rushes towards the enemy,
    two blue "time boxes" appear.</p>

<p><img src="/assets/dart31.jpg" title="What a normal attack looks like with the time boxes">

<p>The key is to hit the "X" button
    when the two blue boxes are on top of each other, and you have to repeat this
    anywhere from 1 to 7 times, depending on the Addition you use for your
    character. There is another way to time the Addition. In the lower right hand
    corner is a little "X" button that shortens when you're supposed to
    press the "X" button. If you look at the mock "X" button
    and press the real "X" button at the same time the mock one shortens,
    you should be successful. If you are successful, the boxes will turn white and
    you can continue your Addition appropriately. If you press "X" and
    the boxes turn gray, you were too fast. If you press "X" and the
    boxes turn a blurry blue, you were too slow. If either of these happens, you
    will not be able to complete the addition and your turn is over. Fret not:
    Additions take practice, practice, and more button-slamming practice (some more
    than others, if I may add). Each character has between 3 and 7 different
    Additions, each one unique, that you gain as you level up your character. In "addition"
    (no pun intended), you can also level up your Additions. After 20 complete
    Additions, that Addition will get stronger. The highest level they go to is
    Level 5, or completing each Addition successfully 80 times. Also, some
    Additions may be stronger than others, but they may also give you less SP (more
    on SP later). For each character's Additions, please check the
    "Character" pages.</p>

<p>However, you must also be on the lookout for the "counter".
    Sometimes while you're doing your addition, the enemy likes to counter. When
    this happens, the screen flashes and the two time boxes turn orange. When this
    happens, press the "O" button, not the "X", at the same
    time you'd normally press it to continue the addition.

<p><img src="/assets/dart32small.jpg" title="What a counter attack looks like with the time boxes">


<p>If you get it right, a
    red streak will hit your enemy, and you have successfully countered his
    counter! If you get it wrong, a red streak will hit YOU, and you will fall back
    and take damage, your character's turn now over, and not be able to complete
    the rest of the addition. There's no way to predict counters; they happen at
    random. Also be careful for the "Weapon Block" Abnormalities.
    Sometimes an enemy will cause you to lose your ability to fight, and a red
    "X" will appear over the sword. When this happens, you'll have to
    choose another option. It will disappear in three rounds or when the battle is
    over.

<p><img src="/assets/lilguard.jpg" title="Guard Icon">

    The next option on the Icon Menu is the shield, which stands for
    "Guard". When you select Guard, several things happen. First off, you
    recover 10% of your HP. Secondly; you only take half damage from your enemies.
    And finally, if an enemy throws a status ailment at you (poison, fear, stun,
    etc.) they will NEVER work (I'm not sure about instant death though...).
    HOWEVER, if you already HAVE an abnormality, using Guard will NOT cure you of
    it. Use Guard to recover your HP before facing a boss, or if you're just low on
    HP and have hardly any healing items.

<p><img src="/assets/lilchest.jpg" title="Items Icon">

    The third option on the Icon Menu is the treasure chest, which opens up a
    menu for "Items". This menu shows you what items you have available
    for you to use, up to a maximum of 32. Simply select an item, press
    "X", and select the character/enemy you wish to use the item on. The small box under the list tells you
    what the item does. There are two
    different types of Attacking Items: Single and Multi. When you
    use a Single Attacking Item, you simply just throw it at your enemy. However, a Multi Attacking Item is
    different. When you throw it at
    the enemy, a small "X" button appears on the bottom right-hand side of the
    screen, and next to it is a counter.
    When you see this, repeatedly press the "X" button as fast as you
    can. When you do, you'll notice
    the number on the counter increasing. The higher the number is, the stronger the attack will be. Believe me, there is a HUGE difference
    between 150% and 250%, so slam that "X" button! Multi Attack items will have the word "(multi)" next to them
    in the box below the item list.

<p><img src="/assets/lilrun.jpg" title="Run Icon">

    The fourth option on the Icon Menu is the boot, which means "Run
    Away". Sometimes it's better to run away in battle, but keep in mind it
    won't work 100% of the time. If you really want to escape, keep selecting it
    until you do get away. Keep in mind you cannot run away from Boss Battles (the
    boot will have an a red "X" over it if you cannot use it).


<h2><u>Round 2: Dragoon Fighting</u></h2>


<p>Now, the before you get all excited about becoming a
    Dragoon, you need to increase your Spirit Meter. What is the Spirit Meter? When
    you enter a battle, you have your character picture, HP, MP, Dragoon Level and the Spirit
    Meter. The Spirit Meter indicates when and how long you can transform into a
    Dragoon. To fill up your Spirit Meter, you first need a Dragoon Spirit. You
    won't get a Dragoon Spirit in the game until you complete your objectives in
    Hoax. After that, both Dart and Rose will have Dragoon Spirits, and eventually
    everyone in the party will have one. After you get a Dragoon Spirit, you need
    to fill up your Spirit Meter. You do this simply by attacking your enemy with
    your Additions (though Shana/Miranda do not have Additions, they gain Spirit Points with each attack). Every time you hit your enemy, you
    gain Spirit Points, or SP. Even if you only hit your enemy once with your
    Addition, you still gain some SP. However, the more successful the Addition,
    the more SP you gain. Keep in mind that there are some Additions that give you
    more SP than others, but these tend to be weaker in strength.

<p>For every 100 SP, the Spirit Meter fills up one Level. There are different
    Levels at which you can fill your Spirit Meter to. At first, you'll only be at
    Level One, and that means you can only be a Dragoon for one round. However, as
    you rack up more SP, you'll eventually be able to level up your Spirit Meter,
    up to Level Five, which allows you to stay a Dragoon for five turns. In other words, every turn as a Dragoon
    consumes 100 SP.  You do not need to fill up the Spirit Meter to it's maximum level to become a Dragoon, but you do need at least 100 SP.

<p>Here are the colors that determine what level your Spirit Meter is at and how long you can stay a Dragoon:

<p><table cellpading="15" cellspacing="10">
    <tr><td><b>Color</b></td><td><b>Level/Turns</b></td><td><b>SP Needed</td></tr>
    <tr><td><font color="#0000FF">Blue</font></td>
        <td><font color="#0000FF">One</font></td>
        <td><font color="#0000FF">0</font></td></tr>
    <tr><td><font color="#00FF66">Green</font></td><td><font color="#00FF66">Two</font></td>
        <td><font color="#00FF66">2000</font></td></tr>
    <tr><td><font color="#FFFF00">Yellow</font></td><td><font color="#FFFF00">Three</font></td>
        <td><font color="#FFFF00">6000</font></td></tr>
    <tr><td><font color="#FF6600">Orange</font></td><td><font color="#FF6600">Four</font></td>
        <td><font color="#FF6600">12000</font></td></tr>
    <tr><td><font color="#CC0033">Red</font></td><td><font color="#CC0033">Five</font></td>
        <td><font color="#CC0033">20000</font></td></tr></table>

<p>Let me explain again how the game determines what Level your Spirit Meter is
    at. Every time you use an Addition, you gain SP. After you gain a certain
    amount of SP (indicated above), your Spirit Meter gains a level, allowing you to be a Dragoon for
    one more turn. However, there is no "counter" in the game that tells
    you when you're about to gain a level (the above numbers are approximate). The maximum you can go is Level Five. </p>

<p><img src="/assets//lilspirit.jpg" title="Transform Icon">Now, if you're ready to transform into a Dragoon, a new picture will appear
    on the Icon Menu: That of a Dragoon Spirit. Select the Dragoon Spirit and
    viola; you'll be a Dragoon. Don't worry, it's still that character's turn, you
    didn't waste it transforming. However, now the Dragoon Icon Menu is different
    than the Standard Icon Menu. It only has two options. </p>

<p><img src="/assets//dic.jpg" title="Dragoon Icon Menu">

<p><img src="/assets/lildsfight.jpg" title="Attack">The first picture is a red sword, and this means, "Attack".
    However, Dragoon Additions are different from the Standard Additions. Instead
    of a time boxes, there is a clock-like meter that appears in the upper-right
    hand corner of the screen.

<p><img src="/assets/clockcounter1.jpg" title="The clock-like meter">


<p>Press "X" to start a small light spinning
    around the clock clockwise (if you wait too long, you'll only do one attack).
    When the light hits "noon" (the top) on the clock meter, press
    "X".  Each time you are
    successful in pressing "X" when the light hits the top, it will go
    around again, gaining speed each time. This will happen for a maximum of five
    rounds, no matter what level your Sprit Meter is at. The amount of rounds you were successful
    determines how many times you attack and how powerful your attack is.  Every time you successfully complete a round, the power meter goes up If you only completed it, say, three
    rounds, your character will only do three attacks. If you complete the entire
    Addition successfully (five rounds), the word "Perfect" will appear,
    and your character will do a bonus attack. Like with the Standard Additions,
    there is another way to time this. Below the clock meter is a mock
    "X" button that will shrink when you are supposed to hit the real
    "X" button. If you hit the "X" button at the same time the
    mock one shrinks, you should be successful. *NOTE: Kongol's
    maximum clock meter is only three rounds, and everyone else's is five rounds.

<p><img src="/assets/lildsmagic.jpg" title="Magic">The second picture in the Icon Meter is a green-and-yellow wand,
    and this stands for "Magic". When
    you select this, a list appears giving you your available magic. You simply select one of the spells to
    use and what enemy or ally to use it on, and the spell will automatically executed. To learn more magic, you must increase
    your Dragoon Level. You start out
    with only one spell, and for each level you gain you get one more spell. Each character except Kongol will learn
    a maximum of four magic attacks, the final one being the Dragon Summon.

<p>When the list of magic appears, there is also a small box under the
    list that tells you what the item does. Dart's "Explosion", for example, says "Fire 25% STR (All)". What this means is that this magic is "Fire-based",
    has "25% Strength", and attacks "All" the enemies. Keep in mind that some Dragoon Magic heals or protects your
    allies, just read what the little box says.

<p>
<p><img src="/assets/lilspecial.jpg" title="Special">Sometimes on the Standard Icon Menu, there is yet another picture
    that looks like a 'yin-yang'. This
    is the "Dragoon Special", and it's only available if all the characters in your
    party have their Spirit Meters filled to the max (though not necessarily at the
    highest level...for example, this will still work if Dart and Albert are Level 5
    Dragoons but Miranda is only a Level 3 Dragoon, so long as all their meters are
    filled to the highest).  You will be able to tell when you're Spirit Meter is at it's max because it will flash. Initiating
    the Dragoon Special will transform ALL your characters into Dragoons, and the
    character that started the Dragoon Special will automatically complete his or
    her Dragoon Addition not only successfully but also with extra power.

<p><p>Are there any downsides to being a Dragoon? Perhaps. You cannot "Guard" or use "Items", so plan wisely.</p>


<p><h2><u>Round 3: Miscellaneous (but important!)
        Information</h2></u>

<p>My first order of business is to explain to you what the arrows
    above your character mean. When
    the menu at the bottom of the screen shows up, it'll include your character's picture,
    HP, MP, and Spirit Meter. When the
    character's picture is surrounded in white that indicates that it is his or her
    turn. On the battle screen, you
    will also notice a small arrow above that character's head. Select from the Icon Menu what you
    would like to do. Again, another
    arrow pops up, but not necessarily over the character's head, but over the
    person that is "most suited" for the action. For example, when you select the "Fight" picture, the arrow
    will be over the enemy's head. If
    you select a healing "Item", an arrow will be over the character's head. If you press "X" again, you will
    initiate the action to the character that was selected. See how that works? And, if you wish to move the arrow to
    another character, simply use the directional buttons located on the control
    pad.

<p>You will also notice that sometimes the arrow is a different
    color. The color changes according
    to you or your enemy's HP, so it's quite easy to decipher. When the arrow is "blue", the HP of the
    object (whether it be ally or enemy) selected is at or above 50% of his or her
    maximum HP. When the arrow is "yellow",
    the HP of the object selected is between 25% and 50% of his or her maximum
    HP. Finally, when the arrow is "red",
    the HP of the object selected is at or below 25% of his or her maximum HP.

<p>If you want to make sure that you have selected the right character
    or enemy, check the top of the screen. There is a box there that tells you the character or enemy's name. You will also notice that the box
    changes color depending on whom you select. If you are wondering why that is, it's really quite
    simple. This indicates what "Element"
    you or your enemy is. To help you
    understand, I have made a table that tells you what color symbolizes a specific
    element:

<p><table cellpadding="10"></p>

<p><tr><td><b>Color</b></td><td><b>Element</b></td></tr></p>

<p><tr><td><font color="RED">Red</td><td><font color="RED">Fire</font></td></tr></p>

<p><tr><td><font color="#9933CC">Dark Violet</font></td><td><font color="#9933CC">Darkness</font></td></tr></p>

<p><tr><td><font color="GREEN">Green</td><td><font color="GREEN">Wind</font></td></tr></p>

<p><tr><td><font color="YELLOW">Yellow</td><td><font color="YELLOW">Light</font></td></tr></p>

<p><tr><td><font color="BLUE">Blue</td><td><font color="BLUE">Water</font></td></tr></p>

<p><tr><td><font color="#FF6600">Orange</td><td><font color="#FF6600">Earth</font></td></tr></p>

<p><tr><td><font color="#CC99CC">Light Violet</td><td><font color="#CC99CC">Thunder</font></td></tr></p>

<p><tr><td><font color="#999999">Gray</td><td><font color="#999999">Non-Elemental</font></td></tr></table></p>

<p><p>Now, knowing the element your enemy is can prove to be quite advantageous
    in battle, because in knowing the enemy's element you also know what his or her
    weakness is as well, for most cases that is. Again, I have conducted a table to help clarify matters:

<p><table cellpadding="10"></p>

<p><tr><td><b>If the enemy is...</b></td><td><b>Their
                weakness is...</b></td></tr></p>

<p><tr><td><font color="RED">Fire</font>
        </td><td><font color="BLUE">Water</font></td></tr></p>

<p><tr><td><font color="#9933CC">Darkness</font></td><td><font color="YELLOW">Light</font></td></tr></p>

<p><tr><td><font color="Green">Wind</font>
        </td><td><font color="#FF6600">Earth</font></td></tr></p>

<p><tr><td><font color="Yellow">Light</font>
        </td><td><font color="#9933CC">Darkness</font></td></tr></p>

<p><tr><td><font color="BLUE">Water</font>
        </td><td><font color="RED">Fire</font></td></tr></p>

<p><tr><td><font color="#FF6600">Earth</font>
        </td><td><font color="GREEN">Wind</font></td></tr></p>

<p><tr><td><font color="#CC99CC">Thunder</font>
        </td><td>None</td></tr></p>

<p><tr><td><font color="#999999">Non-Elemental</font>
        </td><td>None</td></tr></table></p>

<p>Knowing this information will surely help you be victorious in
    battle!</p>

<p>Did you know that you can rotate the camera during battle? It's true! Try using the R2 button to find a view you're most
    comfortable with.</p>

<p>Now, I'll be exiting the battle screen for a moment. When you're not in battle, press L1 or
    R1 to have arrows appear in various colors and areas on the screen, including
    one on top of Dart's head.</p>

<img src="/assets/dart11.jpg" title="Dart and the arrows">

<p>The color
    of the arrow above your head indicates your "safety". When the arrow is blue, there are no enemies nearby and you are
    perfectly safe. When the arrow
    turns yellow, take caution because an enemy is lurking nearby. However, when the arrow turns red, you
    must be extremely careful because you are about to enter battle.</p>

<p>In addition to the safety arrows, there are other arrows of
    different colors you will see around the screen. A dark green arrow symbolizes a route that you can take, a
    blue arrow stands for item or weapon shops, and a yellow arrow indicates an inn
    or clinic.  Inns recover HP and MP, and clinics heal abnormalities (except unconsciousness, which is what Inns do).  Unlike other RPGs, staying at an Inn will not cure abnormalities.</p>

<p>When you are on the over world map, your area of exploration is
    limited to a dotted path.There
    are no arrows, so you do not know when you will enter battle. To change views in the over world map,
    press R2.  Later in the game, when
    you have the Wings of Savan, pressing the square button will call him, and he
    will take you to various locations.</p>

<p>One last thing...remember to save often!</p>

<img src="/assets/dart13.jpg" title="Dart next to a save point">

<p>Well, I think that's about all the info you'll need to know when
    battling in Endiness! Happy
    Hunting!</p>