<h1>Image Gallery</h1>

<p>This is the Endiness Image Gallery, where you can look at screenshots from the game. The images came from a variety of sources whom I give credit to at my Links page.</p>

<p>Have fun!</p>

Dart
Dart's Character Picture
Dart's Profile
A nice picture of Dart
Dart in the game intro 1
Dart in the game intro 2
Dart in the game intro 3
Dart on the ground
Dart gazing
Dart yelling with his sword
Dart kneeling with his sword
Dart looking up
Dart in Vellweb
Dart at the Fueno Inn
Dart near a save point in Mayfil
Dart crossing the bridge in the Prairie
Dart standing on a hill, looking at Seles
Dart fighting Feyrbrand
Dart with the Dragon Block Staff
Dart in Seles
Dart in Seles again
Dart in the Dragon's Nest
Dart sitting and pondering
Dart talking in Seles
Dart being attacked by the Commander
Dart attacking the Commander
Dart healing himself
Dart is about to fight!
Dart attacking
Dart defeats an enemy
Dart is about to fight again!
Dart using an Addition
Dart using an Addition again
Dart trying to avoid a Counter Attack
Dart attacking Doel
Dart's victory stance
Dart transforming into the Divine Dragoon
Divine Dragoon Dart with his sword
Dart as the Divine Dragoon!
Divine Dragoon Dart about to cast his cannon
Divine Dragoon Dart in the dust
Divine Dragoon Dart "sleeping"
Divine Dragoon Dart yeling
Divine Dragoon Dart looking back
Divine Dragoon Dart posing
Divine Dragoon Dart flying
Dart finishes transforming for the first time
Dart finishes transforming for the first time 2
Red-Eye Dragoon Dart casting Flameshot
Red-Eye Dragoon Dart attacking
Red-Eye Dragoon Dart practicing with Rose
Red-Eye Dragoon Dart attacking Dragoon Doel
Red-Eye Dragoon Dart casting Final Burst
Red-Eye Dragoon Dart casting Final Burst 2
Redy-Eye Dragoon Dart wins!
Red-Eye Dragoon Dart fighting Lenus
Red-Eye Dragoon Dart attacking Doel
Red-Eye Dragoon Dart's firey attack
Red-Eye Dragoon Dart finishes his firey attack
Red-Eye Dragoon Dart preparing to attack
Red-Eye Dragoon Dart preparing a magic attack
Large Red-Eye Dragoon Dart
Tall Red-Eye Dragoon Dart
Dart transforming 1
Dart transforming 2
Dart transforming 3
Dart transforming 4
Dart transforming 5
Dart transforming 6
Dart transforming 7
Dart transforming 8
Dart transforming 9
Dart transforming 10
Dart the Action Figure!
Rose
Rose's Character Picture
Rose's official profile
A large picture of Rose
Rose in Vellweb 1
Rose in Vellweb 2
Rose in Vellweb 3
Rose in Hoax 1
Rose in Hoax 2
Rose in Hoax 3
Rose in the Volcano
Rose yelling out
Rose with her sword
Rose running
Rose on a cliff 1
Rose on a cliff 2
Rose sees a dragon
Rose looking at Feyrbrand
Rose attacking
Rose attacking Faust
Dark Dragoon Rose awakening Dart's Dragoon Spirit
Dark Dragoon Rose attacking
Dark Dragoon Rose finishing an attack
Dark Dragoon Rose using magic
Dark Dragoon Rose's victory stance
Dark Dragoon Rose's victory stance 2
Dark Dragoon Rose casting Astral Drain
Dark Dragoon Rose casting Death Dimension
Dark Dragoon Rose finishing Astral Drain
Dark Dragoon Rose zooming away
Dark Dragoon Rose covering her face
Dark Dragoon Rose gazing
Dark Dragoon looking back
Dark Dragoon Rose reaching out
Sparkling Dark Dragoon Rose
Dark Dragoon Rose on a white background
Dark Dragoon Rose looking down
Large Dark Dragoon Rose
Rose transforming 1
Rose transforming 2
Rose transforming 3
Rose the Action Figure!

Lavitz
Lavitz' Character Picture
Lavitz' official profile
Lavitz attacking
Lavitz attacking Guftas
Lavitz attacking Feyrbrand
Lavitz finishing off an enemy
Lavitz attacking Fruegal
Jade Dragoon Lavitz is angry!
Jade Dragoon Lavitz getting ready to use magic
Jade Dragoon Lavitz preparing to attack
Jade Dragoon Lavitz on a white background
Tall Jade Dragoon Lavitz
Small Jade Dragoon Lavitz
Large Jade Dragoon Lavitz
Lavitz the Action Figure!
Shana
Shana's Character Picture
Shana's official profile
Shana waking up in Vellweb
Shana looking worried
A familair picture of Shana
Shana in Seles
Shana lying in Vellweb
White Silver Dragoon Shana with her bow
White Silver Dragoon Shana casting Moonlight
White Silver Dragoon Shana casting Moonlight 2
White Silver Dragoon Shana casting Star Children
White Silver Dragoon Shana using her bow
White Silver Dragoon Shana on a sparkling background
Shana transforming 1
Shana transforming 2
Shana transforming 3
Shana the Action Figure!
Haschel
Haschel's Character Picture
Haschel attacking Lenus
Haschel transforms
Kongol
Kongol's Character Picture
Kongol's Official Profile
Kongol in the Land of Giganto
Bad Kongol attacks!
Kongol the Action Figure!
Albert
Albert's character picture
Albert attacks
A full-body picture of the handsome Albert
Jade Dragoon Albert on a sparkling background
Jade Dragoon Albert casting Wing Blaster
Jade Dragoon Albert finishes transforming
Jade Dragoon Albert casting Rose Storm 1
Jade Dragoon Albert casting Rose Storm 2
Meru
Meru's character picture
Meru's official profile
Meru posing
Meru looking down
Blue Sea Dragoon Meru casting Freezing Ring
Blue Sea Dragoon Meru casting Freezing Ring 2
Blue Sea Dragoon Meru casting Freezing Ring 3
Blue Sea Dragoon Meru casting Rainbow Breath 1
Blue Sea Dragoon Meru casting Rainbow Breath 2
Blue Sea Dragoon Meru casting Rainbow Breath 3
Blue Sea Dragoon Meru casting Rainbow Breath 4
Blue Sea Dragoon Meru casting Rainbow Breath 5
Blue Sea Dragoon Meru casting Rainbow Breath 6
Blue Sea Dragoon Meru casting Rainbow Breath 7
Blue Sea Dragoon Meru casting Rainbow Breath 8
Blue Sea Dragoon Meru casting Diamond Dust 1
Blue Sea Dragoon Meru casting Diamond Dust 2
Blue Sea Dragoon Meru casting Diamond Dust 3
Meru transforms 1
Meru transforms 2
Meru transforms 3
Miranda
Miranda yelling
Miranda yelling 2
Miranda in the Rainbow Light
Miranda in the Crystal Palace
A rare picture of Miranda with her bow
White Silver Dragoon Miranda outside the Moon 1
White Silver Dragoon Miranda outside the Moon 2
White Silver Dragoon Miranda outside the Moon 3 (just slightly different from the one above)
White Silver Dragoon Miranda oustide the Moon 4
White Silver Dragoon Miranda outside the Moon 5
White Silver Dragoon Miranda inside the Moon 1
White Silver Dragoon Miranda inside the Moon 2
White Silver Dragoon Miranda casting Moonlight 1
White Silver Dragoon Miranda casting Moonlight 2
White Silver Dragoon Miranda casting Moonlight 3
White Silver Dragoon Miranda casting Star Children
White Silver Dragoon Miranda casting Gates of Heaven 1
White Silver Dragoon Miranda casting Gates of Heaven 2
Miranda transforms 1
Miranda transforms 2
Miranda transforms 3
Miranda transforms 4
Miranda transforms 5
Miranda transforms 6
Miranda transforms 7
Miranda transforms 8
Lloyd
Lloyd's Character Picture
Lloyd's official profile
A handsome picture of Lloyd
Lloyd charging
Lloyd casting a spell
Lloyd is escaping!
Lloyd posing
Lloyd as the Hooded Man
Lloyd the Action Figure!
Group Pictures
Dart, Rose, and Shana as Dragoons
Dart, Rose, and Shana in Furni
Dragoons Dart, Shana, Rose, Lavitz, Haschel, and The Hooded Man
Dart, Shana, Haschel, Miranda, Kongol, and Meru as Dragoons
Commander and the Hooded Man 1
Commander and the Hooded Man 2
Commander and the Hooded Man 3
Dart and Rose in Vellweb
Dart, Kongol, and Meru on Coolon 1
Dart, Kongol, and Meru on Coolon 2
Rose and Zieg in the Moon
Dart flying to save Shana
Kongol, Meru, Albert, and Haschel as Dragoons
Rose and Zieg flying with the Dragon Buster
Rose and Zieg falling into the white light
Kongol holding Meru as Dragoons
Shana, Dart, and Lavitz fighting Urobolus 1
Shana, Dart, and Lavitz fighting Urobolus 2
Rose, Shana, Dart, and Lavitz in Volcano Villude
Rose, Shana, Dart, and Lavitz attacking Feyrbrand
Rose, Shana, Dart, and Lavitz attacking Fruegal 1
Rose, Shana, Dart, and Lavitz attacking Fruegal 2
A close up of Rose, Shana, Dart, and Lavitz preparing to fight
Dart, Lavitz, and Shana fighting Urobolous (battle screen)
Dart, Lavitz, and Rose in a Jade Dragoon Special
Dart, Rose, and Lavitz fighting in the Dragon's Nest
Dragoon Dart, Rose, and Lavitz fighting Feyrbrand
Dart, Lavitz, and Rose fighting Feyrbrand 2
Greham attacking Dart
Shana, Dart, and Lavitz in a White Silver Dragoon Special
Albert, Dart, and Rose fighting Doel
Albert, Dart, and Rose as Dragoons
Albert, Dart, and Rose attacking Regole and Lenus
Lloyd attacking Kongol, Albert, and Dart
Dart, Albert, and Rose in Vellweb
Dart, Albert, and Rose in Vellweb 2
Albert, Kongol, and Dart attacking Melbu Frahma
Lavitz, Rose, and Dart in a Red-Eye Dragoon Special
Lavitz, and Rose and Dart as Dragoons
Dark Dragoon Rose casting Astral Drain on Lavitz and Dart
Red-Eye Dragoon Dart casting magic with Rose and Lavitz
Dart and Lavitz being healed by Astral Drain
Lavitz, Dart, and Shana in a White Silver Dragoon Special
Dart and Lavitz gaping in awe
Rose, Dart, and Lavitz in Hoax
Lavitz, Dart, and Rose in Hellena
Dart holding Lavitz as he dies 1
Dart holding Lavitz as he dies 2
Albert and Dart in Black Castle Kazas 1
Albert and Dart in Black Castle Kazas 2
Rose and Dart in the Barrens
Shana and Meru looking up
Kongol saving Albert from a pillar
Dart, Shana, and Meru looking on as Lenus dies
Dart, Shana, and Meru looking sad
Wink saves Lloyd
Dart and Rose with their Dragoon Spirits, Lavitz and Shana look on
Dart, Shana, Rose, and Lavitz with Greham as he dies
Rose, Dart, and Lavitz with their Dragoon Spirits in Shirely Shrine 1
Rose, Dart, and Lavitz with their Dragoon Spirits in Shirely Shrine 2
Rose, Lavitz, and Dart with the Red-Eye and White Silver Dragoon Spirits, with Shirley and Drake
Dart, Lavitz, Rose, and Shana with their Dragoon Spirits
Albert holding the Jade Dragoon Spirit, with Dart holding a dead Lavitz, and Rose and Shana looking on
Dart and Mappi race for the Red-Eye Dragoon Spirit
Dart and Rose hiding from Feyrbrand
Dart threatening the Commander and his guards
Dart, Shana, and Lavitz in the Limestone Cavern
Dart, Shana, and Lavitz in the Prairie
Dart, Shana, and Laviz in the shack
Dart, Lloyd, Shana, Diaz, Rose, and Albert in Vellweb (Spanish)
Diaz, Shana, Rose, Dart, and Albert in Vellweb (Spanish)
Dart and Shana as youngins
Lavitz, Dart, and some guards in Hellena
Lavitz, Dart, and Shana in the shack 2
Shana watching Dart and Lavitz acting like idiots
Lavitz and Dart protecting Hoax from Kongol and his guards
Dart, Lavitz, Rose, and Shana in a ransacked Hoax 1
Dart, Lavitz, Rose, and Shana in a ransacked Hoax 2
Dart, Rose, Lavitz, and Shana looking out over Volcano Villude
Dart, Rose, Shana, Albert, and Haschel in Fletz
Dart, Kongol, Meru, Rose, Shana, Albert, and Haschel in the Twin Castles
Lisa, Albert, Haschel, Shana, Dart, and Rose in a secret chamber
Lisa, King Zoir, Emille, Dart, and Albert in the Sun Chamber
The entire group in Aglis
Dart's flashback of himself and his mom and dad
Miscellaneous
Logos
The Official Logo
All Character Logo (Large)
All Character Logo
All Character Logo (small)
Everyone on Coolon Logo
The Red-Eye Dragoon Logo
The Dragon Campaign Logo
Dart, Shana, and Rose in Furni Logo
The Logo at the beginning of the game
The Ghost Ship Logo
The Japanese Logo
The Second Japenese Logo
The Melbu Frahma Logo
Dart, Shana, and Rose on the Queen Fury logo
The Darkness Dragoon Logo
Shana's Logo
The White Silver Dragoon Logo
Logo with the Dragoon Spirits
The Title Screen Logo
The Divine Tree Logo
Zieg
Evil Zieg
Another Evil Zeig
Good Zieg
Melbu Frahma
Melbu Frahma is UGLY!!
Another ugly picture of Melbu Frahma
Moon That Never Sets and the Divine Tree
The Moon is falling!
The Moon has set
The Divine Tree
The Divine Tree sprouting
The Divine Tree glowing
The Divine Tree exploding out of the ground
The Moon and the Divine Tree 1
The Moon and the Divine Tree 2
The Moon with Virage emerging on the Divine Tree
The Divine Dragon
The Divine Dragon flying
The Divine Dragon glancing
The Divine Dragon in Deningrad
The Divine Dragon glancing again
The Divine Dragon crashing into the Crystal Palace
The Divine Dragon Ball 1
The Divine Dragon Light
The Divine Dragon has sharp teeth
The Divine Dragon is HUGE!
The Divine Dragon spitting
The Divine Dragon Ball 2
The Divine Dragon Ball is warming up!
The Divine Dragon's Eye
The Dragon Campaign
All out attack!
A dragon zooming at full speed
A dragon flying
The dragon flying again
The dragon zooming again
The dragon prepares to attack
Michael's Dark Cannon
The martyr Kanzaz
The Virage with Kanzaz
A fiery explosion
A friend saving Rose
Rose dodging rocks
Kadessa
A clinging Virage
Belzac saving Shirley
Shirley talking with Belzac 1
Shirley talking with Belzac 2
Shirley preparing an arrow 1
Shirley preparing an arrow 2
Shirley fires her arrow
Shirley kills the Virage
Rose zooming
Zieg zooming
Zieg and Melbu Frahma fighting
Zieg and Melbu Frahma fighting again
Lenus
Lenus
Lenus in the Sun Chamber
Lenus using magic
Lenus the Blue Sea Dragoon
Another picture of Blue Sea Dragoon Lenus
Emperor Doel
Emperor Doel transforms
Emperor Doel and his swords of Light and Darkness
Emperor Doel using Magic
Emperor Doel is defeated
Emperor Doel is dying
The Commander
The Commander
Another pic of the Commander
The Commander is coming!
Coolon
Coolon in the sky
Coolon is hit!
Virage
Virage Emerging
More Virage
A glowing virage
A weird virage
A sketchy virage
Others
Houses on fire in Seles
Firey arrows assault Seles
A charge into Seles
The church is Seles is about to explode
The church in Seles explodes
Smoke rises in Seles
A boy helps an old man
Chargers attack
Broken statues
Broken fountains
Seles aftermath
Forest 1
Forest 2
Forest 3
Forest 4
Forest 5
Hellena Prison
Escaping Hellena Prison
A bridge in Hellena Prison
The entrance of Hellena Prison
Hitching a ride in Hellena Prison
Sneaking into Hellena Prison
The elevator in Hellena Prison
The closed gate to Hellena Prison
Killing the guards of Hellena Prison
Lavitz meets Dart in Hellena Prison
Lavitz and Dart team up in Hellena Prison
Bale 1
Bale 2
Indels Castle
The entrance to Shirley's Shrine
The ride in Shirely Shrine 1
The ride in Shirely Shrine 2
Inside the Black Castle in Kazas
Fletz at night
The Valley of Corrupted Gravity 1
The Valley of Corrupted Gravity 2
The Land of Gigantos
The same as above only smaller
The Queen Fury
The Ghost Ship Commeth
The skull on the Ghost Ship
Here comes the Ghost Ship!
Sailors running around
"SMASH!!!"
Fueno
The Prison Island/Sea Cavern 1
The Prison Island/Sea Cavern 2
The Water City of Furni
The city of Deningrad
The Crystal Palace crumbling
The Crystal Palace getting zapped
The city is falling
The Church in Deningrad
The Forbidden Land 1
The same as above, but different colors
The same as above, only smaller
The Forbidden Land 2
The same as above, only smaller
The Mountain of Mortal Dragon
Kashua Glacier
Zenebatos 1
Zenebatos 2
Zenebatos 3
The Death City Mayfil
Feyrbrand chasing Dart
A nice picture of Feyrbrand
Something flying in the dusk
Fruegal fighting
Fruegal speaking
A man on his...horse?
Emperor Diaz rising
Emperor Diaz is coming closer
Guaraha
A rider
A Sandoran Guard
Selebus the Executioner
The game disks
Shana's disk
Summoning the Red-Eye Dragon 1
Summoning the Red-Eye Dragon 2
A large map of Endiness
A map of Endiness
A Fruit from the Divine Tree
A huge explosion!
The full instruction book cover
Dart's side of the instruction book cover
Germany's LoD game cover
Legend of Dragoon Action Figures! Collect them all!
Another look at Germany's Game cover
LoD notebook (not for sale!) :(
A black and white picture of Rose at Fort Magrad
The LoD OST cover
The Legend of Dragoon Booth at a trade show
An artist working on Shana
Dart for the Trade Show
Shana for the Trade Show
A menu screen
The opening screen (Japanese?)
The title screen
An overworld Map
Another Overworld Map
The cover to Prima's official guide
A rare quartet picture
The Dragon Campaign Story 1
The Dragon Campaign Story 2
The Dragon Campaign Story 3
The Moon Child Story 1
The Moon Child Story 2
Images from the Japanese game!

Note: These are NOT the real translations
Dart and Shana
Rose and the Hooded Man
Japanese game cover 1
Japanese game cover 2
Japanese Menu 1
Japanese Menu 2
Japanese Menu 3
Japanese Menu 4
Japanese Menu 5
Japanese Menu 6
Japanese Menu 7
Japanese Menu 8
Japanese Menu 9
Japanese Menu 10
Japanese battle screen 1
Japanese battle screen 2
"Like my horse?"
"Oops, I'm such a klutz..."
"Crap! A dragon!"
Japanese Overworld Map 1
Japanese Overworld Map 2
"I point my sword at you!"
"Now bow to me!"
"Dude, I'm Dragoon!"
"Wings....just aren't your style...."
Dart faints
"SHINIES!!"
"Not so loud, fool..."
"Damn, this place fell out of an ugly tree and hit every branch on the way down..."
"He got sick because he ate all of the food..."
"By the way, I think that man over there with the silver hair is VERY sexy..."
"Trick or Treat!"
"Yes Master!"
"I'm a princess and you're not!"
"Hey! I'm talking here! Pay attention to me damnit!"
"I'm king...er...Queen of the World!"
Pre-Rendered images courtesy of Jeanine!
Aglis
Aglis 2
Aglis 3
Bale
Bale 2
Bale 3
Death Frontier
Deningrad
Deningrad 2
Donau
Donau 2
Ending Scene
Kazas
Marshlands
Mayfil
Mayfil 2
Mayfil 3
Moon
Moon 2
Moon 3
Moon 4
Neet
Shirley Shrine
Twin Castle
Ulara
Ulara 2
Zenebatos