<h1>An Introduction</h1>
<p>"A peaceful beginning.The Legend was born 10,000 years ago. A violent uprising. A civilization of flying creatures
    enslave the human race. A bloody war. In a bid for freedom, the humans harness the spiritual forces of the Dragons
    and triumph. Tranquility and harmony exist between all. But the past and future are about to collide..."</p>

<p>"Unveil a Fantasy of Magnificence, Deception, Magical Combat and Retribution."</p>

<ul>
    <li>"3 years in the making with a development team of over 100 members."</li>
    <li>"Transform into Dragoons and unleash extraordinary power."</li>
    <li>"Incredibly diverse characters wield unique weapons and Dragoon attacks powered by the forces of Earth, Light,
        Fire, Wind, Lighting, Water, and Darkness."
    </li>
    <li>"Totally unique and innovative tactical combat "Additionals" System."</li>
    <li>"An unforgettable adventure."</li>
</ul>
<div class="condensed">
    <p>"The journey that seeks the past ends.</p>
    <p>And the journey to discover today begins.</p>
    <p>Unleash the spirit of the Dragoons.</p>
    <p>And discover your destiny."</p>
</div>

<p>What you have just read is the print on the back of the case to Sony's RPG, The Legend of Dragoon. Pretty spicy,
    huh? Kind of makes one wonder where it all came from. Well, comrade, this article tells you "what it's all about"
    and how I got interested in this gem of a game.</p>

<h2>My Story</h2>
<p>RPGs are popular on Sony's little wonder console, the PlayStation. Do I need to tell you how prevalent games like the
    Final Fantasy series, the Lunar games, SaGa Frontier, Suikoden, Xenogears, and Grandia are? Of course not. This is
    the one main reaons that explains why I bought the Playstation. I'm a total RPG freak. I've been playing them since
    the first Zelda and Final Fantasy on the NES way back in the late 80s to Secret of Evermore and Super Mario RPG on
    the SNES. And when I saw all the many RPGs available for the PS (largely thanks to SquareSoft, the Emperor of RPGs),
    I just had to get one.</p><p></p><p>So I did. I played Final Fantasy VII and VIII, Xenogears and Grandia. I was very
    content with my little PS.</p><p></p><p>And one day...</p><p></p><p>While browsing a Best Buy in September of 2000,
    I saw this colorful little package. I picked it up and examined it. The Legend of Dragoon, it read. I recognized it
    from an ad I had seen earlier in the summer, when the game first hit stores. The package had three characters on it,
    one male and two female, all in spectacular armor with wings. Now, I have this soft spot for people with wings, so I
    turned it over and examined the backside. As I read the back, another word caught my attention: Dragons. I love
    Dragons, as they are one of my favorite mythological creatures. Now, I usually know better than to buy a game like
    this on sudden impulse, considering I had heard nothing about The Legend of Dragoon beforehand. But the game DID
    look interesting, so I bought it (along with the Official Player's Guide made by Prima) and took it home.</p><p></p>
<p>Well, I have a nasty habit of starting a game before reading the instruction booklet. So right when I got home I
    popped the game in without bothering with the booklet. Immediately I was blown away by the incredible graphics and
    beautiful music intro (remember, the graphics were from the year 2000). I started a new game and was once again
    amazed by the graphics. However, when I first saw the dragon, I was thinking "WTF? That thing's a dragon? It looks
    just like a giant insect!" Even though I was a bit disappointed with the look of the "dragon", I figured that Sony
    just wanted to be unique and stray from the "stereotypical" look of a dragon. As I played it more, I greatly enjoyed
    the fresh battle system, the interesting characters, and appealing story.</p><p></p><p>Well, I continued playing,
    enjoying it a lot. Excited about my new game, I went online to tell my entire fellow RPGers at this MB I used to go
    to (the site is no longer up).</p><p></p><p>They were shocked and responded with comments like, "You BOUGHT that
    Final Fantasy VII rip-off?" and "That game is SO lame, I can't believe you bought it!"</p><p></p><p>Well, I was
    rather shocked myself. I was thinking, "Final Fantasy rip-off? Really? I never noticed..." Although I had a few
    supporters thinking LoD was an original, innovating game, most people on the MB hated the game.</p><p></p><p>Despite
    what they said, I continued playing LoD. As I played it though, I started thinking, "Gee, this IS a lot like Final
    Fantasy VII..." and I started disliking it. However, I don't like starting a game without finishing it, so I
    continued playing. But as I played more, I found it to be less and less like a Final Fantasy, and more and more like
    it's own game, with similarities found not only in Final Fantasy VII, but other RPGs as well, with little details
    making it unique. When I finally finished the game, I wound up loving it. It's then I thought that most people (90%,
    I figure) who claimed this to be a Final Fantasy rip-off had either never finished the game, or never even played
    the game.</p><p></p><p>This, mind you, was before I knew how to create websites. In summer of 2001, I had finally
    thought it would be neat to have my own website, and I used online tutorials to learn how. However, what I should
    make it of was the real question. A friend of mine at the time and I thought it would be an awesome idea for a Final
    Fantasy/Legend of Zelda site. Since we both loved Final Fantasy and The Legend of Zelda series, we thought that
    would be a good idea. However, then we looked at all the Final Fantasy and Zelda websites there were, and thought
    better of it. This is when we stopped talking (he had a ton of school work to catch up on, poor guy!). I then
    decided to make a multi-purpose site by myself, but as I started I thought, "This is gonna take forever to finish",
    so I scratched that idea. Then I found my Legend of Dragoon Player's Guide, and it hit me...a Legend of Dragoon
    site! It's not as popular as FF or Zelda, but it IS a great game, and it probably has much less sites for it, so why
    not? I played the game again that summer, taking notes about the story, writing down enemy names, item and Stardust
    locations, etc...and then I started creating this website.</p>

<h2>About The Game</h2>
<p>Even Sony will admit this: The Legend of Dragoon was inspired by Final Fantasy (although they say more VIII, then
    VII). Notice I say INSPIRED by and not A COPY OF (there is a difference, folks, and I'm only assuming that you know
    what it is). It was the success of the Final Fantasies that inspired SCEJ to make their own RPG (hoping for another
    success for the PS), and the result was The Legend of Dragoon. It came out in Japan in the winter of 1999 and in the
    summer of 2000 in the USA.</p><p></p><p>Unfortunately, not everyone liked this idea. We all know that Square is the
    emperor of RPGs, and whenever some other company tries to make one, it's almost always "booed" and scorned. Not ALL
    games, mind you, but many are. Sadly, LoD was one of these. Although it earned average or above average reviews from
    most gaming magazines and online websites, many video gamers never even gave the game a chance.</p><p></p><p>
    However, the few fans of the game defended it, and gradually it gained more and more popularity, spawning more sites
    on the web, and thus gaining more interest among video gamers. And, in fall of 2001, The Legend of Dragoon hit the
    selling point of 1 million copies, hence becoming one of the PlayStation's Greatest Hits. It now sells for only
    $19.95 (or less!) and is still available widely.</p><p></p><p>So, who's behind the game?</p><p></p><p>Well, many
    people are. The Legend of Dragoon was officially created and developed by the Sony Computer Entertainment Inc. of
    Japan. It took over 100 people three years to make this game, but it all paid off.</p><p></p><p>However, here are
    some of the biggest masterminds of LoD:</p>

<p><b>Director/Story and Game Design:</b>Yakuyuki Hasebe</p>

<p><b>Event Director and Script:</b>Takehiro Kaminagayoshi</p>

<p><b>Event Advisor:</b>Futoshi Kitamura</p>

<p><b>Battle Director:</b>Masaru Ohnuma</p>

<p><b>Field Director:</b>Kenichirou Ide</p>

<p><b>Main Programmer:</b>Satoshi Mamuro</p>

<p><b>Art Director, Dragoon Design, Movie Director:</b>Kenichi Iwata</p>

<p><b>Graphics Director:</b>Koji Hasegawa</p>

<p><b>CG Producer:</b>Shuji Hiramatsu</p>

<p><b>Encoding Engineer:</b>Satoru Fukui</p>

<p><b>Music Supervisor:</b>Akihiko Shimizu (SOYTZER MUSIC)</p>

<p><b>Music Composers:</b>Takeo Miratsu and Dennis Martin</p>

<p><b>Sound Director:</b>Takshi Kanai</p>

<p><b>Motion Capture Actor and Actress:</b>Takayuki Nakayama and Ryuji Kojima</p>

<p><b>Producer:</b>Shuhei Yoshida</p>

<p><b>Supervisor:</b>Toshiyuki Miyata</p>

<p><b>Chief Development Executive:</b>Akira Sato</p>
