<h1><u>Items in Endiness</u></h1>

<p><font size="2">Items in Endiness are found in chests.  Some of the "Items" are armor.  Here is a list of items located in different regions of Endiness.  These do not include those items won in boss battles.  For information on what each item does, check out <a href="/gamehelp/items"><u>Items</u></a>.

<!-- Remove underlines here or re-add them to the other pages? -->
<p><u>Seles: 1</u>
    <br><ul><li type="disc">Burn Out</ul>

<p><u>Forest: 3</u>
    <br><ul><li type="disc">Healing Potion
        <br><li type="disc">Charm Potion
        <br><li type="disc">Burn Out</ul>

<p><u>Hellena Prison (1st Visit): 4</u>
    <br><ul><li type="disc">Burn Out
        <br><li type="disc">Leather Jacket
        <br><li type="disc">Angel's Prayer
        <br><li type="disc">Spark Net</ul>

<p><u>The Prairie: 1</u>
    <br><ul><li type="disc">Angel's Prayer</ul>

<p><u>Limestone Cave: 13</u>
    <br><ul><li type="disc">Detonate Rock
        <br><li type="disc">Healing Potion (2)
        <br><li type="disc">Bastard Sword
        <br><li type="disc">Total Vanishing
        <br><li type="disc">Body Purifier (2)
        <br><li type="disc">Angel's Prayer
        <br><li type="disc">Burn Out
        <br><li type="disc">Spark Net
        <br><li type="disc">Poison Guard (from Rabbit)
        <br><li type="disc">Charm Potion
        <br><li type="disc">Bandana</ul>

<p><u>Bale: 3</u>
    <br><ul><li type="disc">Sparkle Arrow
        <br><li type="disc">Active Ring
        <br><li type="disc">Healing Breeze</ul>

<p><u>Hoax: 2</u>
    <br><ul><li type="disc">Healing Potion
        <br><li type="disc">Angel's Prayer</ul>

<p><u>Marshlands: 10 (5 of which are acquired through the sidequest)</u>
    <br><ul><li type="disc">Spirit Potion (2) (1 in Side Quest)
        <br><li type="disc">Healing Potion (Side Quest)
        <br><li type="disc">Lance (Side Quest)
        <br><li type="disc">Sun Rhapsody (2) (Both in Side Quest)
        <br><li type="disc">Stun Guard
        <br><li type="disc">Burn Out
        <br><li type="disc">Body Purifier
        <br><li type="disc">Magic Stone of Signet</ul>

<p><u>Volcano Villude: 3</u>
    <br><ul><li type="disc">Spear Frost
        <br><li type="disc">Mind Purifier
        <br><li type="disc">Panic Guard</ul>

<p><u>Dragon's Nest: 5</u>
    <br><ul><li type="disc">Bravery Amulet
        <br><li type="disc">Mind Purifier
        <br><li type="disc">Spirit Potion
        <br><li type="disc">Body Purifier
        <br><li type="disc">Chain Mail</ul>

<p><u>Shirley Shrine: 2</u>
    <br><ul><li type="disc">Demon Stiletto
        <br><li type="disc">Healing Breeze</ul>

<p><u>Hellena (2nd Visit): 11</u>
    <br><ul><li type="disc">Leather Armor
        <br><li type="disc">Pandemonium
        <br><li type="disc">Thunder Bolt
        <br><li type="disc">Felt Hat
        <br><li type="disc">Silver Embroidered Vest
        <br><li type="disc">Therapy Ring
        <br><li type="disc">Healing Potion (2)
        <br><li type="disc">Sachet
        <br><li type="disc">Spear
        <br><li type="disc">Broad Sword</ul>

<p><u>Black Castle/Kazas: 9</u>
    <br><ul><li type="disc">Attack Ball
        <br><li type="disc">Twister Glaive
        <br><li type="disc">Spark Net
        <br><li type="disc">Dark Mist
        <br><li type="disc">Trans Light
        <br><li type="disc">Beast Fang
        <br><li type="disc">Spear Frost
        <br><li type="disc">Spirit Ring
        <br><li type="disc">Spining Gale</ul>

<p><u>Fletz: 2</u>
    <br><ul><li type="disc">Moon Serenade
        <br><li type="disc">Sun Rhapsody</ul>

<p><u>The Barrens: 2</u>
    <br><ul><li type="disc">Warrior's Dress
        <br><li type="disc">Recovery Ball</ul>

<p><u>Valley of Corrupted Gravity: 5</u>
    <br><ul><li type="disc">Sachet
        <br><li type="disc">Speed Up
        <br><li type="disc">Meteor Fall
        <br><li type="disc">Talisman
        <br><li type="disc">Knight Helm</ul>

<p><u>Home of Gigantos: 2</u>
    <br><ul><li type="disc">Bandit's Ring
        <br><li type="disc">Angel's Prayer</ul>

<p><u>Queen Fury/Ghost Ship: 2</u>
    <br><ul><li type="disc">Bravery Amulet
        <br><li type="disc">Dancing Dagger</ul>

<p><u>Lidiera: 3</u>
    <br><ul><li type="disc">Healing Fog
        <br><li type="disc">Healing Potion
        <br><li type="disc">Healing Rain</ul>

<p><u>Island of Jailed Dragon/Undersea Cavern: 7</u>
    <br><ul><li type="disc">Attack Ball (2)
        <br><li type="disc">Jeweled Crown
        <br><li type="disc">Recovery Ball (2)
        <br><li type="disc">Gushing Magma
        <br><li type="disc">Burn Out</ul>

<p><u>Evergreen Forest: 3</u>
    <br><ul><li type="disc">Destone Amulet
        <br><li type="disc">Body Purifier
        <br><li type="disc">Depetrifier
        <br><li type="disc">Mind Purifier (in tent)</ul>

<p><u>Crystal Palace: 1</u>
    <br><ul><li type="disc">Holy Ankh</ul>


<p><u>The Forbidden Land: 4</u>
    <br><ul><li type="disc">Mind Purifier
        <br><li type="disc">Dancer's Shoes
        <br><li type="disc">Power Up
        <br><li type="disc">Mind Crush</ul>

<p><u>Mountain of Mortal Dragon: 7</u>
    <br><ul><li type="disc">Attack Ball
        <br><li type="disc">Mind Purifier
        <br><li type="disc">Healing Breeze
        <br><li type="disc">Giganto Armor
        <br><li type="disc">Dragon Helm
        <br><li type="disc">Total Vanishing
        <br><li type="disc">Body Purifier</ul>

<p><u>Kashua Glacier: 13 (2 acquired through the Vanishing Stone)</u>
    <br><ul><li type="disc">Thunderbolt
        <br><li type="disc">Heat Blade
        <br><li type="disc">Heavy Mace
        <br><li type="disc">Gushing Magma
        <br><li type="disc">Dancing Ray
        <br><li type="disc">Phoenix Plume
        <br><li type="disc">Fatal Blizzard
        <br><li type="disc">Black Rain
        <br><li type="disc">Spirit Ring
        <br><li type="disc">Rave Twister
        <br><li type="disc">Mage Ring
        <br><li type="disc">Therapy Ring
        <br><li type="disc">Dragon Helm</ul>

<p><u>Snowfield/Fort Magrad: 10 (5 in Snowfield, 5 in Fort Magrad)</u>
    <br><ul><li type="disc">Burn Out
        <br><li type="disc">Magic Shield
        <br><li type="disc">Dancer's Ring
        <br><li type="disc">Burning Wave
        <br><li type="disc">Gushing Magma
        <br><li type="disc">Midnight Terror
        <br><li type="disc">Stunning Hammer
        <br><li type="disc">Poison Needle
        <br><li type="disc">Armor of Yore
        <br><li type="disc">Panic Bell</ul>

<p><u>Vellweb: 3</u>
    <br><ul><li type="disc">Attack Ball
        <br><li type="disc">Rose's Hairband
        <br><li type="disc">Spirit Potion</ul>

<p><u>Death Frontier: 10</u>
    <br><ul><li type="disc">Healing Rain
        <br><li type="disc">Healing Breeze
        <br><li type="disc">Healing Fog
        <br><li type="disc">Healing Potion
        <br><li type="disc">Moon Serenade
        <br><li type="disc">Power Down
        <br><li type="disc">Sun Rhapsody
        <br><li type="disc">Recovery Ball
        <br><li type="disc">Gladius
        <br><li type="disc">Bandit's Shoes</ul>

<p><u>Ulara: 2</u>
    <br><ul><li type="disc">Sun Rhapsody
        <br><li type="disc">Moon Serenade</ul>

<p><u>Rogue</u>
    <br><ul><li type="disc">Satori Vest
        <br><li type="disc">Wargod's Calling</ul>

<p><u>Aglis: 10</u>
    <br><ul><li type="disc">Burn Out
        <br><li type="disc">Gushing Magma
        <br><li type="disc">Magical Hat
        <br><li type="disc">Moon Serenade
        <br><li type="disc">Angel's Prayer
        <br><li type="disc">Sun Rhapsody
        <br><li type="disc">Healing Fog
        <br><li type="disc">Healing Rain
        <br><li type="disc">Psychadelic Bomb
        <br><li type="disc">Healing Breeze</ul>

<p><u>Zenebatos: 9</u>
    <br><ul><li type="disc">Frozen Jet
        <br><li type="disc">Burning Wave
        <br><li type="disc">Spectral Flash
        <br><li type="disc">Night Raid
        <br><li type="disc">Rainbow Dress
        <br><li type="disc">Down Burst
        <br><li type="disc">Spirit Cloak
        <br><li type="disc">Gravity Grabber
        <br><li type="disc">Flash Hall (near the prison)</ul>

<p><u>Mayfil: 9</u>
    <br><ul><li type="disc">Poison Guard
        <br><li type="disc">Stun Guard
        <br><li type="disc">Panic Guard
        <br><li type="disc">Protector
        <br><li type="disc">Active Ring
        <br><li type="disc">Bravery Amulet
        <br><li type="disc">Magic Ego Bell
        <br><li type="disc">Healing Rain
        <br><li type="disc">Spectral Flash</ul>

<p><u>Divine Tree: 2</u>
    <br><ul><li type="disc">Phoenix Plume
        <br><li type="disc">White Silver Dragon Armor</ul>

<p><u>Moon: 8</u>
    <br><ul><li type="disc">Frozen Jet
        <br><li type="disc">Down Burst
        <br><li type="disc">Spectral Flash
        <br><li type="disc">Flash Hall
        <br><li type="disc">Night Raid
        <br><li type="disc">Burning Wave
        <br><li type="disc">Gravity Grabber
        <br><li type="disc">Detonate Arrow</ul>
