<h1 id="title"><u>Item List</u></h1>

<p><font size="2">Items are one of the most important elements to any RPG.  They can heal your party or attack your enemy, or even give you special attributes such as an increase in strength or speed.  Listed below are all the items found in The Legend of Dragoon, categorized by Recovering Items, Attacking Items, Curing Items, and Attributing Items.

        <hr="5">
<p>

    <table><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">
            <tr>
                <td width="100%" colspan="2">
<p align="center"><font size="4">Recovering Items</font></td></tr>

    <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Description</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Angel's Prayer</font></td>
    <td><p align="center"><font size="2">Revitalizes the Unconscious and recovers 1/2 HP</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Healing Potion</font></td>
    <td><p align="center"><font size="2">Recovers 1/2 HP for one ally</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Healing Breeze</font></td>
    <td><p align="center"><font size="2">Recovers 1/2 HP for all party members</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Healing Fog</font></td>
    <td><p align="center"><font size="2">Recovers all HP for one ally</font></td>
    </tr>


    <tr><td><p align="center"><font size="2">Healing Rain</font></td>
    <td><p align="center"><font size="2">Recovers all HP for all allies</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Moon Serenade</font></td>
    <td><p align="center"><font size="2">Recovers all MP for all allies</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Sun Rhapsody</font></td>
    <td><p align="center"><font size="2">Recovers all MP for one ally</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Spirit Potion</font></td>
    <td><p align="center"><font size="2">Recovers 100 SP for one ally</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Recover Ball</font></td>
    <td><p align="center"><font size="2">Generates one recovery item (varies)</font></td>
    </tr>

    </table>

<hr="5">

<p><table><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">

            <tr><td width="100%" colspan="5"><p align="center"><font size="4">Attacking Items</font></td></tr>
    <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Description</font></td>
    <td><p align="center"><font size="3">Repeat</font></td>
    <td><p align="center"><font size="3">Enemies</font></td>
    <td><p align="center"><font size="3">Multi</font></td></tr>

    <tr><td><p align="center"><font size="2">Attack Ball</font></td>
    <td><p align="center"><font size="2">Generates 1 attack item (varies)</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>

    <tr><td><p align="center"><font size="2">Detonate Rock</font></td>
    <td><p align="center"><font size="2">Attacks all enemies</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>

    <tr><td><p align="center"><font size="2">Midnight Terror</font></td>
    <td><p align="center"><font size="2">Causes "Fear" abnormality</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>

    <tr><td><p align="center"><font size="2">Pandemonium</font></td>
    <td><p align="center"><font size="2">Causes minor enemy to only attack one character for three rounds</font></td>
    <td><p align="center"><font size="2">Yes</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>

    <tr><td><p align="center"><font size="2">Panic Bell</font></td>
    <td><p align="center"><font size="2">Causes "Confuse" abnormality</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Poison Needle</font></td>
    <td><p align="center"><font size="2">Causes "Poison" abnormality</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Power Down</font></td>
    <td><p align="center"><font size="2">Decreases strength for three turns</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Speed Down</font></td>
    <td><p align="center"><font size="2">Decreases agility for three turns</font></td>
    <td><p align="center"><font size="2">Yes</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>

    <tr><td><p align="center"><font size="2">Stunning Hammer</font></td>
    <td><p align="center"><font size="2">Causes "Stun" abnormality</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Total Vanishing</font></td>
    <td><p align="center"><font size="2">Eliminates minor enemies</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Psyche Bomb</font></td>
    <td><p align="center"><font size="2">Powerful void-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Psyche Bomb X</font></td>
    <td><p align="center"><font size="2">Powerful void-based attack</font></td>
    <td><p align="center"><font size="2">Yes</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Burn Out</font></td>
    <td><p align="center"><font size="2">Fire-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Gushing Magma</font></td>
    <td><p align="center"><font size="2">Fire-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>

    <tr><td><p align="center"><font size="2">Burning Wave</font></td>
    <td><p align="center"><font size="2">Powerful fire-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Dark Mist</font></td>
    <td><p align="center"><font size="2">Darkness-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Black Rain</font></td>
    <td><p align="center"><font size="2">Darkness-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Night Raid</font></td>
    <td><p align="center"><font size="2">Powerful darkness-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Spinning Gale</font></td>
    <td><p align="center"><font size="2">Wind-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Rave Twister</font></td>
    <td><p align="center"><font size="2">Wind-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Down Burst</font></td>
    <td><p align="center"><font size="2">Powerful wind-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Trans Light</font></td>
    <td><p align="center"><font size="2">Light-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Dancing Ray</font></td>
    <td><p align="center"><font size="2">Light-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Spectral Flash</font></td>
    <td><p align="center"><font size="2">Powerful light-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Spark Net</font></td>
    <td><p align="center"><font size="2">Thunder-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Thunderbolt</font></td>
    <td><p align="center"><font size="2">Thunder-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Flash hall</font></td>
    <td><p align="center"><font size="2">Powerful thunder-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Spear Frost</font></td>
    <td><p align="center"><font size="2">Water-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Fatal Blizzard</font></td>
    <td><p align="center"><font size="2">Water-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Frozen Jet</font></td>
    <td><p align="center"><font size="2">Powerful water-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    <tr><td><p align="center"><font size="2">Pellet</font></td>
    <td><p align="center"><font size="2">Earth-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">One</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Meteor Fall</font></td>
    <td><p align="center"><font size="2">Earth-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Yes</font></td></tr>


    <tr><td><p align="center"><font size="2">Gravity Grabber</font></td>
    <td><p align="center"><font size="2">Powerful earth-based attack</font></td>
    <td><p align="center"><font size="2">No</font></td></td>
    <td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">No</font></td></tr>


    </table>


<hr="5">

<p><table><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">
            <tr>
                <td width="100%" colspan="2">
<p align="center"><font size="4">Curing Items</font></td></tr>


    <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Description</font></td>
    </tr>


    <tr><td><p align="center"><font size="2">Body Purifier</font></td>
    <td><p align="center"><font size="2">Cures Poison, Stun, Weapon Block</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Mind Purifier</font></td>
    <td><p align="center"><font size="2">Cures Fear, Bewitchment, Confusion, Dispirit</font></td>
    </tr>


    <tr><td><p align="center"><font size="2">Depetrifier</font></td>
    <td><p align="center"><font size="2">Cures Petrification</font></td>
    </tr>

    </table>


<hr="5">

<p><table><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">
            <tr>
                <td width="100%" colspan="3">
<p align="center"><font size="4">Attributing Items</font></td></tr>

    <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Description</font></td>
    <td><p align="center"><font size="3">Repeat</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Charm Potion</font></td>
    <td><p align="center"><font size="2">Reduces entounters with enemies</font></td>
    <td><p align="center"><font size="2">No</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Material Shield</font></td>
    <td><p align="center"><font size="2">Eliminates damage from physical attacks for three rounds</font></td>
    <td><p align="center"><font size="2">Yes</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Magic Shield</font></td>
    <td><p align="center"><font size="2">Eliminates damage from magical attacks for three rounds </font></td>
    <td><p align="center"><font size="2">Yes</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Magic Sig Stone</font></td>
    <td><p align="center"><font size="2">Blocks enemy's moves for three rounds (except bosses)</font></td>
    <td><p align="center"><font size="2">Yes</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Power Up</font></td>
    <td><p align="center"><font size="2">Increases strength for three turns</font></td>
    <td><p align="center"><font size="2">Yes</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Sachet</font></td>
    <td><p align="center"><font size="2">Use on Red/Yellow/Blue/Rainbow Birds, 00 Parts, and Magic Jar</font></td>
    <td><p align="center"><font size="2">No</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Smoke Ball</font></td>
    <td><p align="center"><font size="2">100% escape from enemy (except bosses)</font></td>
    <td><p align="center"><font size="2">Yes</font></td>
    </tr>

    <tr><td><p align="center"><font size="2">Speed Up</font></td>
    <td><p align="center"><font size="2">Increases agility for three rounds</font></td>
    <td><p align="center"><font size="2">Yes</font></td>
    </tr>
    </table>