<h1 id="title">Links</h1>
<p><s>Links to various sites I frequently visit. Please e-mail me if you'd like to be on the list. If you'd like to link back, please use one of these buttons or a text link.</s></p>

<img src="/assets/etlodlink.gif">

<h2>Legend of Dragoon Related</h2>
<ul>
    <li><a href="http://www.unhappy-song.net/">Unhappy Song</a></li>
    <li><a href="http://www.geocities.com/luicidique/death.html">Luicidique</a></li>
    <li><a href="http://www.churchofsorrows.com/shana/">Snowwater</a></li>
    <li><a href="http://triamarth.sinfree.net/">Triamarth</a></li>
    <li><a href="http://www.saifdragoon.cjb.net/">Legend of Dragoon Universe</a></li>
    <li><a href="http://www.amandaswiftgold.com/lod/index.htm">Inception</a></li>
    <li><a href="http://www.freewebs.com/meru/">Freezing Ring</a></li>
    <li><a href="http://lodchronicles.freeservers.com/index.html">Legend of Dragoon Chronicles</a></li>
    <li><a href="http://www.us.playstation.com/content/ogs/scus-94491/site/">Sony's Official Site</a></li>
    <li><a href="http://n.1asphost.com/winglies/">The Magical Race of Wingly</a></li>
    <li><a href="http://p097.ezboard.com/bdraconusoraculum">The Roleplaying Syndicate</a></li>
</ul>

<h2>Gaming Sites</h2>
<ul>
    <li><a href="http://www.rpgfan.com/">RPG Fan</a></li>
    <li><a href="http://www.rpgdreamer.com/">RPG Dreamer</a></li>
    <li><a href="http://www.ign.com/">IGN</a></li>
    <li><a href="http://www.gamenlight.com/">GamEnlight</a></li>
    <li><a href="http://www.rpgamer.com/">RP Gamer</a></li>
    <li><a href="http://www.megalith.us/">Megalith</a></li>
</ul>

<h2>Miscellaneous Sites</h2>
<ul>
    <li><a href="http://www.homestarrunner.com/">Homestar Runner</a></li>
    <li><a href="http://www.slashdot.org/">Slashdot</a></li>
    <li><a href="http://www.missmab.com/">Dan and Mab's Furry Adventures</a></li>
    <li><a href="http://www.vgcats.com/">VG Cats!</a></li>
    <li><a href="http://www.penny-arcade.com/">Penny Arcade</a></li>
    <li><a href="http://www.ozfoxes.com/">OzFoxes</a></li>
    <li><a href="http://www.giantitp.com/">Giant in the Park</a></li>
    <li><a href="http://bleedman.deviantart.com/">Bleedman's Art</a></li>
    <li><a href="http://mintfield.org/">Mintfield</a></li>
    <li><a href="http://www.churchofsorrows.com/">Church of Sorrows</a></li>
</ul>