<h1 id="title">Main Characters</h1>
<p>Brief bios and descriptions of the ten main characters in Legend of Dragoon.</p>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/dart1.jpg" alt="Portrait of Dart Felt">
    </div>
    <div class="item bio">
        <p>Name: Dart Feld</p>

        <p>Age: 23</p>

        <p>Height: 178 cm (about 5'9")</p>

        <p>Race: Human</p>

        <p>Hometown: Seles/Neet</p>

        <p>Weapon of Choice: Sword</p>

        <p>Dragoon Spirit: Red-Eye Dragoon (Fire-based) and Divine (Non-Elemental)</p>
    </div>
</div>

<div class="condensed">
    <p>Dart is the main character in Legend of Dragoon. He is a strong leader and has a fierce sense of justice.</p>
    <p>At the beginning of the game, he is searching for the Black Monster who, 18 years ago, killed his parents. When
        he returns to a ransacked Seles and learns about Shana's kidnapping, his quest becomes much more involved then
        revenge.</p>
    <p>In Hoax, a female warrior named Rose awakens his Red-Eye Dragoon Spirit, and gives him the ability to transform
        into the Red-Eye Dragoon.</p>
    <p>As he travels across Endiness, he learns much about the Moon That Never Sets and the Black Monster, and more
        about the history of Endiness (as well as his own family) and how it is affecting his fate as a Dragoon.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/rose1.jpg" alt="Portrait of Rose">
    </div>
    <div class="item bio">
        <p>Name: Rose</p>
        
        <p>Age: Over 10,000 years</p>
        
        <p>Height: 170cm (about 5'6")</p>
        
        <p>Race: Human</p>
        
        <p>Hometown: Unknown</p>
        
        <p>Weapon of Choice: Rapier</p>
        
        <p>Dragoon Spirit: Dark Dragoon (Darkness-based)</p>
    </div>
</div>

<div class="condensed">
    <p>Rose is a beautiful, strong, clever, and daring female warrior with a tongue of fire and a heart of ice. She is
        very knowledgable about the Dragon Campaign, Dragoon Spirits, and other things that aren't very well known in
        the modern times of Endiness.</p>
    <p>She meets Dart in the beginning of the game after she saves him from Feyrbrand, and follows him to Hoax, where
        she reveals that he is one of the Dragoons from the Legend and teaches him the ways of the Dragoons. She feels a
        special connection to the other characters, and therefore joins them in their journey (even if she doesn't act
        like she really likes any of them...).</p>
    <p>Though she seems trusting, there is a mystery about her that she will share with no one, making her personality
        dark and riddling...</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/lavitz1.jpg" alt="Portrait of Lavitz Slambert">
    </div>
    <div class="item bio">
        <p>Name: Lavitz Slambert</p>
        
        <p>Age: 34</p>
        
        <p>Height: 170 cm (about 5'6")</p>
        
        <p>Race: Human</p>
        
        <p>Hometown: Bale</p>
        
        <p>Weapon of Choice: Javelin</p>
        
        <p>Dragoon Spirit: Jade Dragoon (Wind-based)</p>
    </div>
</div>

<div class="condensed">
    <p>Lavitz is the head of the First Knighthood in the kindom of Basil and serves under King Albert. He was raised by
        his father Servi, who was also a Knight for Basil. King Albert considers Lavitz one of his most trusted men and
        best friend.</p>
    <p>He first met Dart while escaping Hellena, and since then has acted like an older brother to Dart. He constantly
        tries to hook Dart up with Shana.</p>
    <p>Lavitz inherits his Dragoon Spirit after he defeated Greham, who betrayed his father. Sadly, in his second visit
        to Hellena, Lavitz meets his fate at the hand of the mysterious man, Lloyd, but gets a chance to see his friends
        one last time in the Death City Mayfil.</p>
    <p>Lavitz, after his death, is replaced in the game by Albert.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/shana1.jpg" alt="Portrait of Shana">
    </div>
    <div class="item bio">
        <p>Name: Shana</p>
        
        <p>Age: 18</p>
        
        <p>Height: 170 cm (about 5'6")</p>
        
        <p>Race: Human</p>
        
        <p>Hometown: Seles</p>
        
        <p>Weapon of Choice: Bow and Arrows</p>
        
        <p>Dragoon Spirit: White-Silver Dragoon (Light-based)</p>
    </div>
</div>

<div class="condensed">
    <p>Shana is a sweet, caring young lady with pure heart. She is always looking out for others and helping those in
        need. She is the daughter of the Mayor of Seles and Dart's childhood friend and secret lover.</p>
    <p>Although she seems common, she has mysterious powers that come into play several times, usually when she is
        around a Virage. She doesn't understand these powers and becomes flustered when they appear.</p>
    <p>To Dart's reluctance, Shana joins him in his quest after he rescued her from Hellena Prison. She is weak,
        however, and is constantly being hurt. After a trip through the Dragon's Nest, Shana became poisoned. When Dart
        brought her the White-Silver Dragoon Spirit, she was healed. It is then she became the White-Silver Dragoon.</p>
    <p>In Deningrad, Shana becomes terribly weak and her Dragoon Spirit leaves her, accepting Miranda as the new
        White-Silver Dragoon.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/haschel1.jpg" alt="Portrait of Haschel">
    </div>
    <div class="item bio">
        <p>Name: Haschel</p>
        
        <p>Age: 60</p>
        
        <p>Height: 163 cm (about 5'4")</p>
        
        <p>Race: Human</p>
        
        <p>Hometown: Rogue</p>
        
        <p>Weapon of Choice: Fists/Claws</p>
        
        <p>Dragoon Spirit: Violet Dragoon (Thunder based)</p>
    </div>
</div>

<div class="condensed">
    <p>Haschel is an old friend of Dart's and meets with him in Lohan during the Hero Competition, and from there he
        joins Dart and the others on their journey. He is a rambunctious old man with a big sense of humor, though he is
        serious when he needs to be (well, most of the time... ;).</p>
    <p>Haschel is a master of martial arts and has been searching the globe for his missing daughter, Claire. He also
        feels he has a mysterious relation with Dart (who's mother is also named Claire).</p>
    <p>He inherits the Violet Dragoon Spirit after the defeat of Doel and joins in on the mysterious quest with the
        other Dragoons.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/albert1.jpg" alt="Portrait of Albert">
    </div>
    <div class="item bio">
        <p>Name: Albert</p>
        
        <p>Age: 26</p>
        
        <p>Height: 175 cm (about 5'8")</p>
        
        <p>Race: Human</p>
        
        <p>Hometown: Bale</p>
        
        <p>Weapon of Choice: Javelin</p>
        
        <p>Dragoon Spirit: The Jade Dragoon (Wind-based)</p>
    </div>
</div>

<div class="condensed">
    <p>Albert is the rightful king of Serdio. When Albert was six years old, his father, Carlos, was murdered by his
        uncle, Doel, who then became the Emperor of Serdio. This divided the country into war, and into two parts:
        Sandora (to the south) and Basil (to the north). Though Albert is the rightful king of all Serdio, he only rules
        Basil.</p>
    <p>Albert is a gentle, wise man with a wide vocabulary and soft personality, and enjoys politics and books. He joins
        Dart after Lavitz was killed in Hellena, and this is when Albert also inherited the Jade Dragoon Spirit. King
        Albert considers Lavitz one of his best and most trusted friends, and it was Lavitz who also taught King Albert
        how to use the Javelin.</p>
    <p>When Albert travels to Fletz, he falls in love with Princess Emille.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/meru1.jpg" alt="Portrait of Meru">
    </div>
    <div class="item bio">
        <p>Name: Meru</p>
        
        <p>Age: 16</p>
        
        <p>Height: 154 cm (about 5'1")</p>
        
        <p>Race: Wingly</p>
        
        <p>Hometown: Wingly Forest</p>
        
        <p>Weapon of Choice: Hammer</p>
        
        <p>Dragoon Spirit: Blue Sea Dragoon (Water-based)</p>
    </div>
</div>

<div class="condensed">
    <p>Meru is a bright and cheery young girl with a short temper and a huge hammer. She is one of the most popular
        dancers in the flower city of Donau (or so she claims...).</p>
    <p>She is easily bored, and often loud and somewhat annoying.</p>
    <p>Meru becomes part of the party in Donau, and she offers Dart and the others a "tour" of the Valley of Corrupted
        Gravity. She is usually hanging around Haschel and causing trouble.</p>
    <p>Meru inherits the Blue Sea Dragoon Spirit after the defeat of Lenus. She is very happy to get her Dragoon
        Spirit.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/kongol1.jpg" alt="Portrait of Kongol">
    </div>
    <div class="item bio">
        <p>Name: Kongol</p>
        
        <p>Age: 37</p>
        
        <p>Height: 250 cm (about 8'3")</p>
        
        <p>Race: Giganto</p>
        
        <p>Hometown: Land of Gigantos/Sandora</p>
        
        <p>Weapon of Choice: Axe</p>
        
        <p>Dragoon Spirit: Golden Dragoon (Earth-based)</p>
    </div>
</div>

<div class="condensed">
    <p>Emperor Doel rescued Kongol when he was only a boy after his town had been attacked by bandits and is the last of
        the Gigantos. After that, he became a warrior for Emperor Doel. However, after Doel died and Kongol was defeated
        by Dart twice, Kongol turned over a new leaf and saved Dart and his friends from a falling pillar in the Land of
        the Gigantos.</p>
    <p>Kongol has a nickname of the "Devil God", because of his mass strength and incredible fighting skills.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/mirandadragoon3.jpg" alt="Portrait of Miranda">
    </div>
    <div class="item bio">
        <p>Name: Miranda</p>
        
        <p>Age: 25</p>
        
        <p>Height: 170 cm (about 5'6")</p>
        
        <p>Race: Human</p>
        
        <p>Hometown: Deningrad</p>
        
        <p>Weapon of Choice: Bow</p>
        
        <p>Dragoon Spirit: White-Silver Dragoon (Light-based)</p>
    </div>
</div>

<div class="condensed">
    <p>Miranda is the First Sacred Sister of Mille Seseau and a loyal servant to Queen Theresea. She is a tough-talking
        girl with a sad past. She was abandoned by her mother when she was young, and soon after her father died. She
        ran away to Deningrad to preach about love, but wound up fighting. She was then adopted by Queen Theresea and
        became the First Sacred Sister.</p>
    <p>Miranda inherited the White-Silver Dragoon spirit after Shana became too weak to control it. Miranda does not get
        along well with Rose, and they are constantly fighting. She is very much always an angry person, but has a
        strong loyalty to her closest friends.</p>
</div>

<div class="container bio">
    <div class="item bio">
        <img src="/assets/lloyd1.jpg" alt="Portrait of Lloyd">
    </div>
    <div class="item bio">
        <p>Name: Lloyd</p>
        
        <p>Age: Unknown (doesn't say)</p>
        
        <p>Race: Wingly</p>
        
        <p>Hometown: Unknown</p>
        
        <p>Weapon of Choice: Dragon Buster</p>
    </div>
</div>

<div class="condensed">
    <p>Lloyd starts out in the game as the Hooded Man and is the one behind Shana's kidnapping, Lavitz' death, and the
        stealing of the Divine Moon objects, which he is using to create his utopia. Dart and company will be chasing
        Lloyd for most of the game.</p>
    <p>Lloyd is strong and dangerous, carrying with him the Dragon Buster, a sword made by the ancient Winglies used
        specifically for killing dragons and Dragoons. Though he joins the party temporarily about halfway through the
        game (after he is defeated in Fort Flanvel), he is not a playable character. (Too bad...)</p>
    <p>However, as bad as he may seem, he appears to have a special feeling towards Wink, the Third Sacred Sister of
        Mille Seseau. ;) (at least I like to think so...) And although he plays the "bad guy" for most of the game, he
        DOES realize his faults, and tries to help the Dragoons at several points afterwards.</p>
</div>