<h1>Midis</h1>
<p>I do not take credit for making the MIDIs.</p>
<table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">MIDIS</p></td></tr>

    <tr><td><p align="center">Name</td>
        <td><p align="center">Size</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/openingtheme.mid">Opening Theme</a></p></td>
        <td><p align="center">14.1 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/battle.mid">The Battle Theme</a></p></td>
        <td><p align="center">5.00 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/swampbattle.mid">The Swamp Battle Theme</a></p></td>
        <td><p align="center">20.1 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/minorboss.mid">The Minor Boss Theme</a></p></td>
        <td><p align="center">21.3 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/boss.mid">The Boss Theme</a></p></td>
        <td><p align="center">18.5 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/majorboss.mid">The Major Boss Theme</a></p></td>
        <td><p align="center">19.2 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/castle.mid">The Castle Theme</a></p></td>
        <td><p align="center">5.58 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/temple.mid">Shirley Shrine</a></p></td>
        <td><p align="center">2.04 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/bale.mid">Bale/Fletz City Theme</a></p></td>
        <td><p align="center">18.3 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/ancientstory.mid">Ancient Story</a></p></td>
        <td><p align="center">10.7 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/lohan.mid">Lohan City Theme</a></p></td>
        <td><p align="center">12.4 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/deningrad.mid">Deningrad City Theme</a></p></td>
        <td><p align="center">8.13 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/crystalpalace.mid">Crystal Palace</a></p></td>
        <td><p align="center">9.56 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/furni.mid">Furni/Donau City Theme</a></p></td>
        <td><p align="center">13.8 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/hellena.mid">Hellena Prison</a></p></td>
        <td><p align="center">18.9 KB</tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/remember.mid">Remember</a></p></td>
        <td><p align="center">3.23 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/despair.mid">Despair</a></p></td>
        <td><p align="center">30.4 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/moon.mid">The Moon</a></p></td>
        <td><p align="center">4.48 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/seles.mid">Seles/Neet Theme</a></p></td>
        <td><p align="center">5.66 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/serdia.mid">Serdio (World Map 1)</a></p></td>
        <td><p align="center">8.88 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/tiberoa.mid">Tiberoa (World Map 2)</a></p></td>
        <td><p align="center">19.1 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/milleseseau.mid">Mille Seseau (World Map 3)</a></p></td>
        <td><p align="center">19.1 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/dart.mid">Dart's Theme</a></p></td>
        <td><p align="center">29.1 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/shana.mid">Shana's Theme</a></p></td>
        <td><p align="center">12.2 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/rose.mid">Rose's Theme</a></p></td>
        <td><p align="center">8.71 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/lavitz.mid">Lavitz' Theme</a></p></td>
        <td><p align="center">2.46 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/dabas.mid">Dabas' Theme</a></p></td>
        <td><p align="center">11.4 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/meru.mid">Meru's Theme</a></p></td>
        <td><p align="center">15.8 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020541/http://www.thelegendofdragoon.net/media/midis/zieg.mid">Zieg's Theme</a></p></td>
        <td><p align="center">14.2 KB</td></tr>
</table>
