<h1 id="title">MP3s</h1>
<p>The MP3s are from the official soundtrack, but there are some others recorded by me (marked by the *) not on the
    official soundtrack. Click in the "Size" column to download.</p>

<table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="3"><p align="center">MP3s</td></tr>

    <tr><td><p align="center">English Name</td>
        <td><p align="center">Japanese Name</td>
        <td><p align="center">Size</td></tr>

    <tr><td><p align="center">Ancient Story</td>
        <td><p align="center">A Dragoon Killed in Action</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/ancientstory.mp3">1.57 MB</td></tr>
    <tr><td><p align="center">Barrens/Death Frontier/Zenebatos</td>
        <td><p align="center">Death Frontier</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/barrens.mp3">1.33 MB</td></tr>
    <tr><td><p align="center">Battle Theme 1</td>
        <td><p align="center">Battle 1</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/battle1.mp3">1.41 MB</td></tr>
    <tr><td><p align="center">Battle Theme 2 (Swamp)</td>
        <td><p align="center">Batle 2</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/battle2.mp3">1.43 MB</td></tr>
    <tr><td><p align="center">Boss Theme 1 (Minor Boss)</td>
        <td><p align="center">Boss Battle 1</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/bosstheme1.mp3">1.34 MB</td></tr>
    <tr><td><p align="center">Boss Theme 2 (Regular Boss)</td>
        <td><p align="center">Boss Battle 2</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/bosstheme2.mp3">1.20 MB</td></tr>
    <tr><td><p align="center">Boss Theme 3 (Major Boss)</td>
        <td><p align="center">Boss Battle 3</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/bosstheme3.mp3">1.87 MB</td></tr>
    <tr><td><p align="center">Castle Theme 1 (Indels/Twin Castle)</td>
        <td><p align="center">Royal Castle</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/castle1.mp3">1.31 MB</td></tr>
    <tr><td><p align="center">Castle Theme 2 (Crystal Palace)</td>
        <td><p align="center">Crystal Palace</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/castle2.mp3">1.29 MB</td></tr>
    <tr><td><p align="center">*Castle Theme 3 (Black Castle/ Vellweb)</td>
        <td><p align="center">*Black Castle/Vellweb</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/castle3.mp3">1.95 MB</a></td></tr>
    <tr><td><p align="center">City Theme 1 (Seles/Neet)</td>
        <td><p align="center">Village of Tragedy</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city1.mp3">970 KB</td></tr>
    <tr><td><p align="center">City Theme 2 (Bale/Fletz)</td>
        <td><p align="center">Royal Capital</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city2.mp3">1.46 MB</td></tr>
    <tr><td><p align="center">City Theme 3 (Lohan)</td>
        <td><p align="center">City of Commerce, Lohan</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city3.mp3">1.23 MB</td></tr>
    <tr><td><p align="center">City Theme 4 (Donau/Furni)</td>
        <td><p align="center">Peace Between Hills</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city4.mp3">1.71 MB</td></tr>
    <tr><td><p align="center">City Theme 5 (Deningrad)</td>
        <td><p align="center">Holy City</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city5.mp3">1.41 MB</td></tr>
    <tr><td><p align="center">City Theme 6 (Rogue/Fueno)</td>
        <td><p align="center">Frontier Village</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city6.mp3">1.24 MB</td></tr>
    <tr><td><p align="center">City Theme 7 (Ancient Wingly City)</td>
        <td><p align="center">Forbidden Land</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city7.mp3">1.06 MB</td></tr>
    <tr><td><p align="center">City Theme 8 (Kazaz)</td>
        <td><p align="center">Imperial Capital Kazas</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/city8.mp3">2.10 MB </td></tr>
    <tr><td><p align="center">Dabas's Theme</td>
        <td><p align="center">Riding on a Positive Influence</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/dabas.mp3">760 KB</td></tr>
    <tr><td><p align="center">Dart's Theme</td>
        <td><p align="center">Dart's Theme</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/dart.mp3">1.34 MB</td></tr>
    <tr><td><p align="center">Death Scene</td>
        <td><p align="center">Sorrow</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/deathscene.mp3">1.35 MB</td></tr>
    <tr><td><p align="center">Despair</td>
        <td><p align="center">Hokes Village</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/despair.mp3">980 KB</td></tr>
    <tr><td><p align="center">Ending Theme</td>
        <td><p align="center">Ending</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/endingtheme.mp3">2.53 MB</td></tr>
    <tr><td><p align="center">Forest</td>
        <td><p align="center">Whispering of the Trees</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/forest.mp3">1.30 MB</td></tr>
    <tr><td><p align="center">Generation 1</td>
        <td><p align="center">Last Battle 2</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/generation1.mp3">420 KB</td></tr>
    <tr><td><p align="center">Generation 2</td>
        <td><p align="center">Last Battle 3</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/generation2.mp3">1.44 MB</td></tr>
    <tr><td><p align="center">Final Generation</td>
        <td><p align="center">Last Battle 4</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/finalgeneration.mp3">1.71 MB</td></tr>
    <tr><td><p align="center">Hellena Prison</td>
        <td><p align="center">Hellena Prison</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/hellena.mp3">1.11 MB</td></tr>
    <tr><td><p align="center">If You Still Believe (LoD theme song)</td>
        <td><p align="center">If you Still Believe</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/ifyoustillbelieve.mp3">5.45 MB</td></tr>
    <tr><td><p align="center">Intro Theme</td>
        <td><p align="center">Ruined Celes</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/intro.mp3">2.42 MB</td></tr>
    <tr><td><p align="center">Kashua Glacier/Snowfield</td>
        <td><p align="center">Silver Land</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/kashuaglacier.mp3">1.28 MB</td></tr>
    <tr><td><p align="center">Lavitz's Theme</td>
        <td><p align="center">Requiem</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/lavitz.mp3">1.04 MB</td></tr>
    <tr><td><p align="center">The Dark Hood</td>
        <td><p align="center">Lloyd's Theme</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/lloyd.mp3">1.13 MB</td></tr>
    <tr><td><p align="center">Minitos Theme</td>
        <td><p align="center">Shana's Anxiety</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/minitos.mp3">1.12 MB</td></tr>
    <tr><td><p align="center">Melbu Frahma Battle Theme</td>
        <td><p align="center">Last Battle 1</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/melbufrahma.mp3">1.45 MB</td></tr>
    <tr><td><p align="center">Meru's Theme</td>
        <td><p align="center">Meru's Theme</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/meru.mp3">838 KB</td></tr>
    <tr><td><p align="center">Moon/Mayfil</td>
        <td><p align="center">Dead City</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/moon.mp3">1.10 MB</td></tr>
    <tr><td><p align="center">Opening Theme (Title Screen)</td>
        <td><p align="center">Opening Theme</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/openingtheme.mp3">438 MB</td></tr>
    <tr><td><p align="center">Phantom Ship</td>
        <td><p align="center">Ghost Ship</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/phantomship.mp3">1.36 MB</td></tr>
    <tr><td><p align="center">Prairie</td>
        <td><p align="center">Grassy Plains</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/prairie.mp3">1.30 MB</td></tr>
    <tr><td><p align="center">Prepare for Battle</td>
        <td><p align="center">Enemy Attack</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/prepareforbattle.mp3">1.09 MB</td></tr>
    <tr><td><p align="center">Remember</td>
        <td><p align="center">Together in Peace with You</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/remember.mp3">980 KB</td></tr>
    <tr><td><p align="center">Reminiscence</td>
        <td><p align="center">Reminiscence</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/reminiscence.mp3">1.23 MB</td></tr>
    <tr><td><p align="center">Rose's Theme</td>
        <td><p align="center">Twilight of Rose</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/rose.mp3">1.05 MB</td></tr>
    <tr><td><p align="center">Shana's Theme</td>
        <td><p align="center">Shana's Theme</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/shana.mp3">1.40 MB</td></tr>
    <tr><td><p align="center">Trouble</td>
        <td><p align="center">Uneasy State</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/trouble.mp3">1.04 MB</td></tr>
    <tr><td><p align="center">Serdio (World Map 1)</td>
        <td><p align="center">World Map 1</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/worldmap1serdio.mp3">1.01 MB</td></tr>
    <tr><td><p align="center">Tiberoa (World Map 2)</td>
        <td><p align="center">World Map 2</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/worldmap2tiberoa.mp3">1.18 MB</td></tr>
    <tr><td><p align="center">Mille Seseau (World Map 3)</td>
        <td><p align="center">World Map 3</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/worldmap3milleseseau.mp3">1.04 MB</td></tr>
    <tr><td><p align="center">Death Frontier (World Map 4)</td>
        <td><p align="center">World Map 4</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/worldmap4deathfrontier.mp3">1.16 MB</td></tr>
    <tr><td><p align="center">Zieg's Theme</td>
        <td><p align="center">Zeig's Theme</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/zieg.mp3">1.21 MB</a></td></tr>
    <tr><td><p align="center">*Main Menu</td>
        <td><p align="center">*Main Menu</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/mainmenu.mp3">1.40 MB</a></td></tr>
    <tr><td><p align="center">*Queen Fury</td>
        <td><p align="center">*Queen Fury</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/queenfury.mp3">2.53 MB</a></td></tr>
    <tr><td><p align="center">*Wingly City</td>
        <td><p align="center">*Wingly City</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/winglycity.mp3">2.06 MB</a></td></tr>
    <tr><td><p align="center">*Shirley Shrine/Fort Magrad</td>
        <td><p align="center">*Shirley Shrine/Fort Magrad</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/shirleyshrine.mp3">2.24 MB</a></td></tr>
    <tr><td><p align="center">*Volcano Villude</td>
        <td><p align="center">*Volcano Villude</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/volcanovillude.mp3">2.24 MB</a></td></tr>
    <tr><td><p align="center">*Limestone/Marsh/Nest/Isle</td>
        <td><p align="center">*Limestone/Marsh/Nest/Isle</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/limestonecave.mp3">2.26 MB</a></td></tr>
    <tr><td><p align="center">*Mt. Mortal Dragon</td>
        <td><p align="center">*Mt. Mortal Dragon</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/mtmortaldragon.mp3">2.25 MB</a></td></tr>
    <tr><td><p align="center">*Forbidden Land Battle</td>
        <td><p align="center">*Forbidden Land Battle</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/forbiddenlandbattle.mp3">2.25 MB</a></td></tr>
    <tr><td><p align="center">*Forbidden Land Victory</td>
        <td><p align="center">*Forbidden Land Victory</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/forbiddenlandvictory.mp3">460 KB</a></td></tr>
    <tr><td><p align="center">*Divine Tree</td>
        <td><p align="center">*Divine Tree</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/divinetree.mp3">2.28 MB</a></td></tr>
    <tr><td><p align="center">*Melbu Frahma Chant</td>
        <td><p align="center">*Melbu Frahma Chant</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/melbufrahmachant.mp3">1.74 MB</a></td></tr>
    <tr><td><p align="center">*Aglis</td>
        <td><p align="center">*Aglis</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/aglis.mp3">2.01 MB</a></td></tr>
    <tr><td><p align="center">*Valley of Corrupted Gravity/Gigantos</td>
        <td><p align="center">*Valley of Corrupted Gravity/Gigantos</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/valley.mp3">1.96 MB</a></td></tr>
    <tr><td><p align="center">*Medical Inn</td>
        <td><p align="center">*Medical Inn</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/medicalinn.mp3">0.97 MB</a></td></tr>
    <tr><td><p align="center">*Rest Jingle</td>
        <td><p align="center">*Rest Jingle</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/restjingle.mp3">61.5 KB</a></td></tr>
    <tr><td><p align="center">*Arena Games</td>
        <td><p align="center">*Arena Games</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/arenagames.mp3">968 KB</a></td></tr>
    <tr><td><p align="center">*Item/Weapon Shop</td>
        <td><p align="center">*Item/Weapon Shop</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/itemweaponshop.mp3">1.16 MB</a></td></tr>
    <tr><td><p align="center">*Banquet Music</td>
        <td><p align="center">*Banquet Music</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/banquetmusic.mp3">2.00 MB</a></td></tr>
    <tr><td><p align="center">*Claire's Lullaby</td>
        <td><p align="center">*Claire's Lullaby</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/clairelullaby.mp3">751 KB</a></td></tr>
    <tr><td><p align="center">*Virage Embryo</td>
        <td><p align="center">*Virage Embryo</td>
        <td><p align="center"><a href="https://web.archive.org/web/20150225020546/http://www.thelegendofdragoon.net/media/mp3s/virageembryo.mp3">1.69 MB</a></td></tr>
</table>
