<h1>Notes</h1>
<p>This here is just the disclaimer and some FAQs. Try to read this and see if your question is answered before e-mailing me. Thanks.</p>

<h2>Disclaimers</h2>
<ul>
    <li class="spaced">Ok people, you know the drill. I do NOT own Legend of Dragoon or any of its related characters and whatnot. I
        made this website with no permission whatsoever. I'm just a measly fan who has too much time on her hands and
        likes to create lists and walkthroughs and pages dedicated to this game and...well, you get the idea. Basically
        I own nothing Legend of Dragoon or anything related.
    </li>
    <li class="spaced">I do not own any of the Midis nor the Images (that's why I have all the links on my Links page).</li>
</ul>
<h2>Notes</h2>
<ul>
    <li class="spaced">DO NOT HOTLINK! Sweet lord that ticks me off. And trust me...I CAN find out whether or not you're hotlinking!</li>
    <li class="spaced">Any FLAMES you send me will be posted for public humiliation.</li>
    <li class="spaced">Do NOT use the videos without permission of the one who took the video!</li>
    <li class="spaced">NO, you MAY NOT have the script. You can reference it, but don't take it and put it on your site, and don't ask me for it.</li>
    <li class="spaced">Do NOT send me fanwork!</li>
</ul>
<h2>FAQs</h2>
<p>Random questions people have sent me...</p>

<p><b>How did you decide on the name for this website?</b></p>

<ul><li>Have you ever heard of Hyrule the Land of Zelda? Well, it "was" (it doesn't exist anymore) a very popular (though
    not very good in quality) Zelda website. I kind of twisted the name to make it more fitting for my website and...ah
    hell, I stole the name. HtLoZ was a crappy site anyway.
</li></ul>

<p><b>How long did it take you to make this website?</b></p>

<ul><li>About two months or so to get it started. I officially opened it in August, even though it wasn't completed yet, so
    to make things easy I have the site's birthday be October 10th, which is the same as mine. Steadily throughout the
    last end of 2001 I worked on pages and such, and early this year (2002) I finished the walkthrough.
</li></ul>

<p><b>How often do you update?</b></p>

<ul><li>About once a month.</li></ul>

<p><b>How come you aren't accepting fanwork?</b></p>

<ul><li>Because this is an information site, not a fan site. Feel free to send me fanart/fanfics, but I won't post them
    here. The only fan media I accept here are music videos.
</li></ul>

<p><b>Will you ever be putting up your own message board?</b></p>

<ul><li>No. The reason is that 1) I'm afraid it wouldn't be too popular, so it would be a waste of time and 2) I don't have
    the time to manage one.
</li></ul>

<p><b>You made a mistake on your site...</b></p>

<ul><li>If you point out a mistake on my website (something wrong or missing in the walkthrough, a grammar error, broken
    link, etc) please inform me. I'd be very grateful.
</li></ul>

<p><b>I think LoD is a rip-off of Final Fantasy.</b></p>

<ul><li>That's ok with me. Think what you'd like. However, don't e-mail me and flame me saying this. It's immature, and a
    waste of your time and my time. In fact, don't flame me at all.
</li></ul>

<p><b>I looked through your walkthrough, but I couldn't find a solution to the problem I'm having in the game. Will you
        help me?</b></p>

<ul><li>Send me an e-mail, and I'll try to help in any way possible.</li></ul>

<p><b>Can you help ME make a site?</b></p>

<ul><li>Nope.</li></ul>

<p><b>My screen keeps blacking out right after (insert battle here)!! I've tried doing it like 20 times but it always
        happens!! What gives?</b></p>

<ul><li>Ah yes, the "Dreaded Blackout Screen". Are you playing the game on the PS2, by chance? If so, then try to play the
    game on a regular PlayStation. There are some parts in the game (the one I hear most frequently is the Lenus/Regole
    battle) where the PS2 laser reads the disc improperly, causing a blackout screen. Playing the game on the PS will
    solve this problem. Also try cleaning your disc with a kit like Disc Doctor, especially if you bought the game used.
</li></ul>