<h1 id="title">Other Characters</h1>
<p>Here are some of the more important characters you'll see in the game.</p>

<p><b><u>Plos</u></b></p>
<p>The Mayor of Seles, and Shana's father.</p>
<p><b><u>Ilsa and Lowe</u></b></p>
<p>Two spunky children who look up to Dart as a role model.</p>
<p><b><u>Tasman</u></b></p>
<p>Dart's old swordsman teacher, you can talk with him and "learn" how to fight.</p>
<p><b><u>Freugel</u></b></p>
<p>He was the leader who decided to destroy Seles. He's big and mean, and has a couple of pets (Guftas and Rodriguez)
    that can do a lot of damage.</p>
<p><b><u>Hooded Man</u></b></p>
<p>This is actually Lloyd in disguise.</p>
<p><b><u>Minister Noish</u></b></p>
<p>King Albert's personal and most trusted advisor, who knows much about the Dragon Campaign.</p>
<p><b><u>Mrs. Slambert</u></b></p>
<p>Lavitz' mom, a kind mother who loves to cook almost as much as she loves her son.</p>
<p><b><u>Martel</u></b></p>
<p>Martel is looking for Stardust to heal her daughter. She will give prizes to anyone who brings them to her.</p>
<p><b><u>Kaiser</u></b></p>
<p>The commander of the fort in Hoax and head of the Eighth Knighthood of Basil.</p>
<p><b><u>Midwife Gilda</u></b></p>
<p>A famous midwife who delivered King Albert.</p>
<p><b><u>Dabas</u></b></p>
<p>Dart saves him in the Volcano. He owns an antique shop in Lohan. If you have a PocketStation (available only in Japan),
    you can play Dabas' Treasure Hunt after he gives you the Shiney Bag.</p>
<p><b><u>Greham</u></b></p>
<p>A traitor to Servi, Lavitz' father. In the Dragon's Nest, Lavitz has a chance to avenge his father's death.
            Greham was given the Jade Dragoon Spirit from..</p>
<p><b><u>Feyrbrand</u></b></p>
<p>The Green-Tusked Dragon, controlled by the Jade Dragoon Spirit.</p>
<p><b><u>Sanator</u></b></p>
<p>The best Doctor in all of Serdio.</p>
<p><b><u>Pelpee</u></b></p>
<p>A Minitos in the circus.</p>
<p><b><u>Drake</u></b></p>
<p>A tricky thief, but he guards the Shirley Shrine and is a friend to Shirley.</p>
<p><b><u>Shirley</u></b></p>
<p>Shirley is the White-Silver Dragoon of times past and a friend to Rose. She gives Dart her Dragoon Spirit
            if he and the others answer her questions correctly. She also holds Dart and company responsible for
            releasing the souls of the Dragoons trapped in Vellweb.</p>
<p><b><u>Gorgaga</u></b></p>
<p>The cheater at the Hero Competition.</p>
<p><b><u>Serfius</u></b></p>
<p>He uses a special defensive spell in the Hero Competition.</p>
<p><b><u>Danton</u></b></p>
<p>Don't attack him when his weapon is down in the Hero Competion!</p>
<p><b><u>Atlow</u></b></p>
<p>A fierce fighter in the Hero Competition, he uses arrows and a Fear Attack.</p>
<p><b><u>Popo</u></b></p>
<p>A young boy who represents the New Serdio Party, and who also knows a secret entrance into the Black Castle.</p>
<p><b><u>Mr. Magi</u></b></p>
<p>A "not-so-great" researcher of magic</p>
<p><b><u>Commander</u></b></p>
<p>The Commander of Imperial Sandora is not as bad as he seems.</p>
<p><b><u>Father Faza</u></b></p>
<p>Doel's priest and close friend</p>
<p><b><u>Emperor Doel</u></b></p>
<p>Albert's uncle and the faux king of Serdio. He became emperor after killing his
            brother (Albert's father), and this split Serdio into two parts (Basil and Sandora). He then became Emperor
            and, as his ambition got stronger, so did his desire for power. He hired the Hooded Man to give him the
            ultimate power, that of a Violet Dragoon, in turn for Shana and her mysterious powers.</p>
<p><b><u>Kaffi</u></b></p>
<p>Kaffie is the loud, talkative waitress at the bar in Fletz.</p>
<p><b><u>Fester</u></b></p>
<p>He is Fletz' leading astrologer and a teacher to Princess
            Lisa. He knows much about the Black Monster and the Moon that Never Sets.</p>
<p><b><u>Nello</u></b></p>
<p>Nello is a garderner in Fletz whose dream is to fill the land with green. He and
            Albert will become good friends. It is also rumored that Princess Lisa has a crush on him. ^_~</u></b></p>
<p><b><u>King Zior</u></b></p>
<p>The King of Fletz and father to princesses Emille and Lisa.</p>
<p><b><u>Princess Emille</u></b></p>
<p>The kind, beautiful elder princess of Fletz and heir to the throne. She and Albert will fall in love. ^_^</p></p>
<p><b><u>Princess Lisa</u></b></p>
<p>Emille's younger sister who can call upon the power of her star for information.</p>
<p><b><u>Libria</u></b></p>
<p>The maid of princesses Emille and Lisa.</p>
<p><b><u>Mappi</u></b></p>
<p>Mappi is a quick and clever thief who is an assistant to Gehrich.</p>
<p><b><u>Kate</u></b></p>
<p>A bride-to-be in Donau who is stressed because her fiance, Lynn, went to defeat the thieves.</p>
<p><b><u>Lynn</u></b></p>
<p>Kate's fiance who disappeared when trying to defeat the Gehrich Gang.</p>
<p><b><u>Mayor of Donau</u></b></p>
<p>The Mayor of Donau is Lynn's father.</p>
<p><b><u>Gehrich</u></b></p>
<p>An old pupil of Haschel's and leader of the Gehrich Gang .</p>
<p><b><u>Lenus</u></b></p>
<p>Lenus is a Wingly who has a crush on Lloyd and poses as
            Princess Emille to get the Moon Dagger. She also has the Blue Sea Dragoon Spirit.</p>
<p><b><u>Regole</u></b></p>
<p>The Blue Sea Dragon controlled by the Blue Sea Dragoon Spirit.</p>
<p><b><u>Kayla</u></b></p>
<p>The young, tiny, and spunky second mate of the Queen Fury.</p>
<p><b><u>Commadore Puler</u></b></p>
<p>The Captian of the Queen Fury. He views sailing as being a poetic adventure.</p>
<p><b><u>Princess Louvia</u></b></p>
<p>A mysterious ghost princess?</p>
<p><b><u>Pete</u></b></p>
<p>A young boy who finds Rose and Dart in a cave. His mother is sick and asks them to take them to Fueno. He
            teases Rose about her non-existant "crush" on Dart.</p>
<p><b><u>Teo</u></b></p>
<p>A young boy with a pet wolf whom he loves very much. When Kamuy became mean and ran away to the forest, Teo
            went with him.</p>
<p><b><u>Fa</u></b></p>
<p>The daughter of the Mayor of Furni and best friend to Teo. She loses her voice after she was "attacked" by Kamuy.</p>
<p><b><u>Kamuy</u></b></p>
<p>Teo's pet wolf who has become suddenly vicious.</p>
<p><b><u>Resident Knight Harris</u></b></p>
<p>The head of the Knights in Furni and offers a reward to the one who can heal Kamuy, even if it means killing the wolf.</p>
<p><b><u>Mayor of Furni</u></b></p>
<p>Fa's father, who is worried about Fa and Teo.</p>
<p><b><u>Bishop Dille</u></b></p>
<p>A wise priest from Deningrad who believes the Divine Tree gave life to all.</p>
<p><b><u>Librarian Ute</u></b></p>
<p>A snobby librarian, but he knows much about the Black Monster and the Moon Child.</p>
<p><b><u>Queen Theresea</u></b></p>
<p>The Queen of Mille Seseau and keeper of the Moon Mirror. Mother to Wink and Setie, and adoptive mother to Miranda and Luanna.</p>
<p><b><u>Second Sacred Sister Luanna</u></b></p>
<p>Queen Theresea's second daughter and sister to Miranda, Wink, and Setie.
            She is blind but has the power to look into the soul</p>
<p><b><u>Third Sacred Sister Wink</u></b></p>
<p>Queen Theresea's third daughter and sister to Miranda, Luanna, and Setie.
            She is saved by Lloyd several times, which brings her to develop feelings for him.</p>
<p><b><u>Fourth Sacred Sister Setie</u></b></p>
<p>The youngest of the Sacred Sisters. She is a bit of a wimp and a crybaby, but she takes good care of Luanna.</p>
<p><b><u>Guaraha</u></b></p>
<p>Meru's fiance and one of the only Winglies who stands for what she believes in about the human world.</p>
<p><b><u>The Bardel Brothers</u></b></p>
<p>A couple of bullies, watch out for the younger one especially.</p>
<p><b><u>Meru's Mother and Father</u></b></p>
<p>Meru's parents; both are disappointed in Meru and her intentions of leaving, and
            kick her out of their house.</p>
<p><b><u>Ancestor Blano</u></b></p>
<p>The old, wise Wingly who gives you access to the Forbidden Land.</p>
<p><b><u>Divine Dragon</u></b></p>
<p>The King of Dragons, and the most powerful. He was chained in the Mountain of
            Mortal Dragon, but Lloyd freed him carelessly, hoping to defeat him and get the Divine Dragoon Spirit.
            However, the Divine Dragon wound up attacking Deningrad twice, destroying it completely.</p>
<p><b><u>Emperor Diaz</u></b></p>
<p>The old Human Emperor during the Dragon Campaign...how did he survive to modern times?</p>
<p><b><u>Zieg Feld</u></b></p>
<p>Dart's father and Rose's long lost love. He used to be a good Dragoon...what happened?</p>
<p><b><u>Syuveil</u></b></p>
<p>The old Jade Dragoon who lived during the Dragon Campaign...his spirit still
            lives because he is afraid to die since he doesn't know where he's going except that it is a world of
            darkness.</p>
<p><b><u>Kanzas</u></b></p>
<p>The old Violet Dragoon who
            lived during the Dragon Campaign...his spirit still lives because he hasn't killed enough...he keeps an
            eerie collection of dolls of all the people he has killed, a memento of blood from his fists.</p>
<p><b><u>Belzac</u></b></p>
<p>The old Golden Dragoon who lived during the Dragon
            Campaign...his spirit still lives because he refuses to believe that he saved no one during his noble
            sacrifice against the deadly attack of the Virage. He also had a soft spot for young children (please, not
            that way...) and was very close to Shirley.</p>
<p><b><u>Damia</u></b></p>
<p>The old Blue Sea Dragoon who lived during the Dragon Campaign...her spirit still lives because she thinks she
            will die alone. She was the youngest Dragoon and often bullied by older people. She was also half
            mermaid.</p>
<p><b><u>Caron</u></b></p>
<p>An old Wingly friend of Rose.</p>
<p><b><u>Charle Frahma</u></b></p>
<p>Melbu Frahma's older,
            suprisingly very sweet sister. She knows a lot about the Divine Moon Objects and the Signet Spheres.</p>
<p><b><u>Mayor of Rogue</u></b></p>
<p>The Mayor of Rogue and an old friend of Haschel's.</p>
<p><b><u>Lil</u></b></p>
<p>Martel's sick daughter who needs Stardust to be healed.</p>
<p><b><u>Ruff</u></b></p>
<p>One of the magical creatures found in Aglis. He says "ruff" at the end of every sentence.</p>
<p><b><u>Phewy</u></b></p>
<p>Another magical creature who says "phewy" at the end of every sentence.</p>
<p><b><u>Spino</u></b></p>
<p>Yet another magical creature, he says "spino" at the end of each sentence.</p>
<p><b><u>Buckle</u></b></p>
<p>Savan's assistant, constantly saying "uckle".</p>
<p><b><u>Decal</u></b></p>
<p>Savan's magical creature who loves to roll and say "cal".</p>
<p><b><u>Savan</u></b></p>
<p>A Wingly that survived the Dragon Campaign who lives in Aglis, waiting for the Dragoons. Using the courage of the
            Dragoons, he creates the Psychedelic Bomb, a most powerful weapon. He is also working on a project called
            Moot, which is supposed to be the next Signet Sphere. He dies when he saves the Dragoons from a magical
            chain-reaction.</p>
<p><b><u>Coolon</u></b></p>
<p>The "Wings of Savan". Coolon will fly you to the major cities in Endiness, and also to the Divine Tree (keep in mind that once you
            go there, Coolon will be hit by a Virage and crash, therefore unable to fly anymore...in other words, once
            you land on the Divine Tree, there's NO TURNING BACK!!)</p>
<p><b><u>Laptos</u></b></p>
<p>Laptos are automated organisms that are strict law makers and law enforcers.</p>
<p><b><u>Judge Nomos</u></b></p>
<p>The judge at Zenebatos who speaks only the truth.</p>
<p><b><u>Zackwell</u></b></p>
<p>The devil who has taken over Lavitz' spirit. Although he is considered a "bad
            guy", Lavitz is grateful because he allowed Lavitz to see his friends one last time.</p>
<p><b><u>Death Rose</u></b></p>
<p>The Death Rose is the spirit of Miranda's mother. Will
            Miranda ever forgive her mother for what she's done.</p>
<p><b><u>Dran</u></b></p>
<p>An old aquaintance of Albert that he meets on the moon. He's rich and likes to drink.</p>
<p><b><u>Claire</u></b></p>
<p>Claire is Haschel's long lost daughter who left him after she
            had killed a student of the Rogue School on accident. But why is she acting so strange...so possessed?</p>
<p><b><u>Nagarujuna</u></b></p>
<p>Rogue's Four Gods of Destruction</p>
<p><b><u>Indora</u></b></p>
<p>Indora is Kongol's brother.
            Kongol must prove his worth to Indora in order to become stronger. Depending on how you play the game,
            Indora will also give you Kongol's Dragoon Spirit.</p>
<p><b><u>Michael</u></b></p>
<p>Michael is Rose's Vassal Dragon, and is also known as the Darkness Dragon or the Black Burst Dragon. After
            many battles, he became savage and turned against Rose. However, this left his heart his weak spot..</p>
<p><b><u>Dark Doel</u></b></p>
<p>Dark Doel is Emperor Doel,
            only, how to say, more "talkative". He and Albert will settle their differences, and Albert will find out
            the real reason why Doel killed Carlos.</p>
<p><b><u>Archangel</u></b></p>
<p>Archangel is the Guardian of the Winglies, and considers Meru a traitor to the Winglies for being with the humans.</p>
<p><b><u>Faust</u></b></p>
<p>Faust is an old ally of Melbu Frahma during the Dragon
            Campaign. He has extremely powerful magic attacks. He was the commander of the Floating Fort Flanvel, but
            his pride became his insanity which ended the powerful reign of Flanvel, but not Faust himself...</p>
<p><b><u>Melbu Frahma</u></b></p>
<p>The old Wingly leader during the Dragon Campaign. How
            can he still be alive, and what will he do to rule the world?</p>