<h1 id="title">Prologue</h1>

<p>Many millenia ago...</p>
<p>The great deity Soa planted a seed into the land of Endiness. The seed grew into a
    gigantic tree, the Divine Tree, which bore 108 fruits. Each of these fruits created a species...</p>
<p>The towering, massive Gigantos the 97th fruit...the small, long-haired Minitos the 99th fruit, the formidable Dragons
    the 105th fruit, the passive, agrarain humans the 106th fruit, the magical flying Winglies the 107th race. The
    fruits fell from the tree and took their places in the land of Endines, filling the once-barren land with life. The
    108th fruit was known as the God of Destruction...but why would Soa create the world just to destroy it?</p>
<p>Whatever the reason, the offspring of the Divine Tree obtained peace in the land of Endiness for many thousands of
    years, until...</p>
<p>Thinking that their magic made them superior, the Winglies became power hungry, and
    took over. They killed off many of the 108 species, and enslaved the humans. For many hundreds of years the human
    race were servants to the magical Winglies in their five cities: Deningrad, the Birth City; Aglis, the Magical City;
    Zenebatos, the Law City; Mayfil, the Death City; and Kadessa, the Royal Wingly Capital. These cities floated on
    clouds high in the air, along with many Wingly fortresses such as Flanvel. The humans were at the mercy of the
    magical Winglies, led by the cruel Melbu Frahma, who carried with him a magical orb from which he could obtain
    unlimited magical powers.</p>
<p>Then, one day, led by the human monarch Emperor Diaz, the humans attacked the
    Winglies. This war became known as the Dragon Campaign. Of the army, seven of the warriors had obtained the power of
    Dragons...these warriors were known as the Dragoons. With the strength of Dragons by their side, the human army
    attacked the Wingly cities. The Winglies, fearing this would be the end, harnessed the power of the mighty Virages.
    However, even the power of the Virages were no match for those of the Dragons. The Dragoon Leader, the Red-Eye,
    attacked Melbu Frahma, killing him, yet sacrificing himself for his deed. Many other lives were lost during the
    Dragon Campaign, including those of the seven Dragoons...</p>
<p>Or were they...?</p>
<p>That is the Legend of Dragoon from the past. 10,000 years after the Dragon Campaign, a new chapter begins in the
    Legend...</p>

<p class="center"><a href="/story/chapter1">To Chapter One: Serdian War</a></p>