<h1><u>Shopping in Endiness</u></h1>

<p><font size="2">In every town in Endiness there are usually two stores:  A weapon shop and an item shop.  In several places you travel there will also be wandering merchants ready to sell you useful items.  The list below gives you the location, shops, and prices for items and weapons.

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>FOREST</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Merchant's List</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center">Healing Potion</td>
    <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier </td>
        <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Burn Out </td>
        <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion </td>
        <td><p align="center"><font size="2">4</td></tr></table>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>HELLENA 1</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Merchant's List</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spark Net </td>
        <td><p align="center"><font size="2">10</td></tr></table>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4">BALE</font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Bastard Sword</td>
        <td><p align="center"><font size="2">60</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sparkle Arrow</td>
        <td><p align="center"><font size="2">50</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Scale Armor</td>
        <td><p align="center"><font size="2">50</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Leather Jacket
        <td><p align="center"><font size="2">50</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sallet</td>
        <td><p align="center"><font size="2">40</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Poison Guard</td>
        <td><p align="center"><font size="2">200</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Panic Guard</td>
        <td><p align="center"><font size="2">300</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Stun Guard</td>
        <td><p align="center"><font size="2">200</td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Bravery Amulet</td>
        <td><p align="center"><font size="2">300</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Knight Shield</td>
        <td><p align="center"><font size="2">200</td></tr>

        </table>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spear Frost</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Meteor Fall</td>
        <td><p align="center"><font size="2">20</tr></td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</td></tr></table>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>VOLCANO VILLUDE</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Dabas' Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center">Healing Potion</td>
    <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dancing Ray</td>
        <td><p align="center"><font size="2">20</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Pellet</td>
        <td><p align="center"><font size="2">10</td></tr></table>

        <hr=5>



<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>LOHAN</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Lance</td>
        <td><p align="center"><font size="2">100</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Cape</td>
        <td><p align="center"><font size="2">60</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Legend Casque</td>
        <td><p align="center"><font size="2">10000</tr></td>

        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Active Ring</td>
        <td><p align="center"><font size="2">60</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Protector</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Panic Guard</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Power Wrist</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Wargod Calling</td>
        <td><p align="center"><font size="2">1000</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Phantom Shield</td>
        <td><p align="center"><font size="2">10000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dragon Shield</td>
        <td><p align="center"><font size="2">5000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel Scarf</td>
        <td><p align="center"><font size="2">5000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Ultimate Wargod</td>
        <td><p align="center"><font size="2">10000</tr></td>
        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spinning Gale</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Gushing Magma</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</tr></td></table>







        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>HELLENA 2</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Merchant's List</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Midnight Terror</td>
        <td><p align="center"><font size="2">20</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Thunderbolt</td>
        <td><p align="center"><font size="2">20</td></tr>
        </table>

        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>BLACK CASTLE/KAZAS</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>

    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Heat Blade</td>
        <td><p align="center"><font size="2">150</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Long Bow</td>
        <td><p align="center"><font size="2">150</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Armet </td>
        <td><p align="center"><font size="2">100</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Iron Kneepiece</td>
        <td><p align="center"><font size="2">100</tr></td></table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Fake Armor Shop (talk to doctor at clinic)</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Fake Power Wrist</td>
        <td><p align="center"><font size="2">100</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Fake Shield</td>
        <td><p align="center"><font size="2">100</td></tr></table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dark Mist</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Fatal Blizzard</td>
        <td><p align="center"><font size="2">20</tr></td>
        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Woman Merchant</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spear Frost</td>
        <td><p align="center"><font size="2">10</td></tr>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Meteor Fall</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</tr></td>



        </table>


        <hr=5>



<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>FLETZ</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Shadow Cutter</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Chain Mail </td>
        <td><p align="center"><font size="2">150</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Soft Boots</td>
        <td><p align="center"><font size="2">100</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Bravery Amulet</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Poison Guard</td>
        <td><p align="center"><font size="2">200</tr></td><tr>
            <td><p align="center"><font size="2"><p align="center"><font size="2">Active Ring</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Protector</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Panic Guard</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Stun Guard</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Bravery Amulet</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Magic Ego Ball</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Power Wrist</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Knight Shield</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Wargod Calling</td>
        <td><p align="center"><font size="2">1000</tr></td></table>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Trans Light</td>
<p><td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Black Rain</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</tr></td></table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Jewelry Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Ruby Ring</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sapphire Pin</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Emerald Earring</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Platinum Collar</td>
        <td><p align="center"><font size="2">1000</tr></td>
        </table>

        <hr=5>



<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>DONAU</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Silver Vest</td>
        <td><p align="center"><font size="2">150</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Tiara</td>
        <td><p align="center"><font size="2">150</tr></td></table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Rave Twister</td>
        <td><p align="center"><font size="2">20</tr></td>
        </table>


        <hr=5>



<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>QUEEN FURY</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Glaive</td>
        <td><p align="center"><font size="2">250</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Beast Fang</td>
        <td><p align="center"><font size="2">250</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Warrior Dress</td>
        <td><p align="center"><font size="2">150</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Stun Guard</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Magic Ego Bell</td>
        <td><p align="center"><font size="2">300</tr></td>

        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Trans Light</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dancing Ray</td>
        <td><p align="center"><font size="2">20</tr></td>
        </table>


        <hr=5>



<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>FUENO</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Falchion</td>
        <td><p align="center"><font size="2">250</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Bemusing Arrow</td>
        <td><p align="center"><font size="2">250</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Morning Star</td>
        <td><p align="center"><font size="2">250</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Plate Mail</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sparkle Dress</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Knight Helm</td>
        <td><p align="center"><font size="2">150</tr></td>

        </table>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Potion</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Burn Out</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Gushing Magma</td>
        <td><p align="center"><font size="2">20</tr></td>


        </table>


        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>FURNI</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dancing Dagger</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Giganto Helm </td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Combat Shoes</td>
        <td><p align="center"><font size="2">150</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Destone Amulet</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Attack Badge</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Elude Cloak</td>
        <td><p align="center"><font size="2">300</tr></td>
        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <tr><td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>

        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Depetrifier</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Thunderbolt</td>
        <td><p align="center"><font size="2">20</tr></td></table>


        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>DENINGRAD</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Tomahawk</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spear of Terror</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Diamond Claw</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Breast Plate</td>
        <td><p align="center"><font size="2">250</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Master's Vest</td>
        <td><p align="center"><font size="2">250</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Soul Headband</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Jeweled Crown</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Stardust Boots</td>
        <td><p align="center"><font size="2">150</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Protector</td>
        <td><p align="center"><font size="2">200</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Bravery Amulet</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Destone Amulet</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Armor of Legend</td>
        <td><p align="center"><font size="2">10000</tr></td></table>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <tr><td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Depetrifier</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spark Net</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Thunderbolt</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</tr></td></table>


        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>WINGLY FOREST</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">War Hammer</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Magical Ring</td>
        <td><p align="center"><font size="2">600</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spiritual Ring</td>
        <td><p align="center"><font size="2">600</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spirit Cloak</td>
        <td><p align="center"><font size="2">300</tr></td></table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dark Mist</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Black Rain</td>
        <td><p align="center"><font size="2">20</tr></td></table>

        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>KASHUA GLACIER</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Crush</td>
        <td><p align="center"><font size="2">350</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Battle Axe</td>
        <td><p align="center"><font size="2">350</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Flamberge</td>
        <td><p align="center"><font size="2">350</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Virulent Arrow</td>
        <td><p align="center"><font size="2">350</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Saint Armor</td>
        <td><p align="center"><font size="2">300</tr></td><td><p align="center"><font size="2"><p align="center"><font size="2">Robe</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Guard Blade</td>
        <td><p align="center"><font size="2">1000</tr></td>

        &gt;</table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10 </tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion </td>
        <td><p align="center"><font size="2">4</tr></td>
        </table>


        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>VELLWEB</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Partisan</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Heavy Mace</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Giganto Armor</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Energy Girdle</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Giganto Ring</td>
        <td><p align="center"><font size="2">1000</tr></td></table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>

    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion </td>
        <td><p align="center"><font size="2">4</tr></td>


        </table>


        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>ULARA</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Fairy Sword</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Arrow of Force</td>
        <td><p align="center"><font size="2">500</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Thunder Fist</td>
        <td><p align="center"><font size="2">450</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Magical Greaves</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spiritual Ring</td>
        <td><p align="center"><font size="2">600</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Magical Ring</td>
        <td><p align="center"><font size="2">600</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Elude Cloak</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spirit Cloak</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sage's Cloak</td>
        <td><p align="center"><font size="2">600</tr></td>

        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Panic Bell</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Stunning Hammer</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Poison Needle</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Midnight Terror</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Attack Ball</td>
        <td><p align="center"><font size="2">100</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Recovery Ball</td>
        <td><p align="center"><font size="2">100</tr></td></table>

        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>ROGUE</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Attack Badge</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Guard Badge</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Giganto Ring</td>
        <td><p align="center"><font size="2">1000</tr></td>
        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Panic Bell</td>
        <td><p align="center"><font size="2">20</tr></td>
        </table>

        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>ZENEBATOS</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Great Axe</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Gladius</td>
        <td><p align="center"><font size="2">400</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Red DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Jade DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dark DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Blue DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Panic Guard</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Bravery Amulte</td>
        <td><p align="center"><font size="2">300</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Destone Amulet</td>
        <td><p align="center"><font size="2">400</tr></td>

        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30 </tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Depetrifier</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Charm Potion</td>
        <td><p align="center"><font size="2">4</tr></td>


        </table>


        <hr=5>


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>THE MOON</b></font></td></tr>
    <tr><td colspan="2"><p align="center"><font size="3">Weapon/Armor Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Claymore</td>
        <td><p align="center"><font size="2">500</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Halberd</td>
        <td><p align="center"><font size="2">500</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Basher</td>
        <td><p align="center"><font size="2">500</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Destroyer Mace</td>
        <td><p align="center"><font size="2">500</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Red DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Jade DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Violet DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Silver DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Dark DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Blue DG Armor</td>
        <td><p align="center"><font size="2">800</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Magical Ring</td>
        <td><p align="center"><font size="2">600</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Spiritual Ring</td>
        <td><p align="center"><font size="2">600</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Guard Badge</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Attack Badge</td>
        <td><p align="center"><font size="2">1000</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Giganto Ring</td>
        <td><p align="center"><font size="2">1000</tr></td>


        </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="45%">
        <tr><td colspan="2"><p align="center"><font size="3">Item Shop</b></td>
        <tr><td><p align="center"><font size="3">Item</font></td>
    <td><p align="center"><font size="3">Cost</font></td></tr>
    <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Fog</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Healing Breeze</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Sun Rhapsody</td>
        <td><p align="center"><font size="2">50</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Angel's Prayer</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Depetrifier</td>
        <td><p align="center"><font size="2">30</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Mind Purifier</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Body Purifier</td>
        <td><p align="center"><font size="2">10</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Panic Bell</td>
        <td><p align="center"><font size="2">20</tr></td>
        <tr><td><p align="center"><font size="2"><p align="center"><font size="2">Poison Needle</td>
        <td><p align="center"><font size="2">20</tr></td>
</table>