<h1 id="title"><u>Sidequests</u></h1>

<p><font size="2">All the Side Quests in Legend of Dragoon are optional, since they have no effect on the main storyline.  However, they usually don't take too long, and some of the rewards can be found nowhere else in the game.  I recommend trying all of them for fun and some cool prizes.

        <hr="5">

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">
        <tr><td colspan="3"><p align="center"><font size="4"><b>SIDEQUESTS</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Location</b></td>
        <td><p align="center"><font size="3">Mission</font></td>
    <td><p align="center"><font size="3">Reward</font></td></tr>


    <tr><td><p align="center"><font size="2">Limestone Cave</td>
        <td><p align="center"><font size="2">Catch the rabbit</td>
        <td><p align="center"><font size="2">Poison Guard</td></tr>

        <tr><td><p align="center"><font size="2">Bale</td>
        <td><p align="center"><font size="2">Talk to painting girl</td>
        <td><p align="center"><font size="2">Painting of Lavitz</td></tr>

        <tr><td><p align="center"><font size="2">Marshland</td>
        <td><p align="center"><font size="2">Eliminate all enemies invading the 7th Fort</td>
        <td><p align="center"><font size="2">Experience and Gold</td></tr>

        <tr><td><p align="center"><font size="2">Lohan</td>
        <td><p align="center"><font size="2">Get Gold DS from guy who sold you the Water Bottle</td>
        <td><p align="center"><font size="2">Kongol's Dragoon Spirit</td></tr>

        <tr><td><p align="center"><font size="2">Donau</td>
        <td><p align="center"><font size="2">Free Lynn and return to Donau immediately</td>
        <td><p align="center"><font size="2">Kate's Boquet</td></tr>

        <tr><td><p align="center"><font size="2">Queen Fury</td>
        <td><p align="center"><font size="2">The Vegetable Julian - Chop chop! (Try using all the characters)</td>
        <td><p align="center"><font size="2">1 piece of Gold</td></tr>

        <tr><td><p align="center"><font size="2">Evergreen Forest</td>
        <td><p align="center"><font size="2">Defeat Kamuy</td>
        <td><p align="center"><font size="2">Gold Reward</td></tr>

        <tr><td><p align="center"><font size="2">Fort Magrad</td>
        <td><p align="center"><font size="2">Defeat Polter Armor</td>
        <td><p align="center"><font size="2">Dart's strongest sword, the Soul Eater</td></tr>

        <tr><td><p align="center"><font size="2">Vellweb</td>
        <td><p align="center"><font size="2">Defeat the four undead Dragoons in tower</td>
        <td><p align="center"><font size="2">Respective Dragoon Stones</td></tr>

        <tr><td><p align="center"><font size="2">Flanvel</td>
        <td><p align="center"><font size="2">Defeat Faust (see Stardust)</td>
        <td><p align="center"><font size="2">Phantom Shield</td></tr>

        <tr><td><p align="center"><font size="2">Mayfil</td>
        <td><p align="center"><font size="2">Defeat the three Dragon Spirits</td>
        <td><p align="center"><font size="2">Down Burst, Frozen Jet, Destone Amulet</td></tr></table>