<h1><u>Special Items</u></h1>

<p><font size="2">Special Items are used mainly for one purpose only and cannot be sold.  Some of them you get from <a href="/gamehelp/sidequests.shtml"><u>Side Quests</u></a>. However, they are needed and are very important.

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="100%">
        <tr><td colspan="3"><p align="center"><font size="4"><b>SPECIAL ITEMS</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Location</font></td>
    <td><p align="center"><font size="3">Special Item</font></td>
    <td><p align="center"><font size="3">Use</font></td></tr>

    <tr><td><p align="center"><font size="2">Initial</font></td>
    <td><p align="center"><font size="2">War Bulletin</font></td>
    <td><p align="center"><font size="2">Special edition.  Shows tenstion among Sandora and Serdio</font></td></tr>

    <tr><td><p align="center"><font size="2">Initial</font></td>
    <td><p align="center"><font size="2">Father's Stone</font></td>
    <td><p align="center"><font size="2">A mysterious stone from Dart's Father.  Glows when held</font></td></tr>

    <tr><td><p align="center"><font size="2">Helena Prison</font></td>
    <td><p align="center"><font size="2">Prison Key</font></td>
    <td><p align="center"><font size="2">Key to the second prison tower where Shana is held</font></td></tr>

    <tr><td><p align="center"><font size="2">Prairie</font></td>
    <td><p align="center"><font size="2">Axe from the Shack</font></td>
    <td><p align="center"><font size="2">An axe left in a shack in a field.  It's well-worn</font></td><tr>

    <tr><td><p align="center"><font size="2">Bale</font></td>
    <td><p align="center"><font size="2">Lavitz's Picture</font></td>
    <td><p align="center"><font size="2">Lavitz's portrait drawn in Bale.  It looks so real</font></td></tr>

    <tr><td><p align="center"><font size="2">Bale</font></td>
    <td><p align="center"><font size="2">Good Spirits</font></td>
    <td><p align="center"><font size="2">Good spirit that pleases the man in Bale</font></td></tr>

    <tr><td><p align="center"><font size="2">Hoax</font></td>
    <td><p align="center"><font size="2">Dark Dragon DS</font></td>
    <td><p align="center"><font size="2">Dragoon Spirit of mysterious Rose.  Darkness-based.</font></td></tr>

    <tr><td><p align="center"><font size="2">Hoax</font></td>
    <td><p align="center"><font size="2">Red Dragon DS</font></td>
    <td><p align="center"><font size="2">Dragoon Spirit his father left him.  Fire-based</font></td></tr>

    <tr><td><p align="center"><font size="2">Dragon's Nest</font></td>
    <td><p align="center"><font size="2">Jade Dragon DS</font></td>
    <td><p align="center"><font size="2">Dragoon Spirit from Greham.  Wind-based</font></td></tr>

    <tr><td><p align="center"><font size="2">Lohan</font></td>
    <td><p align="center"><font size="2">Magic Shiny Bag</font></td>
    <td><p align="center"><font size="2">Bag from Dabas used for a PocketStation minigame</font></td></tr>

    <tr><td><p align="center"><font size="2">Lohan</font></td>
    <td><p align="center"><font size="2">Water Bottle</font></td>
    <td><p align="center"><font size="2">A bottle acquired in Lohan to hold "Life Water"</font></td><tr>

    <tr><td><p align="center"><font size="2">Dragon's Nest</font></td>
    <td><p align="center"><font size="2">Life Water</font></td>
    <td><p align="center"><font size="2">Life water from a monster plant.  Refreshes power</font></td></tr>

    <tr><td><p align="center"><font size="2">Shirley's Shrine</font></td>
    <td><p align="center"><font size="2">Silver Dragon DS</font></td>
    <td><p align="center"><font size="2">Dragoon Spirit from Shirley. Light-based</font></td></tr>

    <tr><td><p align="center"><font size="2">Black Castle/Kazas</font></td>
    <td><p align="center"><font size="2">Magic Oil</font></td>
    <td><p align="center"><font size="2">Fuel to light an elevator switch</font></td></tr>

    <tr><td><p align="center"><font size="2">Black Castle/Kazas</font></td>
    <td><p align="center"><font size="2">Red Stone</font></td>
    <td><p align="center"><font size="2">Red Stone kept by the janitor of the Black Castle</font></td></tr>

    <tr><td><p align="center"><font size="2">Black Castle/Kazas</font></td>
    <td><p align="center"><font size="2">Blue Stone</font></td>
    <td><p align="center"><font size="2">Blue Stone held by the Spell Master Magi</font></td></tr>

    <tr><td><p align="center"><font size="2">Black Castle/Kazas</font></td>
    <td><p align="center"><font size="2">Yellow Stone</font></td>
    <td><p align="center"><font size="2">Yellow Stone hidden in the Black Castle</font></td></tr>

    <tr><td><p align="center"><font size="2">Black Castle/Kazas</font></td>
    <td><p align="center"><font size="2">Violet Dragon DS</font></td>
    <td><p align="center"><font size="2">Dragoon Spirit from Doel.  Thunder-based</font></td></tr>

    <tr><td><p align="center"><font size="2">Fletz</font></td>
    <td><p align="center"><font size="2">Pass For Valley</font></td>
    <td><p align="center"><font size="2">A pass for Zero Gravity Valley</font></td></tr>

    <tr><td><p align="center"><font size="2">Donau</font></td>
    <td><p align="center"><font size="2">Kate's Bouquet</font></td>
    <td><p align="center"><font size="2">Good luck bouquet thrown by Kate at the wedding</font></td></tr>

    <tr><td><p align="center"><font size="2">Lohan</font></td>
    <td><p align="center"><font size="2">Gold Dragon DS</font></td>
    <td><p align="center"><font size="2">Kongol's Dragoon Spirit, Earth-based</font></td></tr>

    <tr><td><p align="center"><font size="2">Phantom Ship</font></td>
    <td><p align="center"><font size="2">Key to Ship</font></td>
    <td><p align="center"><font size="2">Opens door to Captain's Quarters</font></td></tr>

    <tr><td><p align="center"><font size="2">Undersea Cavern</font></td>
    <td><p align="center"><font size="2">Blue Sea Dragon DS</font></td>
    <td><p align="center"><font size="2">Meru's Dragoon Spirit, Water-based</font></td></tr>

    <tr><td><p align="center"><font size="2">Furni</font></td>
    <td><p align="center"><font size="2">Boat License</font></td>
    <td><p align="center"><font size="2">Needed to explore town</font></td></tr>

    <tr><td><p align="center"><font size="2">Zenebatos</font></td>
    <td><p align="center"><font size="2">Law Production Licsense</font></td>
    <td><p align="center"><font size="2">Used to produce laws</font></td></tr>

    <tr><td><p align="center"><font size="2">Zenebatos</font></td>
    <td><p align="center"><font size="2">Law Launching Licsense</font></td>
    <td><p align="center"><font size="2">Used to launch laws</font></td>
</table>