<h1><u>Stardust Locations</u></h1>

<p><font size="2">Here is a complete list of all the Stardust in Endiness.  Stardust is needed to help Martel's daughter, Lil, recover from her illness.  There are fifty Stardusts in all, and after every ten you get a really cool prize from Martel.  Even if you forget one, you can always go back and get it anytime before you land on the Divine Tree on the fourth disc.</font>

<p><u>Seles (1)</u>
    <br><ul><li type="disc">Gravestone in front of tree</ul>

<p><u>Bale (6)</u>
    <br><ul><li type="disc">Room in basement, use the castle boat
        <br><li type="disc">Castle, third floor, top-left room
        <br><li type="disc">Castle, first floor, fireplace
        <br><li type="disc">Weapon Shop, near spears
        <br><li type="disc">Well near Lavitz' house
        <br><li type="disc">Lavitz' kitchen</ul>

<p><u>Hoax (2)</u>
    <br><ul><li type="disc">Conference room, bottom left
        <br><li type="disc">House in upper left, the fireplace</ul>

<p><u>Marshland (1)</u>
    <br><ul><li type="disc">Stronghold's fireplace</ul>

<p><u>Lohan (4)</u>
    <br><ul><li type="disc">Pot near entrance
        <br><li type="disc">Cargo near arena entrance
        <br><li type="disc">Dabas' shop, near armor
        <br><li type="disc">Book shop, hidden cabinent, down in fireplace</ul>

<p><u>Kazas (6)</u>
    <br><ul><li type="disc">Entrance, 1st room on left, in barrels
        <br><li type="disc">Entrance, 1st room on right, up ladder, near shields
        <br><li type="disc">Weapon shop, near shopkeeper's counter
        <br><li type="disc">Slums, Top Room, bookshelf
        <br><li type="disc">Slums, Item Shop, near barrels
        <br><li type="disc">Slums, Item Shop, near three barrels</ul>


<p><u>Fletz (7)</u>
    <br><ul><li type="disc">On roof of small house below the church
        <br><li type="disc">Weapon shop, near crossbow/sword to left
        <br><li type="disc">Jewelry shop, in colored gems
        <br><li type="disc">Item shop, top-middle area
        <br><li type="disc">Box in dark alley next to bar, far right corner
        <br><li type="disc">Castle, front hall, statue on right
        <br><li type="disc">Castle, room at base of right tower</ul>

<p><u>Donau (2)</u>
    <br><ul><li type="disc">In second small pool at entrance
        <br><li type="disc">Mayor's kitchen, in sink</ul>

<p><u>Home of Gigantos (1)</u>
    <br><ul><li type="disc">Right candlestick near stairs to treasure room</ul>

<p><u>Queen Fury (2)</u>
    <br><ul><li type="disc">Lamp next to Kongol's first location
        <br><li type="disc">On deck, room at right, in chest</ul>

<p><u>Lidiera (1)</u>
    <br><ul><li type="disc">Talkative woman's home, upper right room (need to enter from top ladders)</ul>

<p><u>Fueno (2)</u>
    <br><ul><li type="disc">Clinic, in painting
        <br><li type="disc">Inn, understairs</ul>

<p><u>Furni (2)</u>
    <br><ul><li type="disc">House on right (next to item shop), 2nd floor, in barrel
        <br><li type="disc">Teo's house, behind locked gate, in metal basin (pull the string next to the picture to open the gate)</ul>

<p><u>Wingly Forest Town (2)</u>
    <br><ul><li type="disc">Guaraha's room, back right
        <br><li type="disc">Resting room, pillar</ul>

<p><u>Neet (1)</u> (NOTE: You must have your entire party (not just Rose) with you to find this Stardust.  To reach Neet, go east in the Evergreen Forest)
    <br><ul><li type="disc">Lamp post at entrance</ul>

<p><u>Deningrad (5)</u> (NOTE: These can only be found after the Divine Dragon attacks Deningrad)
    <br><ul><li type="disc">Inn, second floor
        <br><li type="disc">Item/Weapon Shop
        <br><li type="disc">Item/Weapon Shop
        <br><li type="disc">crystal Palace, second floor, path to left at dead-end
        <br><li type="disc">Crystal Palace, third floor, next to Luanna</ul>

<p><u>Vellweb (1)</u>
    <br><ul><li type="disc">Dragoon Tower, top center chamber, back of room</ul>


<p><u>Ulara (3)</u>
    <br><ul><li type="disc">Carniverous plant (by Miata)
        <br><li type="disc">Waterfall behind rosebed
        <br><li type="disc">Weapon Shop, near pots</ul>


<p><u>Rogue (1)</u>
    <br><ul><li type="disc">Past Martel, same room that contains the box of 100 Gold</ul>

<p><u>Martel's Locations</u>
    <br>Bale (first meeting)
    <br>Fletz (where you can actually trade items)
    <br>Deningrad
    <br>Rogue (where she lives)

<p><u>Martel's Prizes</u>
    <br>Ten Stardust - Physical Ring
    <br>Twenty Stardust - Amulet
    <br>Thirty Stardust - Wargod's Sash
    <br>Fourty Stardust - Rainbow Earrings
    <br>Fifty Stardust - Vanishing Stone, use it in Flanvel to fight Faust
    <br>Defeating Faust - Phantom Shield
</font>