<h1 id="title"><u>Stardust Picture Guide</u></h1>

<p><font size="2">Here is a complete list of all the Stardust in Endiness, now with pictures to show you the precise locations of each.  Those marked with an "--&gt;" indicate steps in the process of getting the Stardust.  Stardust is needed to help Martel's daughter, Lil, recover from her illness.  There are fifty Stardusts in all, and after every ten you get a really cool prize from Martel.  Even if you forget one, you can always go back and get it anytime before you land on the Divine Tree on the fourth disc.

<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="25%">
        <tr>
            <td width="100%" colspan="1">
<p align="center"><font size="4">SELES (1)</font>
    </td></tr>
    <tr><td><center><img src="/stardust/stardust1.jpg"></tr></td>
    <tr><td width="100%"><font size="2"><p align="center">(1) Gravestone in front of tree</font></td></tr>
    </table>

<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="3">
<p align="center"><font size="4">BALE (6)</font>
    </td></tr>

    <tr>
        <td><center><img src="/stardust/stardust2a.jpg"></td>
        <td><center><img src="/stardust/stardust2b.jpg"></td>
        <td><center><img src="/stardust/stardust2c.jpg"></td>
    </tr>

    <tr>
        <td width="25%"><font size="2"><p align="center">(2a) Start here in the castle, and go down the ladder --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(2b) Go down the second ladder --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(2c) Turn wheel to open the gate to the boat --&gt;</font></td>
    </tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust2d.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust2e.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust2f.jpg"></td>
    </tr>

    <tr>
        <td width="25%"><font size="2"><p align="center">(2d) Go to the inn and buy a bottle of spirits --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(2e) Find Dran.  He's under the city fountain --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(2f) Give Dran the bottle of Spirits --&gt;</font></td>
    </tr>

    <tr>
        <td><center><img src="/stardust/stardust2g.jpg"></td>
        <td><center><img src="/stardust/stardust2h.jpg"></td>
        <td><center><img src="/stardust/stardust2i.jpg"></td>
    </tr>

    <tr>
        <td width="25%"><font size="2"><p align="center">(2g) After he moves, enter the tunnel --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(2h) At this intersection, exit to the upper left --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(2i) Get in the boat --&gt;</font></td>
    </tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust2j.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust2k.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust3.jpg"></td>
    </tr>

    <tr>
        <td width="25%"><font size="2"><p align="center">(2j) When prompted, get off the boat and enter the door--&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(2k) The Stardust is in the back corner</font></td>
    <td width="25%"><font size="2"><p align="center">(3) Castle, third floor, top-left room</font></td>
    </tr>


    <tr>
        <td><center><img src="/stardust/stardust4.jpg"></td>
        <td><center><img src="/stardust/stardust5.jpg"></td>
        <td><center><img src="/stardust/stardust6.jpg"></td>
    </tr>

    <tr><td><font size="2"><p align="center">(4) Castle, first floor, fireplace</font></td>
    <td><font size="2"><p align="center">(5) Weapon Shop, near spears </font></td>
    <td><font size="2"><p align="center">(6) Well near Lavitz's house</font></td></tr>



    <tr>
        <td width="25%"><center><img src="/stardust/stardust7.jpg"></td>
        <td></td>
    </tr>

    <tr><td width="25%"><font size="2"><p align="center">(7) Lavitz's kitchen</font></td>
<td></td>
</tr>


</table>

<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr>
            <td width="100%" colspan="2">
<p align="center"><font size="4">HOAX (2)</font>
    </td></tr>
    <tr><td width="50%"><center><img src="/stardust/stardust8.jpg"></td>
        <td width="50%"><center><img src="/stardust/stardust9.jpg"></td>

    <tr><td width="50%"><font size="2"><p align="center">(8) Conference room, bottom left</font></td>
    <td width="50%"><font size="2"><p align="center">(9) House in upper left, the fireplace</font></td>

    </table>

<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="25%">
        <tr>
            <td width="100%" colspan="1">
<p align="center"><font size="4">MARSHLANDS (1)</font>
    </td></tr>
    <tr><td width="100%"><center><img src="/stardust/stardust10.jpg"></td>
    <tr><td width="100%"><font size="2"><p align="center">(10) Stronghold's Fireplace</font></td>
    </table>

<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="3">
<p align="center"><font size="4">LOHAN (4)</font>
    </td></tr>


    <tr>
        <td width="25%"><center><img src="/stardust/stardust11.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust12.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust13.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(11) Pot near entrance</font></td>
    <td width="25%"><font size="2"><p align="center">(12) Cargo near arena entrance</font></td>
    <td width="25%"><font size="2"><p align="center">(13) Dabas' shop, near armor</font></td>
    </tr>


    <tr>
        <td width="25%"><center><img src="/stardust/stardust14a.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust14b.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust14c.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(14a)Start by entering this door--&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(14b) Go up the ladder.  When prompted by the "!", press "X"--&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(14c) Go down the ladder and look into the fireplace</font></td>
    </td>
    </tr>

    </table>





<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="3">
<p align="center"><font size="4">KAZAZ (6)</font>
    </td>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust15.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust16.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust17.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(15) Entrance, 1st room on left, in barrels</font></td>
    <td width="25%"><font size="2"><p align="center">(16) Entrance, 1st room on right, up ladder, near shields</font></td>
    <td width="25%"><font size="2"><p align="center">(17) Weapon shop, near shopkeeper's counter</font></td>
    </tr>


    <tr>
        <td width="25%"><center><img src="/stardust/stardust18.jpg"></td>
        <td><center><img src="/stardust/stardust19.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust20.jpg"></td>
        </td>
    </tr>

    <tr>
        <td width="25%"><font size="2"><p align="center">(18) Slums, top room, bookshelf</font></td>
    <td width="25%"><font size="2"><p align="center">(19) Slums, Item Shop, near barrels</font></td>
    <td width="25%"><font size="2"><p align="center">(20) Slums, Item Shop, near three barrels</font></td>
    </tr>

    </table>




<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="4">
<p align="center"><font size="4">FLETZ (7)</font>
    </td>


    <tr>
        <td width="25%"><center><img src="/stardust/stardust21.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust22.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust23.jpg"></td>
    </tr>

    <tr>
        <td width="25%"><font size="2"><p align="center">(21) On roof of small house below the church</font></td>
    <td width="25%"><font size="2"><p align="center">(22) Weapon shop, near crossbow/sword to left</font></td>
    <td width="25%"><font size="2"><p align="center">(23) Jewelry shop, in colored gems</font></td>
    </tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust24.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust25.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust26.jpg"></td>
    </tr>

    <tr>
        <td><font size="2"><p align="center">(24) Item shop, top-middle area</font></td>
    <td><font size="2"><p align="center">(25) Box in dark alley next to bar, far right corner</font></td>
    <td><font size="2"><p align="center">(26) Castle, front hall, statue on right tower</font></td>
    </tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust27.jpg"></td>
        <td></td>
    </tr>

    <tr>
        <td width="25%"><font size="2"><p align="center">(27) Castle, room at base of right tower</font></td>
<td></td>
</tr>

</table>




<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr>
            <td width="100%" colspan="4">
<p align="center"><font size="4">DONAU (2)</font>
    </tr></td>

    <tr>
        <td width="50%"><center><img src="/stardust/stardust28.jpg"></td>
        <td width="50%"><center><img src="/stardust/stardust29.jpg"></td>
    </tr>

    <tr>
        <td width="50%"><font size="2"><p align="center">(28) Second small pool at entrance</font></td>
    <td width="50%"><font size="2"><p align="center">(29) Mayor's kitchen, in sink</font></td>
    </tr>

    </table>

<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="25%">
        <tr>
            <td width="100%" colspan="1">
<p align="center"><font size="4">LAND OF GIGANTOS (1)</font>
    </td></tr>

    <tr>
        <td width="100%"><center><img src="/stardust/stardust30.jpg"></td>
    </tr>

    <tr><td width="100%"><font size="2"><p align="center">(30) Right candlestick near stairs to treasure room</font></td>
    </tr>
    </table>


<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr>
            <td width="100%" colspan="2">
<p align="center"><font size="4">QUEEN FURY (2)</font>
    </tr></td>

    <tr>
        <td width="50%"><center><img src="/stardust/stardust31.jpg"></td>
        <td width="50%"><center><img src="/stardust/stardust32.jpg"></td>
    </tr>

    <tr>
        <td width="50%"><font size="2"><p align="center">(31) Lamp next to Kongol's first location</font></td>
    <td width="50%"><font size="2"><p align="center">(32) On deck, room at right, in chest</font></td>
    </tr>
    </table>




<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="3">
<p align="center"><font size="4">LIDIERA (1)</font>
    </td></tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust33a.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust33b.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust33c.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(33a) Start by climbing this ladder --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(33b) Next, climb down this ladder --&gt;</font></td>
    <td width="25%"><font size="2"><p align="center">(33c) The Stardust is in the corner </font></td>
    </tr>
    </table>


<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr>
            <td width="100%" colspan="2">
<p align="center"><font size="4">FUENO (2)</font>
    </tr></td>

    <tr>
        <td width="50%"><center><img src="/stardust/stardust34.jpg"></td>
        <td width="50%"><center><img src="/stardust/stardust35.jpg"></td>
    </tr>

    <tr>
        <td width="50%"><font size="2"><p align="center">(34) Clinic, in painting</font></td>
    <td width="50%"><font size="2"><p align="center">(35) Inn, understairs</font></td>
    </tr>
    </table>



<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="3">
<p align="center"><font size="4">FURNI (2)</font>
    </td></tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust36.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust37a.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust37b.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(36) House on right (next to item shop), 2nd floor, in barrel</font></td>
    <td width="25%"><font size="2"><p align="center">(37a) In Teo's house, pull this switch, then use slide</font></td>
    <td width="25%"><font size="2"><p align="center">(37b) The Stardust is in the metal basin </font></td>
    </tr>
    </table>



<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="25%">
        <tr>
            <td width="100%" colspan="1">
<p align="center"><font size="4">NEET (1)</font>
    </td></tr>

    <tr>
        <td width="100%"><center><img src="/stardust/stardust38.jpg"></td>
    </tr>


    <tr>
        <td width="100%"><font size="2"><p align="center">(38)Lamp post at entrance</font></td>
    </tr>
    </table>




<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr>
            <td width="100%" colspan="2">
<p align="center"><font size="4">WINGLY FOREST (2)</font>
    </td></tr>

    <tr>
        <td width="50%"><center><img src="/stardust/stardust39.jpg"></td>
        <td width="50%"><center><img src="/stardust/stardust40.jpg"></td>
    </tr>


    <tr>
        <td width="50%"><font size="2"><p align="center">(39) Guaraha's room, back right</td>
    <td width="50%"><font size="2"><p align="center">(40) Resting room, pillar</font></td>
    </tr>
    </table>

<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="3">
<p align="center"><font size="4">DENINGRAD (5)</font>
    </td></tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust41.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust42.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust43.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(41) Item/Weapon Shop</font></td>
    <td width="25%"><font size="2"><p align="center">(42) Item/Weapon Shop (again)</font></td>
    <td width="25%"><font size="2"><p align="center">(43) Inn, second floor</font></td>
    </tr>


    <tr>
        <td width="25%"><center><img src="/stardust/stardust44.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust45.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(44) Crystal Palace, second floor, path to left at dead-end</font></td>
    <td width="25%"><font size="2"><p align="center">(45) Crystal Palace, third floor, next to Luanna</font></td>
    </tr>

    </table>



<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="50%">
        <tr>
            <td width="100%" colspan="2">
<p align="center"><font size="4">VELLWEB (1)</font>
    </tr></td>

    <tr>
        <td width="50%"><center><img src="/stardust/stardust46a.jpg"></td>
        <td width="50%"><center><img src="/stardust/stardust46b.jpg"></td>
    </tr>

    <tr>
        <td width="50%"><font size="2"><p align="center">(46a) Climb stairs above entrance, enter this room</font></td>
    <td width="50%"><font size="2"><p align="center">(46b) Stardust is in back corner</font></td>
    </tr>
    </table>



<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr>
            <td width="100%" colspan="3">
<p align="center"><font size="4">ULARA (3)</font>
    </td></tr>

    <tr>
        <td width="25%"><center><img src="/stardust/stardust47.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust48.jpg"></td>
        <td width="25%"><center><img src="/stardust/stardust49.jpg"></td>
    </tr>


    <tr>
        <td width="25%"><font size="2"><p align="center">(47) Carniverous Plants (by Miata)</font></td>
    <td width="25%"><font size="2"><p align="center">(48) Waterfall behind rosebed</font></td>
    <td width="25%"><font size="2"><p align="center">(49) Weapon Shop, in pot</font></td>
    </tr>


    </table>


<p><p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="25%">
        <tr>
            <td width="100%" colspan="1">
<p align="center"><font size="4">ROGUE (1)</font>
    </td></tr>

    <tr>
        <td width="100%"><center><img src="/stardust/stardust50.jpg"></td>
    </tr>


    <tr>
        <td width="100%"><font size="2"><p align="center">(50)Past Martel, near the box with 100 Gold</font></td>
    </tr>
    </table>

<p><u>Martel's Locations</u>
    <br>Bale
    <br>Fletz
    <br>Deningrad
    <br>Rogue (where she lives)

<p><u>Martel's Prizes</u>
    <br>Ten Stardust - Physical Ring
    <br>Twenty Stardust - Amulet
    <br>Thirty Stardust - Wargod's Sash
    <br>Fourty Stardust - Rainbow Earrings
    <br>Fifty Stardust - Vanishing Stone, use it in Flanvel to fight Faust
    <br>Defeating Faust - Phantom Shield

</font>