<h1 id="title"><u>Stat and Team Evaluation</u></h1>

<p><font size="2">Ok, before I get started, I will make one thing clear:  YOU choose the party that YOU like the best.  I've written this here as a "personal evaluation".  This does not mean that you should choose the party that I thought was the best, or anything like that.  Use this as only an "outline", not as a strict guide.  Choose the party YOU feel most comfortable with.

<p>With that said, let me explain what this is all about.  When you have all seven characters (Dart, Rose, Haschel, Albert, Meru, Kongol, Miranda) there are a total of 15 different parties you can choose from.  What I have done is I've rated all 15 parties based on their "Specific Powers" and HP.

<p>When you go into the Menu Screen, there is a sub-menu called "Status".  Here in the status menu, you get to see different categories of all the characters, whether active or not.  There are two status menus:

<p>The first status menu is the "Overall Power" menu.  The categories are:
<p>Fighter Name and Level
    <br>D'LV: Dragoon Level and current SP
    <br>HP: Current/Maximum Hit Points
    <br>MP: Current/Maximum Magic Points
    <br>EXP: Current Experience Points/Experience Points needed to gain a level

<p>The second status menu is "Specific Power" menu.  The categories are:
<p>AT: Physical Attack Power
    <br>DF: Physical Defense Power
    <br>MAT: Magical/Item Attack Power (determines how strong an Attacking Item is when used by a character)
    <br>MDF: Magical/Item Defense Power
    <br>Speed: Speed (determines attacking order; the higher the speed, the more likely to attack first)
    <br>A-Hit: Attack success percentage
    <br>M-Hit: Magic/Item success percentage
    <br>A-AV: Attack evasion percentage
    <br>M-AV: Magic/Item evasion percentage

<p>Body, Weapon, Total, and Dragoon:  This calculates how powerful each of the above categories is.  First is "Body", which is simply how strong your character's body is.  Next is "Weapon".  This is the power of the weapon, armor, and accessory equipped to that character.  "Total" is the sum of Body + Weapon.  "Dragoon" refers to how much the category is increased when in Dragoon mode (this only applies to AT, DF, MAT, and MDF, and only when the character has the ability to turn into a Dragoon).  For example, if "170%" is next to the AT under Dragoon, then the AT of that individual is increased 170%, or 1.7 times.  This means that if your regular total AT is 150, then in Dragoon Mode the AT will be 255. (1.7 x 150 = 105, 105 + 150 = 255).

<p>The other two menus in the Status sub-menu are the Equipped Menu (shows what weapon, armor, helmet, foot armor, and accessory are equipped) and the Magic Menu (shows what magic that character can cast in Dragoon Mode and how much MP is consumed after casting it).

<p>All right then, let me explain how I calculated the team evaluation.  First off, I did this while on the Moon.  Dart was at level 54 and everyone else was from 46-50.  I equipped to Kongol his first weapon, armor, helmet, foot armor, and accessory.  Then I looked at what was available to everyone else at roughly the same time (in the Home of the Gigantos, where Kongol joins your party) and equipped him or her appropriately.  Everyone had a bracelet on.  The reason I choose Kongol is because he is the "last" team member you will get (when you recruit Miranda, Shana's stats become Miranda's stats, so I didn't count her).

<p>After this was done, I wrote down the 15 different parties available and rated the HP and everything in the "Specific Powers" menu on a scale of 1-5.

<p>1: Poor, the worst of the worst
    <br>2: Ok, could perhaps be better though...
    <br>3: Average, normal
    <br>4: Pretty good
    <br>5: Excellent, the best of the best

<p>Here are the 15 parties available and their evaluation.  Remember, Dart is always in the party.  Also, this is ONLY AN EVALUATION OF MY OPINION!  Choose the party YOU want, not what I say.

<hr="5">


<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM ONE: DART, ALBERT, KONGOL</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">This is my favorite team, mainly because of the brute strength, high HP, and incredible defense they possess (combined, this is the highest out of all the teams).  Keep in mind, though, that this is the slowest team available, and magic-wise they aren't very powerful overall (combined, they have the lowest MAT and MDF out of all the parties).  Their A-AV and M-AV is 0% all the way through, so they're more likely to get hit than any of the other teams.  However, these faults can always be cured with equipped the right accessories (like the Bandit's Ring, which increases speed).  Overall, this is a very good team when you need strength to win.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM TWO: DART, ALBERT, ROSE</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">This is a very popular team, and I can see why.  They're average or above average in every category, making it a well rounded team no matter what kind of battle they are in.  However, Rose tends to have much less HP than Albert or Dart, but the Dragon Helmet, which adds 150% HP, can solve this problem.</font></td></tr></table>

<hr="5">


<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM THREE: DART, ALBERT, MERU</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Meru has the lowest HP out of everyone, and doesn't have incredible strength or defense either.  However, with her being the fastest character there is, she's more likely to attack two or three times before Dart or Albert can attack once, which makes up for her lack in strength.  Their A-Hit percentage is the highest, so you'll never miss your enemy, and Meru also has a strong Magic attack/defense, so you shouldn't worry about her too much when you're fighting a magic-using enemy.  The low HP can always be fixed with the Dragon Helmet.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM FOUR: DART, ALBERT, MIRANDA</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Miranda is similar to Meru:  She doesn't have a lot of strength (she's the only character without additions, making her attacks the weakest out of everyone) and defense, but she does have the strongest magic attack/magic defense on the entire team, and her magic heals incredibly.  She's fairly fast, but not as fast as Meru.  Her HP is a bit higher than Meru's though, but if you want more this can be solved with the Dragon Helmet.  This team also has the highest A-Hit out of everyone.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM FIVE: DART, ALBERT, HASCHEL</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">A very good overall team.  Fairly quick, good HP, AT, DF, MAT, and MDF.  The problem with this team, though, lies in their Additions.  Personally, I think Albert and Haschel have the hardest Additions to master, so only people who have experience with these two should use this team.  Though they have a high A-AV, they're most likely to get hit by magic attacks.</font></td></tr></table>

<hr="5">



<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM SIX: DART, KONGOL, ROSE</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">A fairly good overall team.  Kongol makes up for Rose's low HP, and Rose makes up for Kongol's low MAT and MDF.  A bit on the slow side though, but as I've said before, these problems can be solved with equipping the right accessories.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM SEVEN: DART, KONGOL, MERU</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>



    <tr><td colspan="2"><p align="center"><font size="2">Very similar to Team Six, except a bit faster with higher MAT and MDF, and lower DF.  Meru will be attacking a lot on this team, perhaps 3 or 4 times to Kongol's one.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM EIGHT: DART, KONGOL, MIRANDA</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>

    <tr><td colspan="2"><p align="center"><font size="2">Miranda's lack in strength is made up by Kongol's superior attacking power, and Kongol's  low MAT and MDF is made up by Miranda's excellent MAT and MDF.  Not as fast as Team Seven though, but a higher A-AV and A-Hit.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM NINE: DART, KONGOL, HASCHEL</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Pretty good overall, but leans towards the physical strength side, so if you tend to be better at physical strength, use this team.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM TEN: DART, ROSE, MERU</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Combined, this team has the lowest HP out of all the teams, and it's not the best of the physical category.  However, it has very good MAT and MDF, good speed, and high A-AV and M-AV.  If you like to use magic over physical strength, this is a good team to use.  Equipping the Dragon's Helmet on Meru and Rose can make up for the low HP.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM ELEVEN: DART, ROSE, MIRANDA</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>

    <tr><td colspan="2"><p align="center"><font size="2">Very similar to Team Ten, only a bit slower, but a higher HP overall.    This team is good if you don't want to bother with healing items, since the magic from both girls is strong and therefore it heals quite a bit.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM TWELVE: DART, ROSE, HASCHEL</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Overall, a very average team, great for any battle.  By adding the right accessories this team could be very powerful.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM THIRTEEN: DART, MERU, MIRANDA</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">1</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Basically the opposite of Team One.  The weakest in HP, AT, and DF, but the best in MAT, MDF, and Speed.  A nice team if you want to use a lot of magic.  Also, their speed (this is the fastest available team) can rake in some hefty damage in attacking by going multiple times.</font></td></tr></table>

<hr="5">

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM FOURTEEN: DART, MERU, HASCHEL</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Not the best overall team, but fairly quick to the punch, and anything lacking can be made up with accessories.  Overall, Meru's and Haschel's Additions are tricky, so make sure you gain some experience with them.</font></td></tr></table>

<hr="5">


<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>TEAM FIFTEEN: DART, MIRANDA, HASCHEL</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Power</font></b></td>
    <td><p align="center"><font size="3">Score</font></font></td></tr>
    <tr><td><p align="center"><font size="2">HP</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">AT</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">DF</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MAT</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">MDF</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">Speed</font></b></td>
    <td><p align="center"><font size="2">2</font></font></td></tr>
    <tr><td><p align="center"><font size="3">A-Hit</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-Hit</font></b></td>
    <td><p align="center"><font size="2">4</font></font></td></tr>
    <tr><td><p align="center"><font size="2">A-AV</font></b></td>
    <td><p align="center"><font size="2">3</font></font></td></tr>
    <tr><td><p align="center"><font size="2">M-AV</font></b></td>
    <td><p align="center"><font size="2">5</font></font></td></tr>


    <tr><td colspan="2"><p align="center"><font size="2">Rather similar to Team Fourteen, only a bit slower, but more powerful MAT and MDF overall.  Good if you like to use magic and physical attacks.</font></td></tr></table>