<h1 id="title">Japanese Translations</h1>
<p>Ever wonder what the Japanese words for this game are? Look no further! After coming across a walkthrough for the
    Japanese version of the game, I made this list of the literal translations of the Japanese words and how they're
    interpreted into the English version. Plese keep in mind that I couldn't find out what ALL the words meant. If you
    do know or have an idea, please let me know!</p>
<p>Yes, yes, I KNOW the Japanese language does not have an
    "L" in it, but these are the literal translations fixed to pronounce like we would in the English Language. That is,
    if you were to translate the language and prounounce it phonetically, it would SOUND that way. For instance, if you
    were to translate the Japanese Kanji for "Serdio", it would sound more like "Seldio" or (Se-ru-dio"), with the
    tongue hitting the top of the mouth so it sounds like an "L" rather than an "R", but when it was put into the
    English version of the game, they changed it to "Serdio"....does that make any sense? o.O Probably not, but that's
    what happens when I try to explain things...</p>
<p>Thanks to Halloweengurl for giving me some more words and
    translations!</p>

<table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="70%">
    <tr><td colspan="2"><p align="center"><b>TRANSLATIONS</b></td></tr>
    <tr><td><p align="center"><p align="center">Japanese Word</td>
        <td><p align="center">English Word</td></tr>

    <tr><td><p align="center">Seldio</td>
        <td><p align="center">Serdio</td></tr>
    <tr><td><p align="center">Celes</td>
        <td><p align="center">Seles</td></tr>
    <tr><td><p align="center">Helraina</td>
        <td><p align="center">Hellena</td></tr>
    <tr><td><p align="center">Grassland</td>
        <td><p align="center">Prairie</td></tr>
    <tr><td><p align="center">Versil</td>
        <td><p align="center">Basil</td></tr>
    <tr><td><p align="center">Bel</td>
        <td><p align="center">Bale</td></tr>
    <tr><td><p align="center">Inderus</td>
        <td><p align="center">Indels</td></tr>
    <tr><td><p align="center">Hocus</td>
        <td><p align="center">Hoax</td></tr>
    <tr><td><p align="center">Humid Terrain</td>
        <td><p align="center">Marshlands</td></tr>
    <tr><td><p align="center">Wild Volcano</td>
        <td><p align="center">Volcano Villude</td></tr>
    <tr><td><p align="center">Loan</td>
        <td><p align="center">Lohan</td></tr>
    <tr><td><p align="center">Sharlie</td>
        <td><p align="center">Shirley</td></tr>
    <tr><td><p align="center">Cathas</td>
        <td><p align="center">Kazas</td></tr>
    <tr><td><p align="center">Bannauto </td>
        <td><p align="center">Burnout</td></tr>
    <tr><td><p align="center">Dispel Evil Perfume</td>
        <td><p align="center">Charm Potion</td></tr>
    <tr><td><p align="center">Green tooth dragon</td>
        <td><p align="center">Green Tusked Dragon</td></tr>
    <tr><td><p align="center">Ravits</td>
        <td><p align="center">Lavitz</td></tr>
    <tr><td><p align="center">Furyugel</td>
        <td><p align="center">Fruegal</td></tr>
    <tr><td><p align="center">Dark Devil/Demon</td>
        <td><p align="center">Black Monster</td></tr>
    <tr><td><p align="center">Body Clear</td>
        <td><p align="center">Body Purifier</td></tr>
    <tr><td><p align="center">Uroboros</td>
        <td><p align="center">Urobolus</td></tr>
    <tr><td><p align="center">Saret</td>
        <td><p align="center">Sallet</td></tr>
    <tr><td><p align="center">War of Dragoon</td>
        <td><p align="center">Dragon Campaign</td></tr>
    <tr><td><p align="center">Heal Blitz</td>
        <td><p align="center">Healing Breeze</td></tr>
    <tr><td><p align="center">Doyle</td>
        <td><p align="center">Doel</td></tr>
    <tr><td><p align="center">Sandra</td>
        <td><p align="center">Sandora</td></tr>
    <tr><td><p align="center">Additional</td>
        <td><p align="center">Additions</td></tr>
    <tr><td><p align="center">San Rhapsody</td>
        <td><p align="center">Sun Rhapsody</td></tr>
    <tr><td><p align="center">Mind Clear</td>
        <td><p align="center">Mind Purifier</td></tr>
    <tr><td><p align="center">Pika Pika Bag</td>
        <td><p align="center">Dabas' Magic Bag</td></tr>
    <tr><td><p align="center">Stone Grain</td>
        <td><p align="center">Pellet</td></tr>
    <tr><td><p align="center">Winged</td>
        <td><p align="center">Wingly</td></tr>
    <tr><td><p align="center">Rok Raken</td>
        <td><p align="center">Piton the Phoenix</td></tr>
    <tr><td><p align="center">Graham</td>
        <td><p align="center">Greham</td></td></tr>
    <tr><td><p align="center">Dragony Grass</td>
        <td><p align="center">Dragoni Plant</td></tr>
    <tr><td><p align="center">Dragon's Lair</td>
        <td><p align="center">Dragon's Nest</td></tr>
    <tr><td><p align="center">Demon's Tiltat</td>
        <td><p align="center">Demon's Stiletto</td></tr>
    <tr><td><p align="center">Harsou</td>
        <td><p align="center">Haschel</td></tr>
    <tr><td><p align="center">Golgaga</td>
        <td><p align="center">Gorgaga</td></tr>
    <tr><td><p align="center">Serfis</td>
        <td><p align="center">Serfius</td></tr>
    <tr><td><p align="center">Dadon</td>
        <td><p align="center">Danton</td></tr>
    <tr><td><p align="center">Jango</td>
        <td><p align="center">Jiango</td></tr>
    <tr><td><p align="center">100 Ghost at Night</td><td><p align="center">????</td></tr>
    <tr><td><p align="center">Thunder Ball</td>
        <td><p align="center">Thunderbolt</td></tr>
    <tr><td><p align="center">Smell Bag</td>
        <td><p align="center">Sachet</td></tr>
    <tr><td><p align="center">Gafdas</td>
        <td><p align="center">Guftas</td></tr>
    <tr><td><p align="center">Dark Mantle Man</td>
        <td><p align="center">Hooded Man</td></tr>
    <tr><td><p align="center">Attack Jade</td>
        <td><p align="center">Attack Ball</td></tr>
    <tr><td><p align="center">Twister Grab</td>
        <td><p align="center">Rave Twister</td></tr>
    <tr><td><p align="center">Fighter's Guidance</td>
        <td><p align="center">Wargod Calling</td></tr>
    <tr><td><p align="center">Bobo</td>
        <td><p align="center">Popo</td></tr>
    <tr><td><p align="center">Deus</td>
        <td><p align="center">Diaz</td></tr>
    <tr><td><p align="center">Purple Electric Dragoon Spirit</td>
        <td><p align="center">Violet Dragoon Spirit</td></tr>
    <tr><td><p align="center">Silver Conspiracy</td>
        <td><p align="center">Plantinum Shadow</td></tr>
    <tr><td><p align="center">Fletch</td>
        <td><p align="center">Fletz</td></tr>
    <tr><td><p align="center">Deserted Land</td>
        <td><p align="center">Barrens</td></tr>
    <tr><td><p align="center">Gravity Breakdown Valley</td>
        <td><p align="center">Valley of Corrupted Gravity</td></tr>
    <tr><td><p align="center">Queen Philly</td>
        <td><p align="center">Queen Fury</td></tr>
    <tr><td><p align="center">Ridiela</td>
        <td><p align="center">Lideria</td></tr>
    <tr><td><p align="center">Phino</td>
        <td><p align="center">Fueno</td></tr>
    <tr><td><p align="center">Sapphire Brooch</td>
        <td><p align="center">Sapphire Pin</td></tr>
    <tr><td><p align="center">Emerald Pierce</td>
        <td><p align="center">Emerald Earring</td></tr>
    <tr><td><p align="center">Brachina Necklace</td>
        <td><p align="center">Platinum Collar</td></tr>
    <tr><td><p align="center">Caffie</td>
        <td><p align="center">Kaffie</td></tr>
    <tr><td><p align="center">Emil</td>
        <td><p align="center">Emille</td></tr>
    <tr><td><p align="center">Festa</td>
        <td><p align="center">Fester</td></tr>
    <tr><td><p align="center">Nero</td>
        <td><p align="center">Nello</td></tr>
    <tr><td><p align="center">Setting Moon</td>
        <td><p align="center">Moon that Never Sets (ironic, nay?) </td></tr>
    <tr><td><p align="center">Mattel</td>
        <td><p align="center">Martel</td></tr>
    <tr><td><p align="center">Fighter's Costume</td>
        <td><p align="center">Disciple Vest</td></tr>
    <tr><td><p align="center">Fog Dispel</td>
        <td><p align="center">Total Vanishing</td></tr>
    <tr><td><p align="center">Gerihhi</td>
        <td><p align="center">Gerich</td></tr>
    <tr><td><p align="center">Rainbow Twister</td>
        <td><p align="center">???</td></tr>
    <tr><td><p align="center">Mir Sezo</td>
        <td><p align="center">Mille Seseau</td></tr>
    <tr><td><p align="center">Moon Selenide</td>
        <td><p align="center">Moon Serenade</td></tr>
    <tr><td><p align="center">Varaz</td>
        <td><p align="center">Virage</td></tr>
    <tr><td><p align="center">Rose Storm</td>
        <td><p align="center">Flower Storm</td></tr>
    <tr><td><p align="center">Dragon and Tree</td>
        <td><p align="center">The martial art style Haschel uses</td></tr>
    <tr><td><p align="center">Leenus</td>
        <td><p align="center">Lenus</td></tr>
    <tr><td><p align="center">Tim</td>
        <td><p align="center">Kayla (do NOT ask me if this is a gender change, because I don't know)</td></tr>
    <tr><td><p align="center">Puyara</td>
        <td><p align="center">Puler</td></tr>
    <tr><td><p align="center">Self Magic Bell</td>
        <td><p align="center">Magic Ego Bell</td></tr>
    <tr><td><p align="center">Lufia</td>
        <td><p align="center">Louvia</td></tr>
    <tr><td><p align="center">Jiku</td><td><p align="center">Zieg</td></tr>
    <tr><td><p align="center">Gust Magma</td>
        <td><p align="center">Gushing Magma</td></tr>
    <tr><td><p align="center">Recovery Jade</td><td><p align="center">Recovery Ball</td></tr>
    <tr><td><p align="center">Sea Wave Dragon</td>
        <td><p align="center">Blue Sea Dragon</td></tr>
    <tr><td><p align="center">Regal</td>
        <td><p align="center">Regole</td></tr>
    <tr><td><p align="center">Giant's City</td>
        <td><p align="center">Land of Gigantos</td></tr>
    <tr><td><p align="center">Petrify Clear</td>
        <td><p align="center">Depetrifier</td></tr>
    <tr><td><p align="center">Farni</td>
        <td><p align="center">Furni</td></tr>
    <tr><td><p align="center">Coniferous Forest</td>
        <td><p align="center">Evergreen Forest</td></tr>
    <tr><td><p align="center">Mt. Dead Dragon</td>
        <td><p align="center">Mt. Mortal Dragon</td></tr>
    <tr><td><p align="center">Cashua</td><td><p align="center">Kashua</td></tr>
    <tr><td><p align="center">Fulanbel</td>
        <td><p align="center">Flanvel</td></tr>
    <tr><td><p align="center">Belweb</td>
        <td><p align="center">Velweb</td></tr>
    <tr><td><p align="center">Kamui</td>
        <td><p align="center">Kamuy</td></tr>
    <tr><td><p align="center">Indigo</td>
        <td><p align="center">Windago</td></tr>
    <tr><td><p align="center">Petrify Protector</td>
        <td><p align="center">Destone Amulet</td></tr>
    <tr><td><p align="center">Loanne</td>
        <td><p align="center">Luanna</td></tr>
    <tr><td><p align="center">Yuzin</td>
        <td><p align="center">Guaraha</td></tr>
    <tr><td><p align="center">Staff of Dragon Seal</td>
        <td><p align="center">Dragon Block Staff</td></tr>
    <tr><td><p align="center">Void</td>
        <td><p align="center">Non Elemental</td></tr>
    <tr><td><p align="center">Grand Jelly</td>
        <td><p align="center">Grand Jewel</td></tr>
    <tr><td><p align="center">Dragon King</td>
        <td><p align="center">Divine Dragon</td></tr>
    <tr><td><p align="center">Inatsumakoreda</td>
        <td><p align="center">Flash Hall</td></tr>
    <tr><td><p align="center">Dragon Slayer Sword</td>
        <td><p align="center">Dragon Buster</td></tr>
    <tr><td><p align="center">Badel</td>
        <td><p align="center">Bardel</td></tr>
    <tr><td><p align="center">Red Bird Feather</td>
        <td><p align="center">Phoenix Plume</td></tr>
    <tr><td><p align="center">Bag Nag</td>
        <td><p align="center">Brass Knuckle</td></tr>
    <tr><td><p align="center">Mind Clash</td>
        <td><p align="center">Mind Crush</td></tr>
    <tr><td><p align="center">Fulanbeluzu</td>
        <td><p align="center">Flamberge</td></tr>
    <tr><td><p align="center">Magic Elder Fausta</td>
        <td><p align="center">Faust</td></tr>
    <tr><td><p align="center">Dispel Illusion Stone</td>
        <td><p align="center">Vanishing Stone</td></tr>
    <tr><td><p align="center">Banging Wave</td>
        <td><p align="center">Gushing Magma</td></tr>
    <tr><td><p align="center">Merv Frama</td>
        <td><p align="center">Melbu Frahma</td></tr>
    <tr><td><p align="center">Fate and Spirit</td>
        <td><p align="center">Fate and Soul</td></tr>
    <tr><td><p align="center">Destruction God of Varaz Enbulio</td>
        <td><p align="center">God of Destruction, the Virage Embryo</td></tr>
    <tr><td><p align="center">The Setting Moon and the Final Fate</td>
        <td><p align="center">Moon and Fate</td></tr>
    <tr><td><p align="center">Wurara</td>
        <td><p align="center">Ulara</td></tr>
    <tr><td><p align="center">Luzu</td>
        <td><p align="center">Rogue</td></tr>
    <tr><td><p align="center">Agulus</td>
        <td><p align="center">Agis</td></tr>
    <tr><td><p align="center">Jenebatos</td>
        <td><p align="center">Zenebatos</td></tr>
    <tr><td><p align="center">Mefil</td>
        <td><p align="center">Mayfil</td></tr>
    <tr><td><p align="center">Gradius</td>
        <td><p align="center">Gladius</td></tr>
    <tr><td><p align="center">Sharul</td>
        <td><p align="center">Charle</td></tr>
    <tr><td><p align="center">Karon</td>
        <td><p align="center">Caron</td></tr>
    <tr><td><p align="center">Seal Evil Spheres</td>
        <td><p align="center">Signet Spheres</td></tr>
    <tr><td><p align="center">Destroyer God</td>
        <td><p align="center">God of Destruction</td></tr>
    <tr><td><p align="center">Winged Rehabilitation Program</td>
        <td><p align="center">???? </td></tr>
    <tr><td><p align="center">Motor</td>
        <td><p align="center">Moot</td></tr>
    <tr><td><p align="center">Kubara</td>
        <td><p align="center">Kubila</td></tr>
    <tr><td><p align="center">Bekuta</td>
        <td><p align="center">Vector</td></tr>
    <tr><td><p align="center">Serebu</td>
        <td><p align="center">Selebus</td></tr>
    <tr><td><p align="center">Jagoyle</td>
        <td><p align="center">Zachwell</td></tr>
    <tr><td><p align="center">Kuron</td>
        <td><p align="center">Coolon</td></tr>
    <tr><td><p align="center">Divine Tree Butterfly</td>
        <td><p align="center">Imago</td></tr>
    <tr><td><p align="center">Indra</td>
        <td><p align="center">Indora</td></tr>
    <tr><td><p align="center">Mohair</td>
        <td><p align="center">Michael</td></tr>
    <tr><td><p align="center">Seventh Angel</td>
        <td><p align="center">Archangel</td></tr>
    <tr><td><p align="center">Explosive Bow</td>
        <td><p align="center">Detonate Arrow</td></tr>
    <tr><td><p align="center">Age</td>
        <td><p align="center">Generation</td></tr>
    <tr><td><p align="center">Smoke Jade</td>
        <td><p align="center">Smoke Bomb</td></tr>
    <tr><td><p align="center">Inishie Armour</td>
        <td><p align="center">???</td></tr>
    <tr><td><p align="center">Porter</td>
        <td><p align="center">Polter</td></tr>
    <tr><td><p align="center">Kansas</td>
        <td><p align="center">Kanzas</td></tr>
    <tr><td><p align="center">Vanruzack</td>
        <td><p align="center">Belzac</td></tr>
    <tr><td><p align="center">Shubel</td>
        <td><p align="center">Syuviel</td></tr>
    <tr><td><p align="center">Mailo</td>
        <td><p align="center">Meru</td></tr>
    <tr><td><p align="center">Alberto</td>
        <td><p align="center">Albert</td></tr>
    <tr><td><p align="center">Holy</td>
        <td><p align="center">Light (Element)</td></tr>
    <tr><td><p align="center">Leenus</td>
        <td><p align="center">Miranda (???)</td></tr>
</table>