<h1>Videos</h1>
<p>The promotional movies came from IGN. Unless stated otherwise, the character movies were taken by me. A huge slice
    of gratitude to Brandon, Goran, Random Person #3, Jeanine, and Justina for their donations, and to Michael for the
    hosting.</p>

<p>*NOTE* - Due to the dwindling space left on my server, please do not send me anymore music videos. We are currently
    looking into renting more space, but as to when this will happen is not yet known.</p>

<table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Promotional Movies</td></tr>

    <tr><td><p align="center">Name</td>
        <td><p align="center">Size</td></tr>

    <p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lodcommercial.mov">The Legend of Dragoon Commercial</td>
        <td><p align="center">1.76 MB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dragoonintro1.mov">Japanese Trailer, part 1</td>
        <td><p align="center">3.24 MB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dragoonintro2.mov">Japanese Trailer, part 2</td>
        <td><p align="center">2.90 MB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dragoonintro3.mov">Japanese Trailer, part 3</td>
        <td><p align="center">3.28 MB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dragoonintro4.mov">Japanese Trailer, part 4</td>
        <td><p align="center">2.47 MB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/legendofdragoon1.mov">American Trailer, part 1</td>
        <td><p align="center">2.46 MB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/legendofdragoon2.mov">American Trailer, part 2</td>
        <td><p align="center">968 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/legendofdragoon3.mov">Americal Trailer, part 3</td>
        <td><p align="center">5.43 MB</td></tr>
</table>

<p>
    <table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Dart's Movies</td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>

<p>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartaddition1.WMV">Double Slash</a></td>
    <td><p align="center">543 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartaddition2.WMV">Volcano</a></td>
    <td><p align="center">758 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartaddition3.WMV">Burning Rush</a></td>
    <td><p align="center">638 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartaddition4.WMV">Crush Dance</a></td>
    <td><p align="center">870 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartaddition5.WMV">Madness Hero</a></td>
    <td><p align="center">724 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartaddition6.WMV">Moon Strike</a></td>
    <td><p align="center">1.02 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartaddition7.WMV">Blazing Dynamo</a></td>
    <td><p align="center">980 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartvictory.WMV">Dart's Victory</a></td>
    <td><p align="center">457 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/darttransforms.WMV">Dart Transforms (Red-Eye Dragoon)</a></td>
    <td><p align="center">1.41 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartdragoonaddition.WMV">Dart's Red-Eye Dragoon Addition</a></td>
    <td><p align="center">1.27 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartfs.WMV">Flame Shot</a></td>
    <td><p align="center">1.69 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartep.WMV">Explosion</a></td>
    <td><p align="center">2.76 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartfb.WMV">Final Burst</a></td>
    <td><p align="center">2.78 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartred.WMV">Red-Eye Dragon</a></td>
    <td><p align="center">3.36 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartdragoonvictory.WMV">Dart's Red-Eye Dragoon Victory</a></td>
    <td><p align="center">448 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartddtransformshort.WMV">Dart Transforms (Divine Dragon - Short)</a></td>
    <td><p align="center">1.51 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartddtransform.WMV">Dart Transforms (Divine Dragon - Long)</a></td>
    <td><p align="center">1.52 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartddaddition.WMV">Dart's Divine Dragoon Addition</a></td>
    <td><p align="center">1.45 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartddc.WMV">Divine Dragon Cannon</a></td>
    <td><p align="center">3.37 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartddb.WMV">Divine Dragon Ball</a></td>
    <td><p align="center">2.58 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dartddvictory.WMV">Dart's Divine Dragoon Victory</a></td>
    <td><p align="center">448 KB</td></tr>
</table>


<p>
    <table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Rose's Movies</td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/roseaddition1.WMV">Whip Smack</a></td>
    <td><p align="center">483 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/roseaddition2.WMV">More and More</a></td>
    <td><p align="center">577 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/roseaddition3.WMV">Hard Blade</a></td>
    <td><p align="center">750 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/roseaddition4.WMV">Demon's Dance</a></td>
    <td><p align="center">1.03 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosevictory.WMV">Rose's Victory</a></td>
    <td><p align="center">457 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosetransforms.WMV">Rose Transforms (Dark Dragoon)</a></td>
    <td><p align="center">2.66 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosedragoonaddition.WMV">Rose's Dragoon Addition</a></td>
    <td><p align="center">1.03 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosead.WMV">Astral Drain</a></td>
    <td><p align="center">2.70 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosedd.WMV">Death Dimension</a></td>
    <td><p align="center">2.56 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosedg.WMV">Demon's Gate</a></td>
    <td><p align="center">2.66 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosedadr.WMV">Dark Dragon</a></td>
    <td><p align="center">3.92 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/rosedragoonvictory.WMV">Rose's Dragoon Victory</a></td>
    <td><p align="center">457 KB</td></tr>
    </table>

<hr="5">
<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Lavitz's Movies (donated by Brandon)</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzaddition1.WMV">Harpoon</a></td>
    <td><p align="center">674 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzaddition3.WMV">Spinning Cane</a></td>
    <td><p align="center">877 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzaddition2.WMV">Rod Typhoon</a></td>
    <td><p align="center">815 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzaddition4.WMV">Gust of Wind Dance</a></td>
    <td><p align="center">1.15 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzaddition5.WMV">Flower Storm</a></td>
    <td><p align="center">1.22 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitztransforms.WMV">Lavitz Transforms (Jade Dragoon)</a></td>
    <td><p align="center">995 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzdragoonaddition.WMV">Lavitz's Dragoon Addition</a></td>
    <td><p align="center">1.66 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzwb.WMV">Wing Blaster</a></td>
    <td><p align="center">1.85 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzrs.WMV">Rose Storm</a></td>
    <td><p align="center">2.77 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzgl.WMV">Gaspless</a></td>
    <td><p align="center">2.07 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzjd.WMV">Jade Dragon</a></td>
    <td><p align="center">3.31 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitzdragoonvictory.WMV">Lavitz Dragoon Victory</a></td>
    <td><p align="center">580 KB</td></tr>
    </table>


<hr="5">

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Shana's Movies (donated by Brandon)</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>



    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/shanatransforms.WMV">Shana Transforms (White-Silver Dragoon)</a></td>
    <td><p align="center">1.11 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/shanadragoonattack.WMV">Shana's Dragoon Addition</a></td>
    <td><p align="center">799 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/shanaml.WMV">Moon Light</a></td>
    <td><p align="center">2.55 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/shanasc.WMV">Star Children</a></td>
    <td><p align="center">2.54 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/shanagh.WMV">Gates of Heaven</a></td>
    <td><p align="center">3.19 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/shanawsd.WMV">White-Silver Dragon</a></td>
    <td><p align="center">3.17 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/shanadragoonvictory.WMV">Shana's Dragoon Victory</a></td>
    <td><p align="center">627 KB</td></tr>
    </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Haschel's Movies</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheladdition1.WMV">Double Punch</a></td>
    <td><p align="center">500 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheladdition2.WMV">Ferry (Fury) of Styx</a></td>
    <td><p align="center">741 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheladdition3.WMV">Summon Four Gods</a></td>
    <td><p align="center">715 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheladdition4.WMV">5-Ring Shattering</a></td>
    <td><p align="center">793 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheladdition5.WMV">Hex Hammer</a></td>
    <td><p align="center">801 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheladdition6.WMV">Omni Sweep</a></td>
    <td><p align="center">982 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/haschelvictory.WMV">Haschel's Victory</a></td>
    <td><p align="center">448 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheltransforms.WMV">Haschel Transforms (Violet Dragoon)</a></td>
    <td><p align="center">1.31 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheldragoonaddition.WMV">Haschel's Dragoon Addition</a></td>
    <td><p align="center">1.09 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/haschelam.WMV">Atomic Mind</a></td>
    <td><p align="center">1.70 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheltk.WMV">Thunder Kid</a></td>
    <td><p align="center">2.37 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheltg.WMV">Thunder God</a></td>
    <td><p align="center">2.51 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/haschelvd.WMV">Violet Dragon</a></td>
    <td><p align="center">3.86 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/hascheldragoonvictory.WMV">Haschel's Dragoon Victory</a></td>
    <td><p align="center">440 KB</td></tr>

    </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Albert's Movies</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertaddition1.WMV">Harpoon</a></td>
    <td><p align="center">629 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertaddition2.WMV">Spinning Cane</a></td>
    <td><p align="center">603 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertaddition3.WMV">Rod Typhoon</a></td>
    <td><p align="center">775 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertaddition4.WMV">Gust of Wind Dance</a></td>
    <td><p align="center">991 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertaddition5.WMV">Flower (Blossom) Storm</a></td>
    <td><p align="center">939 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertvictory.WMV">Albert's Victory</a></td>
    <td><p align="center">466 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/alberttransforms.WMV">Albert Transforms (Jade Dragoon)</a></td>
    <td><p align="center">973 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertdragoonaddition.WMV">Albert's Dragoon Addition</a></td>
    <td><p align="center">1.11 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertwb.WMV">Wing Blaster</a></td>
    <td><p align="center">1.51 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertrs.WMV">Rose storm</a></td>
    <td><p align="center">2.58 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertgl.WMV">Gaspless</a></td>
    <td><p align="center">1.87 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertjd.WMV">Jade Dragon</a></td>
    <td><p align="center">3.39 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/albertdragoonvictory.WMV">Albert's Dragoon Victory</a></td>
    <td><p align="center">483 KB</td></tr>
    </table>

<hr="5">
<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Meru's Movies</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>


    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/meruaddition1.WMV">Double Smack</a></td>
    <td><p align="center">500 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/meruaddition2.WMV">Hammer Spin</a></td>
    <td><p align="center">887 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/meruaddition3.WMV">Cool Boogie</a></td>
    <td><p align="center">801 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/meruaddition4.WMV">Cat's Cradle</a></td>
    <td><p align="center">930 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/meruaddition5.WMV">Perky Step</a></td>
    <td><p align="center">905 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/meruvictory.WMV">Meru's Victory</a></td>
    <td><p align="center">465 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/merutransforms.WMV">Meru transforms (Blue Sea Dragoon)</a></td>
    <td><p align="center">1.27 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/merudragoonaddition.WMV">Meru's Dragoon Addition</a></td>
    <td><p align="center">1.40 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/merufr.WMV">Freezing Ring</a></td>
    <td><p align="center">2.14 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/merurb.WMV">Rainbow Breath</a></td>
    <td><p align="center">2.29 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/merudd.WMV">Diamond Dust</a></td>
    <td><p align="center">3.37 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/merubsd.WMV">Blue Sea Dragon</a></td>
    <td><p align="center">4.02 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/merudragoonvictory.WMV">Meru's Dragon Victory</a></td>
    <td><p align="center">431 KB</td></tr>
    </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Kongol's Movies</td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongoladdition1.WMV">Pursuit</a></td>
    <td><p align="center">466 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongoladdition2.WMV">Inferno</a></td>
    <td><p align="center">818 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongoladdition3.WMV">Bone Crush</a></td>
    <td><p align="center">784 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongolvictory.WMV">Kongol's Victory</a></td>
    <td><p align="center">474 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongoltransforms.WMV">Kongol Transforms (Gold Dragoon)</a></td>
    <td><p align="center">1.31 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongoldragoonaddition.WMV">Kongol's Dragoon Addition</a></td>
    <td><p align="center">1.05 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongolgs.WMV">Grand Stream</a></td>
    <td><p align="center">2.38 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongolms.WMV">Meteor Strike</a></td>
    <td><p align="center">2.82 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongolgd.WMV">Gold Dragon</a></td>
    <td><p align="center">3.84 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kongoldragoonvictory.WMV">Kongol's Dragoon Victory</a></td>
    <td><p align="center">448 KB</td></tr>
    </table>

<hr="5">
<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Miranda's Movies</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandaattacks.WMV">Miranda attacks</a></td>
    <td><p align="center">440 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandaattacksall.WMV">Miranda attacks all (Detonate Bow)</a></td>
    <td><p align="center">853 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandavictory.WMV">Miranda's Victory</a></td>
    <td><p align="center">465 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandatransforms.WMV">Miranda Transforms (White Silver Dragoon)</a></td>
    <td><p align="center">1.07 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandadragoonattack.WMV">Miranda's Dragoon Attack</a></td>
    <td><p align="center">517 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandadragoonattacksall.WMV">Miranda's Dragoon Attack All (Detonate Bow)</a></td>
    <td><p align="center">844 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandaml.WMV">Moonlight</a></td>
    <td><p align="center">2.48 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandasc.WMV">Star Children</a></td>
    <td><p align="center">2.25 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandagh.WMV">Gates of Heaven</a></td>
    <td><p align="center">3.07 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandawsd.WMV">White Silver Dragon</a></td>
    <td><p align="center">3.25 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/mirandadragoonvictory.WMV">Miranda's Dragoon Victory</a></td>
    <td><p align="center">448 KB</td></tr>
    </table>

<hr="5">

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Lloyd's Movies (First three donated by Jeanine)</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>



    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloyd1.mpg">Lloyd Attacks 1</a></td>
    <td><p align="center">664 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloyd2.mpg">Lloyd Attacks 2</a></td>
    <td><p align="center">1.91 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloyd3.mpg">Lloyd Attacks 3</a></td>
    <td><p align="center">2.24 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloydattacks.wmv">Lloyd Attacks</a></td>
    <td><p align="center">774 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloydattacks2.wmv">Lloyd Attacks 2</a></td>
    <td><p align="center">774 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloydmagicstance.wmv">Lloyd's Magic Stance</a></td>
    <td><p align="center">549 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloydmagic1.wmv">Lloyd's Magic 1</a></td>
    <td><p align="center">2.88 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloydmagic2.wmv">Lloyd's Magic 2</a></td>
    <td><p align="center">1.28 MB</td></tr>

    </table>

<hr="5">


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Lenus's Movies </td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>



    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lenusattack.wmv">Lenus Attacks </a></td>
    <td><p align="center">561 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lenuswaterattack.wmv">Lenus's Water Attack</a></td>
    <td><p align="center">1.29 MB</td></tr>
    </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Divine Dragon's Movies </td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/divinedragonball.wmv">Divine Dragon Ball</a></td>
    <td><p align="center">1.35 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/divinedragoncannon.wmv">Divine Dragon Cannon</a></td>
    <td><p align="center">1.25 MB</td></tr>
    </table>

<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Belzac's Movies</td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/belzacattacks.wmv">Belzac Attacks</a></td>
    <td><p align="center">999 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/belzacgrandstream.wmv">Grand Stream</a></td>
    <td><p align="center">2.04 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/belzacmeteorstrike.wmv">Meteor Strike</a></td>
    <td><p align="center">2.50 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/belzacgoldendragon.wmv">Belzac's Golden Dragon</a></td>
    <td><p align="center">2.98 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/belzaclooses.wmv">Belzac Looses</a></td>
    <td><p align="center">361 KB</td></tr>
</table>

<p>
    <table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Kanzas's Movies </td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kanzasattacks.wmv">Kanzas Attacks</a></td>
    <td><p align="center">1.15 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kanzasatomicmind.wmv">Atomic Mind</a></td>
    <td><p align="center">1.59 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kanzasthundergod.wmv">Thunder God</a></td>
    <td><p align="center">2.21 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/kanzaslooses.wmv">Kanzas Looses</a></td>
    <td><p align="center">367 KB</td></tr>
    </table>

<hr="5">


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Syuveil's Movies </td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/syuveilattacks.wmv">Syuveil Attacks</a></td>
    <td><p align="center">1.25 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/syuveilwingblaster.wmv">Syuveil Wing Blaster</a></td>
    <td><p align="center">1.55 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/syuveilgaspless.wmv">Syuveil Gaspless</a></td>
    <td><p align="center">1.65 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/syuveiljadedragon.wmv">Jade Dragon</a></td>
    <td><p align="center">2.63 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/syuveillooses.wmv">Syuveil Looses</a></td>
    <td><p align="center">324 KB</td></tr>
    </table>

<p>
    <table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center">Damia's Movies </td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>



    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/damiaattacks.wmv">Damia Attakcs</a></td>
    <td><p align="center">1.28 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/damiafreezingring.wmv">Freezing Ring</a></td>
    <td><p align="center">1.98 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/damiadiamondust.wmv">Diamond Dust</a></td>
    <td><p align="center">2.82 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/damialooses.wmv">Damia Looses</a></td>
    <td><p align="center">330 KB</td></tr>
    </table>

<p>
    <table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Zachwell's Movies </td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zackwell1.wmv">Zackwell Attacks 1</a></td>
    <td><p align="center">486 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zackwell2.wmv">Zackwell Attacks 2</a></td>
    <td><p align="center">661 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zackwell3.wmv">Zackwell Attacks 3</a></td>
    <td><p align="center">1.29 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zackwell4.wmv">Zackwell Attacks 4</a></td>
    <td><p align="center">755 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zackwell5.wmv">Zackwell Attacks 5</a></td>
    <td><p align="center">949 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zackwell6.wmv">Zackwell Attacks 6</a></td>
    <td><p align="center">949 KB</td></tr>
    </table>

<p>
    <table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Faust's Movies </td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/faustattacks.wmv">Faust Attacks</a></td>
    <td><p align="center">286 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/faustmagicpose.wmv">Faust's Magic Pose</a></td>
    <td><p align="center">524 KB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/faustfireattack.wmv">Faust's Fire Attack</a></td>
    <td><p align="center">1.55 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/faustwindattack.wmv">Faust's Wind Attack</a></td>
    <td><p align="center">1.31 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/faustthunderattack.wmv">Faust's Thunder Attack</a></td>
    <td><p align="center">517 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/faustwaterattack.wmv">Faust's Water Attack</a></td>
    <td><p align="center">2.22 MB</td></tr>
    </table>

<hr="5">





<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Item Videos</td></tr>
    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td></tr>
    <tr><td><p align="center">
    <a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/fburnout.wmv">Burn Out</a></td>
    <td><p align="center">0.98 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/fgushingmagma.wmv">Gushing Magma</a></td>
    <td><p align="center">0.95 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/fburningwave.wmv">Burning Wave</a></td>
    <td><p align="center">1.43 MB</td></tr>

    <tr><td><p align="center">
    <a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/ddarkmist.wmv">Dark Mist</a></td>
    <td><p align="center">0.90 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dblackrain.wmv">Black Rain</a></td>
    <td><p align="center">1.09 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dnightraid.wmv">Night Raid</a></td>
    <td><p align="center">1.30 MB</td></tr>


    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/wispinninggale.wmv">Spinning Gale</a></td>
    <td><p align="center">1.10 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/wiravetwister.wmv">Rave Twister</a></td>
    <td><p align="center">1.06 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/widownburst.wmv">Down Burst</a></td>
    <td><p align="center">1.26 MB</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/ltranslight.wmv">Trans Light</a></td>
    <td><p align="center">0.93 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/ldancingray.wmv">Dancing Ray</a></td>
    <td><p align="center">0.99 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lspectralflash.wmv">Spectral Flash</a></td>
    <td><p align="center">1.46 MB</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/tsparknet.wmv">Spark Net</a></td>
    <td><p align="center">1.02 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/tthunderbolt.wmv">Thunderbolt</a></td>
    <td><p align="center">0.99 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/tflashhall.wmv">Flash Hall</a></td>
    <td><p align="center">1.49 MB</td></tr>


    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/waspearfrost.wmv">Spear Frost</a></td>
    <td><p align="center">0.84 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/wafatalblizzard.wmv">Fatal Blizzard</a></td>
    <td><p align="center">1.10 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/wafrozenjet.wmv">Frozen Jet</a></td>
    <td><p align="center">1.74 MB</td></tr>


    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/egravitygrabber.wmv">Gravity Grabber</a></td>
    <td><p align="center">1.33 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/emeteorfall.wmv">Meteor Fall</a></td>
    <td><p align="center">0.98 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/epellet.wmv">Pellet</a></td>
    <td><p align="center">0.96 MB</td></tr>


    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zdetonaterock.wmv">Detonate Rock</a></td>
    <td><p align="center">0.60 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zmidnightterror.wmv">Midnight Terror</a></td>
    <td><p align="center">1.03 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zpanicbell.wmv">Panic Bell</a></td>
    <td><p align="center">0.86 MB</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zpoisonneedle.wmv">Poison Needle</a></td>
    <td><p align="center">0.90 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zpsychebombx.wmv">Psyche Bomb</a></td>
    <td><p align="center">1.17 MB</td></tr>
    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/zstunninghammer.wmv">Stunning Hammer</a></td>
    <td><p align="center">0.64 MB</td></tr>

    </table>

<hr="5">


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="3"><p align="center">Music Videos</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td>
    <td><p align="center">Donated By</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/haunted.WMV">LoD/Haunted</a></td>
    <td><p align="center">11.7 MB</td>
    <td><p align="center">Goran</td></tr>

    <tr><td><p align="center">
        <a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/3doorsdown.WMV">LoD/3 Doors Down</a></td>
    <td><p align="center">18.7 MB</td>
    <td><p align="center">Forgot...</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/bringmetolife.WMV">LoD/Bring Me to Life</a></td>
    <td><p align="center">18.7 MB</td>
    <td><p align="center">Random Person Number 3</td></tr>

    <tr><td><p align="center">
        <a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/ifyoustillbelieve.WMV">LoD/If you Still Believe</a></td>
    <td><p align="center">18.7 MB</td>
    <td><p align="center">Random Person Number 3</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/whatdoi.WMV">LoD/What Do I Have to Do</a></td>
    <td><p align="center">18.7 MB</td>
    <td><p align="center">Random Person Number 3</td></tr>

    <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/krwling.WMV">LoD/Krwling</a></td>
    <td><p align="center">18.7 MB</td>
    <td><p align="center">Justina</td></tr>

    </table>

<hr="5">


<p><table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="4"><p align="center">RTVs (Real-Time Videos)</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Size</td>
    <td><p align="center">Donated By</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lenusaftermath.wmv">Dragoon Lenus Battle, After battle</a></td>
    <td><p align="center">6.26 MB</td>
    <td><p align="center">Me</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/dragonblockstaff.wmv">Dart using the Dragon Block Staff</a></td>
    <td><p align="center">3.51 MB</td>
    <td><p align="center">Me</td></tr>


<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/divinedragonafterbattle.wmv">Divine Dragon, After Battle</a></td>
    <td><p align="center">4.13 MB</td>
    <td><p align="center">Me</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lloydaftermath.wmv">Wink saves Lloyd</a></td>
    <td><p align="center">4.71 MB</td>
    <td><p align="center">Me</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitz1.wmv">Lavitz in Mayfil, pre-battle</a></td>
    <td><p align="center">1.54 MB</td>
    <td><p align="center">Me</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitz2.wmv">Zackwell Emerges</a></td>
    <td><p align="center">911 KB</td>
    <td><p align="center">Me</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/lavitz3.wmv">Lavitz in Mayfil</a></td>
    <td><p align="center">8.38 MB</td>
    <td><p align="center">Me</td></tr>

<p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/melbu.WMV">Movie of Melbu Frahma</a></td>
    <td><p align="center">1.78 MB</td>
    <td><p align="center">Brandon Wanner</td></tr>


    </table>





<p>Thanks to Michael, who temporarily hosted some of these videos over at <a href="https://web.archive.org/web/20150225020551/http://www.theravensnest.net/">The Raven's Nest</a> until I got my new server. :)

<p>If you want to thank someone for these videos, <a href="https://web.archive.org/web/20150225020551/mailto:bwanner88@gmail.com">e-mail Brandon</a>.  He has been very generous in sharing his media with this site. ^_^

<p>*NOTE* - To view these videos, you MUST <a href="https://web.archive.org/web/20150225020551/http://www.free-codecs.net/download/Nic_XviD_Codec.htm">download this codec (Nic's Xvid Codec)</a>.



<hr="5">
<p><table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="75%">
        <tr><td colspan="4"><p align="center">FMVs (Full-Motion Videos)</td></tr>

    <tr><td><p align="center">Name</td>
    <td><p align="center">Low</td>
    <td><p align="center">Med.</td>
    <td><p align="center">High</td></tr>


    <tr><td><p align="center">Opening Sequence</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/1openingsequencelow.avi">2.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/1openingsequencemed.avi">4.1 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/1openingsequencehigh.avi">6.6 MB</a></td></tr>

    <tr><td><p align="center">Attack on Seles</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/2attackonseleslow.avi">3.5 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/2attackonselesmed.avi">7.2 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/2attackonseleshigh.avi">12.0 MB</a></td></tr>

    <tr><td><p align="center">Dragon Campaign Story (told by Minister Noish)</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/3dragoncampaignstorylow.avi">1.4 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/3dragoncampaignstorymed.avi">2.6 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/3dragoncampaignstoryhigh.avi">4.2 MB</a></td></tr>

    <tr><td><p align="center">The Moon that Never Sets (told by Fester)</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/4moonthatneversetslow.avi">2.3 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/4moonthatneversetsmed.avi">4.6 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/4moonthatneversetshigh.avi">7.5 MB</a></td></tr>

    <tr><td><p align="center">Queen Fury &amp; Ghost Ship</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/5queenfuryghostshiplow.avi">1.6 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/5queenfuryghostshipmed.avi">3.4 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/5queenfuryghostshiphigh.avi">5.5 MB</a></td></tr>

    <tr><td><p align="center">Dragon Campaign</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/6dragoncampaignlow.avi">3.9 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/6dragoncampaignmed.avi">7.9 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/6dragoncampaignhigh.avi">13.0 MB</a></td></tr>

    <tr><td><p align="center">The Divine Tree (told by Bishop Dille)</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/7divinetreelow.avi">3.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/7divinetreemed.avi">6.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/7divinetreehigh.avi">10.0 MB</a></td></tr>

    <tr><td><p align="center">A Lesson in History (told by Librarian Ute)</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/8historylow.avi">2.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/8historymed.avi">4.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/8historyhigh.avi">6.3 MB</a></td></tr>

    <tr><td><p align="center">The Black Monster (told by Librarian Ute)</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/9blackmonsterlow.avi">2.5 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/9blackmonstermed.avi">5.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/9blackmonsterhigh.avi">8.2 MB</a></td></tr>

    <tr><td><p align="center">The Divine Dragon Breaks Free</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/10ddbreaksfreelow.avi">1.4 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/10ddbreaksfreemed.avi">2.9 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/10ddbreaksfreehigh.avi">4.7 MB</a></td></tr>

    <tr><td><p align="center">The Divine Dragon Attacks</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/11ddattack1low.avi">1.6 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/11ddattack1med.avi">3.1 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/11ddattack1high.avi">5.0 MB</a></td></tr>

    <tr><td><p align="center">The Divine Dragon Attacks Again</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/12ddattack2low.avi">2.1 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/12ddattack2med.avi">4.3 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/12ddattack2high.avi">7.1 MB</a></td></tr>

    <tr><td><p align="center">Divine Dragon Pre-Battle</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/13ddprebattlelow.avi">0.4 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/13ddprebattlemed.avi">0.8 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/13ddprebattlehigh.avi">1.2 MB</a></td></tr>

    <tr><td><p align="center">Zeig's Unveiling</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/14zieglow.avi">1.3 MB</a></td>
    <td><p align="center">--</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/14zieghigh.avi">4.1 MB</a></td></tr>

    <tr><td><p align="center">Falling Moon</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/15fallingmoonlow.avi">3.9 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/15fallingmoonmed.avi">8.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/15fallingmoonhigh.avi">13.0 MB</a></td></tr>


    <tr><td><p align="center">Escaping the Moon</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/16escapingthemoonlow.avi">7.0 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/16escapingthemoonmed.avi">14.1 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/16escapingthemoonhigh.avi">23.1 MB</a></td></tr>


    <tr><td><p align="center">Ending Sequence</td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/17endingsequencelow.avi">5.1 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/17endingsequencemed.avi">10.5 MB</a></td>
    <td><p align="center"><a href="https://web.archive.org/web/20150225020551/http://www.thelegendofdragoon.net/media/videos/17endingsequencehigh.avi">17.4 MB</a></td></tr>
    
</table>