<h1 id="title">Voice Clips</h1>
<p>These voice clips came from an old desktop theme that is no longer available.</p>

<table border="1" cellpading="0" cellspacing="0" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center">Voice Clips</td></tr>

    <tr><td><p align="center">Name</td>
        <td><p align="center">Size</td></tr>

    <p><tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/lodrainbowbreath.wav">Meru: "Rainbow Breath!"</td>
        <td><p align="center">78.3 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/lodexplosion.wav">Dart: "Explosion!"</td>
        <td><p align="center">55.9 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/lodflameshot.wav">Dart: "Flameshot!"</td>
        <td><p align="center">58.3 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/lodstarchildren.wav">Shana: "Star Children!"</td>
        <td><p align="center">54.4 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/lodfinalburst.wav">Dart: "Final Burst!"</td>
        <td><p align="center">53.2 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/loddivinedragoncannon.wav">Dart: "Divine Dragon Canon!" </td>
        <td><p align="center">120 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/lodsongintro.wav">The intro to the theme song</td>
        <td><p align="center">714 KB</td></tr>
        <tr><td><p align="center"><a href="https://web.archive.org/web/20150225020558/http://www.thelegendofdragoon.net/media/voiceclips/lodsongend.wav">The ending to the theme song</td>
        <td><p align="center">650 KB</td></tr>
</table>