<h1 id="title">Voices and Lyrics from Legend of Dragoon</h1>
<p>Below are the people who lended their voices to be the characters from Legend of Dragoon, and below that you'll find
    the lyrics to that beautiful song, "If You Still Believe".</p>

<table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="75%">
    <tr><td colspan="2"><p align="center"><b>VOICES (ENGLISH)</b></td></tr>
    <tr><td><p align="center">Character</td>
        <td><p align="center">Voice Actor</td></tr>


    <tr><td><p align="center">Dart</td>
        <td><p align="center">John Butterfield</td></tr>
    <tr><td><p align="center">Rose</td>
        <td><p align="center">Awele Makisa</td></tr>
    <tr><td><p align="center">Shana</td>
        <td><p align="center">Donna Moe Wong</td></tr>
    <tr><td><p align="center">Lavitz</td>
        <td><p align="center">Mike Marx</td></tr>
    <tr><td><p align="center">Albert</td>
        <td><p align="center">David Babich</td></tr>
    <tr><td><p align="center">Haschel</td>
        <td><p align="center">Brian Vouglas</td></tr>
    <tr><td><p align="center">Meru</td>
        <td><p align="center">Lucy Kee</td></tr>
    <tr><td><p align="center">Kongol</td>
        <td><p align="center">Emie Joselius</td></tr>
    <tr><td><p align="center">Miranda</td>
        <td><p align="center">Mo Mellady</td></tr>
    <tr><td><p align="center">Lloyd</td>
        <td><p align="center">Jon Russel</td></tr>
    <tr><td><p align="center">Librarian Ute</td>
        <td><p align="center">J.S. Gilbert</td></tr>
    <tr><td><p align="center">Melbu Frahma</td>
        <td><p align="center">David Babich</td></tr>
    <tr><td><p align="center">Zeig Feld</td>
        <td><p align="center">Doug Boyd</td></tr>
    <tr><td><p align="center">Fester</td>
        <td><p align="center">Emie Joselius</td></tr>
    <tr><td><p align="center">Dewey (Deningrad Priest)</td>
        <td><p align="center">Wally Fields</td></tr>
</table>




<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="75%">
        <tr><td colspan="2"><p align="center"><font size="4"><b>VOICES (JAPANESE)</b></td></tr>
    <tr><td><p align="center">Character</td>
    <td><p align="center">Voice Actor </td></tr>

    <tr><td><p align="center">Dart</td>
    <td><p align="center">Tomokazu Seki</td></tr>
    <tr><td><p align="center">Rose</td>
    <td><p align="center">Yumi Tohma</td></tr>
    <tr><td><p align="center">Shana</td>
    <td><p align="center">Akemi Okamura</td></tr>
    <tr><td><p align="center">Ravitz</td>
    <td><p align="center">Kazuhiro Ohguro</td></tr>
    <tr><td><p align="center">Albert</td>
    <td><p align="center">Sin-ichiro Miki</td></tr>
    <tr><td><p align="center">Hatchel</td>
    <td><p align="center">Minoru Inaba</td></tr>
    <tr><td><p align="center">Meru</td>
    <td><p align="center">Yomoko Kawakami</td></tr>
    <tr><td><p align="center">Kongol</td>
    <td><p align="center">Masashi Sugawara</td></tr>
    <tr><td><p align="center">Lloyd</td>
    <td><p align="center">Show Hayami</td></tr>
    <tr><td><p align="center">Uti</td>
    <td><p align="center">Mugihito</td></tr>
    <tr><td><p align="center">Melb</td>
    <td><p align="center">Kaneta Shiozawa</td></tr>
    <tr><td><p align="center">Seig</td>
    <td><p align="center">Akio Otsuka</td></tr>
    <tr><td><p align="center">Phester</td>
    <td><p align="center">Hiroaki Hirata</td></tr>
    <tr><td><p align="center">Dewey (Deningrad Priest)</td>
    <td><p align="center">Akira Kume</td></tr>
    </table>

<h2>"If You Still Believe" Lyrics</h2>

<p>Sung by: Elsa Raven
<br/>Lyrics, Composed/Produced by: Dennis Martin</p>

NOTE: I cannot guarantee these are the EXACT lyrics. I just got them from hearing the song multiple times.

<div class="condensed">
    <div>
        <p>I had a dream that I could fly</p>
        <p>I can feel each moment as time goes by</p>
        <p>We'd never be too far away</p>
        <p>You would always be here I heard you say</p></div>

    <div>
        <p>I never thought (oooohhh)</p>
        <p>Thought that it would be our last goodbye (our last goodbye)</p>
        <p>I still can dream (oooohh)</p>
        <p>That one day love will fall out from the sky (love will fall...ooooohh)</p></div>

    <div><p>Do you still remember</p>
        <p>All the time that has gone by (do you believe)</p>
        <p>Do you still believe that</p>
        <p>Love can fall out from the sky (from the sky)</p></div>

    <div><p>If from where you're standing</p>
        <p>You can see the sky above</p>
        <p>I'll be waiting for you (I'll be waiting)</p>
        <p>If you still believe in love (If you still believe)</p></div>

    <div><p>Find a way</p>
        <p>To bring back yesterday</p>
        <p>Find a way for love (ooohh)</p></div>

    <div><p>I hope you'll stay</p>
        <p>When tomorrow becomes today</p>
        <p>Love will find a way</p></div>

    <div><p>Oh la la la...</p></div>

    <div><p>I'll be waiting for you</p>
        <p>In my heart you are the one (la la la...)</p>
        <p>If I cannot find you</p>
        <p>I will look up to the sun (do you believe...do you believe)</p></div>

    <div><p>If from where you're standing</p>
        <p>You can see the sky above (above...la la la la la...)</p>
        <p>I'll be waiting for you (I'll be waiting)</p>
        <p>If you still believe in love (do you believe...do you believe)</p></div>

    <div><p>Musical interlude</p></div>

    <div><p>Do you still remember</p>
        <p>All the time that has gone by (gone by...la la la la la)</p>
        <p>Do you still believe that</p>
        <p>Love can fall out from the sky (oooohhh)</p></div>

    <div><p>If from where you're standing</p>
        <p>You can see the sky above (do you believe)</p>
        <p>I'll be waiting for you</p>
        <p>If you still believe in love (la la la la la...)</p></div>

    <div><p>La la la la la la</p>
        <p>la la la la la la la (x4)</p></div>
</div>
