<h1 id="title"><u>Weapons and Armor</u></h1>

<p><font size="2">There are many weapons and armor in the land of Endiness.  Some of the armor all the characters can wear, but weapons are made specifically for one character.  Here is a list of most of the weapons and armor in the game, which character they are for, what they do, and where you can find them.
<p>Yeah, I said "most".  I haven't bought all the weapons/armor in the game, mainly because I haven't needed to.  However, that might change in the future.  ;)  Also keep in mind that you can get some of these cool items from enemies too!
<p>Sometimes, two locations are listed.  This is because you can find certain weapons/armor in treasure chests in some areas and stores in others.

<p>Thanks to Dale Ray for some additional information! :D

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="4"><p align="center"><font size="4"><b>WEAPONS</b></font></td></tr>
    <tr><td><p align="center"><font size="3">Character</font></td>
    <td><p align="center"><font size="3"><p align="center">Name</font></font></td>
    <td><p align="center"><font size="3"><p align="center">Description</font></font></td>
    <td><p align="center"><font size="3"><p align="center">Location</font></font></td></tr>


    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Broad Sword</font></td>
    <td><p align="center"><font size="2">Initial weapon</font></td>
    <td><p align="center"><font size="2">Hellana Prison (2)</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Bastard Sword</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Limestone Cave/Bale</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Heat Blade</font></td>
    <td><p align="center"><font size="2">Fire-based attack</font></td>
    <td><p align="center"><font size="2">Kazas/Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Falchion</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Fueno</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Soul Eater</font></td>
    <td><p align="center"><font size="2">Powerful, but decays HP with each turn</font></td>
    <td><p align="center"><font size="2">Polter Armor (Fort Magrad)</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Mind Crush</font></td>
    <td><p align="center"><font size="2">Confuses enemy with given probability</font></td>
    <td><p align="center"><font size="2">Forbidden Land/Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Fairy Sword</font></td>
    <td><p align="center"><font size="2">Gives 50% more SP</font></td>
    <td><p align="center"><font size="2">Ulara</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Claymore</font></td>
    <td><p align="center"><font size="2">--</font></td>
    <td><p align="center"><font size="2">Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Rapier</font></td>
    <td><p align="center"><font size="2">Initial weapon</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Demon Stiletto</font></td>
    <td><p align="center"><font size="2">Frightens enemy with given probability</font></td>
    <td><p align="center"><font size="2">Shirley's Shrine</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Shadow Cutter</font></td>
    <td><p align="center"><font size="2">Darkness-based attack</font></td>
    <td><p align="center"><font size="2">Fletz</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Dancing Dagger</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Ghost Ship/Furni</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Flamberge</font></td>
    <td><p align="center"><font size="2">Stuns enemy with given probability</font></td>
    <td><p align="center"><font size="2">Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Gladius</font></td>
    <td><p align="center"><font size="2">Instantly kills enemy with a given probability</font></td>
    <td><p align="center"><font size="2">Zenebatos</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Dragon Buster</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Spear</font></td>
    <td><p align="center"><font size="2">Initial weapon</font></td>
    <td><p align="center"><font size="2">Hellena Prison (2)</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Lance</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Marshlands/Lohan</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Twister Glaive</font></td>
    <td><p align="center"><font size="2">Wind-based attack</font></td>
    <td><p align="center"><font size="2">Kazas</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Glaive</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Queen Fury</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Spear of Terror</font></td>
    <td><p align="center"><font size="2">Frightens enemy with given probability</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Partisan</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Vellweb</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Halberd</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Zachwell (Mayfil)/Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">Short Bow</font></td>
    <td><p align="center"><font size="2">Initial weapon</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">Sparkle Bow</font></td>
    <td><p align="center"><font size="2">Light-based attack</font></td>
    <td><p align="center"><font size="2">Bale</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">Long Bow</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Kazas</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">Bemusing Bow</font></td>
    <td><p align="center"><font size="2">Confuses enemy with given probability</font></td>
    <td><p align="center"><font size="2">Fueno</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">Virulent Bow</font></td>
    <td><p align="center"><font size="2">Poisons enemy with given probability</font></td>
    <td><p align="center"><font size="2">Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">Arrow of Force</font></td>
    <td><p align="center"><font size="2">Gives 50% more SP</font></td>
    <td><p align="center"><font size="2">Ulara</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">Detonate Arrow</font></td>
    <td><p align="center"><font size="2">Can attack all</font></td>
    <td><p align="center"><font size="2">Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Iron Knuckle</font></td>
    <td><p align="center"><font size="2">Initial weapon</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Beast Fang</font></td>
    <td><p align="center"><font size="2">Stuns enemy with given probability</font></td>
    <td><p align="center"><font size="2">Queen Fury</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Diamond Claw</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Thunder Fist</font></td>
    <td><p align="center"><font size="2">Thunder-based attack</font></td>
    <td><p align="center"><font size="2">Ulara</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Brass Knuckle</font></td>
    <td><p align="center"><font size="2">Instant death with given probability</font></td>
    <td><p align="center"><font size="2">Windigo (Kashua Glacier)</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Destroyer Mace</font></td>
    <td><p align="center"><font size="2">Becomes powerful inversely to HP</font></td>
    <td><p align="center"><font size="2">Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Axe</font></td>
    <td><p align="center"><font size="2">Initial weapon</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Tomahawk</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Battle Axe</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Indora's Axe</font></td>
    <td><p align="center"><font size="2">Instant death with given probability</font></td>
    <td><p align="center"><font size="2">Indora (Moon)</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Great Axe</font></td>
    <td><p align="center"><font size="2">Stuns enemy with given probability</font></td>
    <td><p align="center"><font size="2">Zenebatos</font></td></tr>
    <tr><td><p align="center"><font size="2">Meru</font></td>
    <td><p align="center"><font size="2">Mace</font></td>
    <td><p align="center"><font size="2">Initial weapon</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Meru</font></td>
    <td><p align="center"><font size="2">Morning Star</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Fueno</font></td></tr>
    <tr><td><p align="center"><font size="2">Meru</font></td>
    <td><p align="center"><font size="2">War Hammer</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Wingly Forest</font></td></tr>
    <tr><td><p align="center"><font size="2">Meru</font></td>
    <td><p align="center"><font size="2">Heavy Mace</font></td>
    <td><p align="center"><font size="2">Stuns enemy with given probability</font></td>
    <td><p align="center"><font size="2">Vellweb</font></td></tr>
    <tr><td><p align="center"><font size="2">Meru</font></td>
    <td><p align="center"><font size="2">Pretty Hammer</font></td>
    <td><p align="center"><font size="2">Gives twice SP but not very powerful</font></td>
    <td><p align="center"><font size="2">Last Kraken (Aglis)</font></td></tr>
    <tr><td><p align="center"><font size="2">Meru</font></td>
    <td><p align="center"><font size="2">Basher</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Moon</font></td></tr>
    </table>

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="4"><p align="center"><font size="4"><b>CHEST ARMOR</b></font></font></td></tr>
    <tr><td><p align="center"><font size="3">Character</font></td>
    <td><p align="center"><font size="3">Name</font></font></td>
    <td><p align="center"><font size="3">Description</font></font></td>
    <td><p align="center"><font size="3">Location</font></font></td></tr>

    <tr><td><p align="center"><font size="2">Dart, Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Leather Armor</font></td>
    <td><p align="center"><font size="2">Initial (Dart)</font></td>
    <td><p align="center"><font size="2">Hellena Prison (2)</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart, Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Scale Armor</font></td>
    <td><p align="center"><font size="2">Initial (Lavitz)</font></td>
    <td><p align="center"><font size="2">Bale</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart, Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Chain Mail</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Dragon's Nest/Fletz</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart, Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Saint Armor</font></td>
    <td><p align="center"><font size="2">When physically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart, Albert/Lavitz, Kongol</font></td>
    <td><p align="center"><font size="2">Armor of Yore</font></td>
    <td><p align="center"><font size="2">Avoids poison/stun/arm blocking</font></td>
    <td><p align="center"><font size="2">Fort Magrad</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Clothes</font></td>
    <td><p align="center"><font size="2">Initial (Shana)</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Leather Jacket</font></td>
    <td><p align="center"><font size="2">Initial (Rose)</font></td>
    <td><p align="center"><font size="2">Hellena Prison (1)/Bale</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Silver (Embroidered) Vest</font></td>
    <td><p align="center"><font size="2">Initial (Meru)</font></td>
    <td><p align="center"><font size="2">Hellena Prison (2)/Donau</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Sparkle Dress</font></td>
    <td><p align="center"><font size="2">When physically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Fueno</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Robe</font></td>
    <td><p align="center"><font size="2">When attacked magically, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Rainbow Dress</font></td>
    <td><p align="center"><font size="2">Avoids poison/stun/arm blocking</font></td>
    <td><p align="center"><font size="2">Zenebatos</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Disciple Vest</font></td>
    <td><p align="center"><font size="2">Initial</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Warrior Dress</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Barrens/Queen Fury</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Master's Vest</font></td>
    <td><p align="center"><font size="2">When physically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Satori Vest</font></td>
    <td><p align="center"><font size="2">Avoids poison/stun/arm blocking</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Lion Fur</font></td>
    <td><p align="center"><font size="2">Initial</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Breastplate</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Giganto Armor</font></td>
    <td><p align="center"><font size="2">When physically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Vellweb</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart</font></td>
    <td><p align="center"><font size="2">Red DG Armor</font></td>
    <td><p align="center"><font size="2">Nullifies Fire-based attacks</font></td>
    <td><p align="center"><font size="2">Zenebatos/Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Dark DG Armor</font></td>
    <td><p align="center"><font size="2">Nullifies Darkness-based attacks</font></td>
    <td><p align="center"><font size="2">Zenebatos/Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Jade DG Armor</font></td>
    <td><p align="center"><font size="2">Nullifies Wind-based attacks</font></td>
    <td><p align="center"><font size="2">Zenebatos/Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda</font></td>
    <td><p align="center"><font size="2">White-Silver DG Armor</font></td>
    <td><p align="center"><font size="2">Nullifies Light-based attacks</font></td>
    <td><p align="center"><font size="2">Divine Tree/Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Violet DG Armor</font></td>
    <td><p align="center"><font size="2">Nullifies Thunder-based attacks</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Gold DG Armor</font></td>
    <td><p align="center"><font size="2">Nullifies Earth-based attacks</font></td>
    <td><p align="center"><font size="2">Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">Meru</font></td>
    <td><p align="center"><font size="2">Blue DG Armor</font></td>
    <td><p align="center"><font size="2">Nullifies Water-based attacks</font></td>
    <td><p align="center"><font size="2">Zenebatos/Moon</font></td></tr>
    <tr><td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Armor of Legend</font></td>
    <td><p align="center"><font size="2">Greatly reduces damage from physical attacks</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr></table>

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="4"><p align="center"><font size="4"><b>HEAD ARMOR</b></font></font></td></tr>
    <tr><td><p align="center"><font size="3">Character</font></td>
    <td><p align="center"><font size="3">Name</font></font></td>
    <td><p align="center"><font size="3">Description</font></font></td>
    <td><p align="center"><font size="3">Location</font></font></td></tr>

    <tr><td><p align="center"><font size="2">All Males</font></td>
    <td><p align="center"><font size="2">Bandana</font></td>
    <td><p align="center"><font size="2">Initial (Dart)</font></td>
    <td><p align="center"><font size="2">Limestone Cave</font></td></tr>
    <tr><td><p align="center"><font size="2">All Males</font></td>
    <td><p align="center"><font size="2">Sallet</font></td>
    <td><p align="center"><font size="2">Initial (Lavitz) Increases hit of physical attacks by 10%</font></td>
    <td><p align="center"><font size="2">Bale</font></td></tr>
    <tr><td><p align="center"><font size="2">All Males</font></td>
    <td><p align="center"><font size="2">Armet</font></td>
    <td><p align="center"><font size="2">Initial (Haschel, Kongol)</font></td>
    <td><p align="center"><font size="2">Kazas</font></td></tr>
    <tr><td><p align="center"><font size="2">Dart, Albert/Lavitz</font></td>
    <td><p align="center"><font size="2">Knight Helm</font></td>
    <td><p align="center"><font size="2">When magically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Valley of Corrupted Gravity/Fueno</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Felt Hat</font></td>
    <td><p align="center"><font size="2">Initial (Shana, Rose)</font></td>
    <td><p align="center"><font size="2">Hellena (2)</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Cape</font></td>
    <td><p align="center"><font size="2">None</font></td>
    <td><p align="center"><font size="2">Lohan</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Tiara</font></td>
    <td><p align="center"><font size="2">Initial (Meru), Increases hit rate of magical attacks by 10%</font></td>
    <td><p align="center"><font size="2">Donau</font></td></tr>
    <tr><td><p align="center"><font size="2">Shana/Miranda, Meru</font></td>
    <td><p align="center"><font size="2">Jeweled Crown</font></td>
    <td><p align="center"><font size="2">When magically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Undersea Cavern/Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">Rose</font></td>
    <td><p align="center"><font size="2">Rose's Hairband</font></td>
    <td><p align="center"><font size="2">Avoids instant death</font></td>
    <td><p align="center"><font size="2">Vellweb</font></td></tr>
    <tr><td><p align="center"><font size="2">Haschel</font></td>
    <td><p align="center"><font size="2">Soul Headband</font></td>
    <td><p align="center"><font size="2">When magically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">Kongol</font></td>
    <td><p align="center"><font size="2">Giganto Helm</font></td>
    <td><p align="center"><font size="2">When magically attacked, SP is accumulated</font></td>
    <td><p align="center"><font size="2">Furni</font></td></tr>
    <tr><td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Dragon Helm</font></td>
    <td><p align="center"><font size="2">Raises maximum HP 50%</font></td>
    <td><p align="center"><font size="2">Mt. Mortal Dragon/Kashua Glacier</font></td></tr>
    <tr><td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Legend Casque</font></td>
    <td><p align="center"><font size="2">Reduces damage from magical attacks</font></td>
    <td><p align="center"><font size="2">Lohan</font></td></tr>
    <tr><td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Phoenix Plume</font></td>
    <td><p align="center"><font size="2">Avoids bewitchment, confusion, fear, and despirit</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Magical Hat</font></td>
    <td><p align="center"><font size="2">Raises maximum SP 50%</font></td>
    <td><p align="center"><font size="2">Kashua Glacier/Aglis</font></td></tr></table>

<p><table border="1" cellpading="10" cellspacing="10" style="border-collapse: collapse" width="100%">
        <tr><td colspan="4"><p align="center"><font size="4"><b>FOOT ARMOR</b></font></font></td></tr>
    <tr><td><p align="center"><font size="3">Character</font></td>
    <td><p align="center"><font size="3">Name</font></font></td>
    <td><p align="center"><font size="3">Description</font></font></td>
    <td><p align="center"><font size="3">Location</font></font></td></tr>

    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Dancer's Shoes</font></td>
    <td><p align="center"><font size="2">Gives 20pts more agility (speed)</font></td>
    <td><p align="center"><font size="2">Forbidden Land</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Soft Boots</font></td>
    <td><p align="center"><font size="2">Initial (Meru)</font></td>
    <td><p align="center"><font size="2">Fletz</font></td></tr>
    <tr><td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Leather Boots/Shoes</font></td>
    <td><p align="center"><font size="2">Initial</font></td>
    <td><p align="center"><font size="2">--</font></td></tr>
    <tr><td><p align="center"><font size="2">All Males</font></td>
    <td><p align="center"><font size="2">Bandit's Shoes</font></td>
    <td><p align="center"><font size="2">Gives 20 points more agility</font></td>
    <td><p align="center"><font size="2">Death Frontier</font></td></tr>
    <tr><td><p align="center"><font size="2">All</font></td>
    <td><p align="center"><font size="2">Magical Greaves</font></td>
    <td><p align="center"><font size="2">Increases escape rate of magic/physical attacks by 5pts</font></td>
    <td><p align="center"><font size="2">Ulara</font></td></tr>
    <tr><td><p align="center"><font size="2">All Females</font></td>
    <td><p align="center"><font size="2">Stardust Boots</font></td>
    <td><p align="center"><font size="2">Increases escape rate from magical attacks by 5pts</font></td>
    <td><p align="center"><font size="2">Deningrad</font></td></tr>
    <tr><td><p align="center"><font size="2">All Males</font></td>
    <td><p align="center"><font size="2">Iron Kneepiece</font></td>
    <td><p align="center"><font size="2">Initial (Haschel, Kongol)</font></td>
    <td><p align="center"><font size="2">Kazas</font></td></tr>
    <tr><td><p align="center"><font size="2">All Males</font></td>
    <td><p align="center"><font size="2">Combat Shoes</font></td>
    <td><p align="center"><font size="2">Increases escape rate from physical attacks by 5 pts.</font></td>
    <td><p align="center"><font size="2">Furni</font></td></tr></table>